<% content_for :title, "Confirm co-working allocation – Digital Prison Services" %>

<%= render :partial => "/shared/backlink", :locals => { :page => new_prison_coworking_path(@prison.code, nomis_offender_id: @prisoner.offender_no) } %>

<%= form_tag(prison_coworking_index_path(@prison.code), method: :post, id: "confirm_coworking_allocation_form") do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Check co-working allocation details
for <%= "#{@prisoner.first_name} #{@prisoner.last_name}".titleize %></h1>
      <span class="govuk-caption-l govuk-!-margin-bottom-2">Primary POM: <%= "#{@primary_pom.first_name} #{@primary_pom.last_name}".titleize %></span>
      <span class="govuk-caption-l">Prison number: <%= @prisoner.offender_no %></span>
      <span class="govuk-caption-l">Date of birth: <%= format_date(@prisoner.date_of_birth) %> (<%= @prisoner.age %>)</span>
    </div>
  </div>

  <div class="govuk-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <% if @secondary_pom.email_address.blank? %>
          <p class="govuk-body">No notification email will be sent to <%= "#{@secondary_pom.first_name} #{@secondary_pom.last_name}".titleize %> as they have no registered email address in NOMIS.</p>
        <% else %>
          <p class="govuk-body">We will send the information below to co-working prison POM <strong><%= @secondary_pom.email_address %></strong> and notify <%= "#{@primary_pom.first_name} #{@primary_pom.last_name}".titleize %> of this allocation.</p>
        <% end %>

        <div class="govuk-inset-text govuk-!-padding-top-1 govuk-!-padding-bottom-1">
          <% if @latest_allocation_details.present? %>
            <%= render partial: 'allocations/allocated_details', locals: @latest_allocation_details %>
          <% end %>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="message">Add a note to the email</label>
            <textarea class="govuk-textarea govuk-!-margin-bottom-2" id="message" name="coworking_allocations[message]]" rows="3" aria-describedby="message"></textarea>
          </div>
        </div>

        <%= hidden_field_tag("coworking_allocations[nomis_offender_id]", @prisoner.offender_no) %>
        <%= hidden_field_tag("coworking_allocations[nomis_staff_id]", @secondary_pom.staff_id) %>
        <%= submit_tag "Complete allocation", role: "button", draggable: "false", class: "govuk-button" %>
        <a class="govuk-link cancel-button" href="<%= new_prison_coworking_path(@prison.code, @prisoner.offender_no) %>">Cancel</a>

      </div>
    </div>
  </div>
<% end %>
