<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Confirm removal of co-working Prison Offender Manager</h1>

<p class="govuk-body">
  You are removing co-working POM <%= @allocation.secondary_pom_name %> who was working with <%= @prisoner.full_name %>.
  The <%= @responsibility_type %> POM is <%= @allocation.primary_pom_name %>.
</p>

<p class="govuk-body">We will send a confirmation email to <%= @primary_pom.email_address %></p>

<%= form_tag(prison_coworking_path(@prison.code, @prisoner.offender_no), method: :delete) do %>
  <div class="govuk-form-group">
    <button type="submit" class="govuk-button">Confirm</button>
    <%= link_to 'Cancel',  prison_allocation_path(@prison.code, @prisoner.offender_no),
                class: 'govuk-link cancel-button' %>
  </div>
<% end %>
