<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Community information</h2>
  </div>
  <div class="govuk-summary-card__content">
    <% if case_information %>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Local divisional unit (LDU)</dt>
          <dd class="govuk-summary-list__value"><%= case_information.ldu_name || "Unknown" %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Local divisional unit (LDU) email address</dt>
          <dd class="govuk-summary-list__value">
            <% if case_information.ldu_email_address.present? %>
              <%= mail_to(case_information.ldu_email_address, case_information.ldu_email_address) %>
            <% else %>
              Unknown
            <% end %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Team</dt>
          <dd class="govuk-summary-list__value"><%= case_information.team_name || "Unknown" %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">COM</dt>
          <dd class="govuk-summary-list__value"><%= case_information.com_name || "Unknown" %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">COM Email</dt>
          <dd class="govuk-summary-list__value"><%= case_information.com_email || "Unknown" %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Probation Service</dt>
          <dd class="govuk-summary-list__value"><%= case_information.probation_service || "Unknown" %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">MAPPA Level</dt>
          <dd class="govuk-summary-list__value"><%= case_information.mappa_level || "Unknown" %></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Manual Entry?</dt>
          <dd class="govuk-summary-list__value"><%= case_information.manual_entry ? 'Yes' : 'No' %></dd>
        </div>
      </dl>
    <% else %>
      <p class="govuk-body">None recorded</p>
    <% end %>
  </div>
</div>
