<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Offender details</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Full name</dt>
        <dd class="govuk-summary-list__value"><%= @offender.full_name %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date of birth</dt>
        <dd class="govuk-summary-list__value"><%= @offender.date_of_birth&.strftime('%d/%m/%Y') %><%= ' (Under 18)' unless @offender.over_18? %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Prison</dt>
        <dd class="govuk-summary-list__value"><%= @offender.prison&.name %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Legal status</dt>
        <dd class="govuk-summary-list__value"><%= @offender.legal_status %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Sentenced?</dt>
        <dd class="govuk-summary-list__value"><%= humanized_bool @offender.sentenced? %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Recalled?</dt>
        <dd class="govuk-summary-list__value"><%= humanized_bool @offender.recalled? %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Early allocation?</dt>
        <dd class="govuk-summary-list__value"><%= humanized_bool @offender.early_allocation? %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Open prison conditions?</dt>
        <dd class="govuk-summary-list__value"><%= humanized_bool @offender.open_prison_rules_apply? %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Womens prison?</dt>
        <dd class="govuk-summary-list__value"><%= humanized_bool @offender.in_womens_prison? %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Determinate parole?</dt>
        <dd class="govuk-summary-list__value"><%= humanized_bool @offender.determinate_parole? %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Handover type</dt>
        <dd class="govuk-summary-list__value"><%= t("handover_type.#{@offender.handover_type}") %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Restricted patient?</dt>
        <dd class="govuk-summary-list__value"><%= humanized_bool @offender.restricted_patient? %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Tiering calculation</dt>
        <dd class="govuk-summary-list__value"><%= probation_field(@offender, :tier) || 'Not provided' %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">MAPPA level</dt>
        <dd class="govuk-summary-list__value"><%= probation_field(@offender, :mappa_level) || 'Not provided' %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Last completed OASys</dt>
        <dd class="govuk-summary-list__value">
          <% if oasys_assessment.nil? %>
            No OASys information
            <% %>
          <% elsif oasys_assessment.fetch(:assessment_type) == Faraday::ConflictError %>
            This prisoner has more than one OASys record linked to their prison number. Merge these records or delete
            one so we can display their OASys information.
          <% elsif oasys_assessment.fetch(:assessment_type) == Faraday::ServerError %>
            We cannot show this right now. Please try again later.
          <% else %>
            Layer <%= oasys_assessment.fetch(:assessment_type)[-1] %>
            – <%= format_date(oasys_assessment.fetch(:completed)) %>
          <% end %>
        </dd>
      </div>
    </dl>
  </div>
</div>
