<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<% if notice.present? %>
  <p class="notification govuk-!-margin-bottom-9" role="group" aria-labelledby="notice-heading">
    <%= notice %>
  </p>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Dashboard</h1>

<div class="govuk-!-margin-bottom-4">
  <!-- SPO users can do full search, POM users can only search their caseload -->
  <% if @is_spo %>
    <%= render "search/search_box" %>
  <% else %>
    <%= render "poms/search_box" %>
  <% end %>
</div>

<% if @is_spo %>
  <h2 class="govuk-heading-m no-bottom-margin">Allocate a prisoner to an offender manager</h2>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-grid-row dashboard-row">
    <%= render 'dashboard_partition',
               title: "Make new allocations",
               link:  unallocated_prison_prisoners_path(@prison.code),
               content: display_content(@unallocated_cases_count,
                 no_cases: "You don’t have any cases to allocate currently.",
                 one_case: "You have 1 case to allocate to a POM.",
                 multiple_cases: "You have #{@unallocated_cases_count} cases to allocate to POMs.")
    %>

    <%= render 'dashboard_partition',
               title: "Add missing details",
               link: missing_information_prison_prisoners_path(@prison.code),
               content: display_content(@missing_details_cases_count,
                 no_cases: "None of your cases are missing information right now.",
                 one_case: "You need to add missing details to 1 case before it can be allocated to a POM.",
                 multiple_cases: "You need to add missing details to #{@missing_details_cases_count} cases before they can be allocated to POMs.")
    %>

    <%= render 'dashboard_partition',
               title: "Newly arrived",
               link: new_arrivals_prison_prisoners_path(@prison.code),
               content: "Cases that have not yet been matched with NDelius records."
    %>
  </div>

  <div class="govuk-grid-row dashboard-row">
    <%= render 'dashboard_partition',
               title: "See all allocated prisoners.",
               link: allocated_prison_prisoners_path(@prison.code),
               content: "All prisoners who have been allocated to POMs."
    %>

    <%= render 'dashboard_partition',
               title: "See case handover status",
               link: prison_handovers_path(@prison.code),
               content: "Cases where responsibility is being handed over or is within 30 days of handover to the community probation team."
    %>
  </div>
<% end  %>

<% if @is_pom %>
  <h2 class="govuk-heading-m no-bottom-margin">Manage cases</h2>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-grid-row dashboard-row">
    <%= render 'dashboard_partition',
               title: "See your caseload",
               link: prison_staff_caseload_path(@prison.code, @staff_id),
               content: "All prisoners allocated to you."
    %>

    <%= render 'dashboard_partition',
               title: "See new allocations",
               link: prison_staff_new_cases_path(@prison.code, @staff_id),
               content: "Prisoners allocated to you in the last 7 days."
    %>

    <%= render 'dashboard_partition',
               title: "See cases close to handover",
               link: prison_staff_caseload_handovers_path(@prison.code, @staff_id),
               content: "All cases coming up for handover to the community in the next 30 days."
    %>
  </div>

  <div class="govuk-grid-row dashboard-row">
    <%= render 'dashboard_partition',
               title: "Case updates needed",
               link: prison_tasks_path(@prison.code),
               content: "Update information so handover dates and community probation details are correct."
    %>

  </div>
<% end %>

<% if @is_spo %>
  <h2 class="govuk-heading-m no-bottom-margin">Manage staff</h2>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-grid-row dashboard-row">
    <%= render 'dashboard_partition',
               title: "View all offender managers",
               link: prison_poms_path(@prison.code),
               content: "Check and edit availability of offender managers."
    %>
    <div class="govuk-grid-column-one-third"></div>
    <div class="govuk-grid-column-one-third"></div>
  </div>
<% end %>