<% content_for :title, "POM caseload dashboard – Digital Prison Services" %>

<% if notice.present? %>
  <p class="notification govuk-!-margin-bottom-9" role="group" aria-labelledby="notice-heading">
    <%= notice %>
  </p>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Recall status error affecting prisoner responsibility
        </h3>
        <p class="govuk-body">A technical problem affecting some people's recall status is causing responsibility to be shown as with the community probation team when it should be with the prison. As soon as this issue is fixed, responsibility for people affected will be recalculated and automatically changed to being with the prison.</p>
      </div>
    </div>
  </div>
</div>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><%= t('service_name') %></h1>

<div class="govuk-!-margin-bottom-4">
  <%= render "search/search_box" %>
</div>

<% if @is_spo %>
  <h2 class="govuk-heading-m no-bottom-margin govuk-!-margin-top-3">Allocate and manage cases</h2>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
  <div class="govuk-grid-row card-group">
    <%= render 'dashboard_partition',
               title: "Make allocations",
               link: unallocated_prison_prisoners_path(@prison.code),
               content: display_content(@unallocated_cases_count,
                                        no_cases: "You don’t have any cases to allocate currently.",
                                        one_case: "You have 1 case to allocate.",
                                        multiple_cases: "You have #{@unallocated_cases_count} cases to allocate.")
    %>

    <%= render 'dashboard_partition',
               title: "All allocated cases",
               link: allocated_prison_prisoners_path(@prison.code),
               content: "Everyone who has been allocated to POMs in this prison."
    %>

    <%= render 'dashboard_partition',
               title: "Add missing details",
               link: missing_information_prison_prisoners_path(@prison.code),
               content: display_content(@missing_details_cases_count,
                                        no_cases: "No cases are missing information right now.",
                                        one_case: "Missing details need to be added to 1 case before it can be allocated to a POM.",
                                        multiple_cases: "Missing details need to be added to #{@missing_details_cases_count} cases before they can be allocated to POMs.")
    %>
  </div>

  <div class="govuk-grid-row card-group">
    <%= render 'dashboard_partition',
               title: "View all handover cases",
               link: upcoming_prison_handovers_path(@prison.code),
               content: "Track the progress of cases being handed over to the community probation team."
    %>

    <% if USE_PPUD_PAROLE_DATA %>
      <%= render 'dashboard_partition',
                 title: "Parole cases",
                 link: prison_parole_cases_path(@prison.code),
                 content: t('parole.upcoming.spo')
      %>
    <% end %>

    <%= render 'dashboard_partition',
               title: "Newly arrived cases",
               link: new_arrivals_prison_prisoners_path(@prison.code),
               content: "Cases waiting to be matched with NDelius records before they can be allocated."
    %>

    <%= render 'dashboard_partition',
               title: "Get help with this service",
               link: help_dashboard_path,
               content: "Adding staff members, missing cases and problems with case responsibility."
    %>
  </div>

  <h2 class="govuk-heading-m no-bottom-margin govuk-!-margin-top-3">Manage staff</h2>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
  <div class="govuk-grid-row card-group">
    <%= render 'dashboard_partition',
               title: "View all POMs",
               link: prison_poms_path(@prison.code),
               content: "See what POMs are working on and change their availability."
    %>
    <div class="govuk-grid-column-one-third"></div>
    <div class="govuk-grid-column-one-third"></div>
  </div>
<% end %>

<% if @is_pom %>
  <h2 class="govuk-heading-m no-bottom-margin govuk-!-margin-top-3">Caseload information</h2>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
  <div class="govuk-grid-row card-group">
    <%= render 'dashboard_partition',
               title: "Your cases",
               link: prison_staff_caseload_path(@prison.code, @staff_id),
               content: "All cases allocated to you."
    %>

    <%= render 'dashboard_partition',
               title: "New allocations",
               link: prison_staff_caseload_cases_path(@prison.code, @staff_id, anchor: 'recent-allocations'),
               content: "Cases allocated to you in the last 7 days."
    %>

    <%= render 'dashboard_partition',
               title: "View your handover cases",
               link: upcoming_prison_handovers_path(@prison.code, pom: 'user'),
               content: "Keep track of your cases that must be handed over to the community probation team."
    %>
  </div>

  <div class="govuk-grid-row card-group">
    <% if USE_PPUD_PAROLE_DATA %>
      <%= render 'dashboard_partition',
                 title: 'Parole cases',
                 link: prison_staff_caseload_parole_cases_path(@prison.code, @staff_id),
                 content: t('parole.upcoming.pom')
      %>
    <% end %>

    <%= render 'dashboard_partition',
               title: "Case updates needed",
               link: prison_staff_caseload_updates_required_path(@prison.code, @staff_id),
               content: display_content(@case_updates_needed_count,
                                        no_cases: "You do not have any cases to update right now.",
                                        one_case: "Enter some information to ensure responsibility for this case is correct.",
                                        multiple_cases: "Enter some information to ensure responsibility for these cases is correct.")
    %>

    <%= render 'dashboard_partition',
               title: "All allocations in this prison",
               link: prison_staff_caseload_global_path(@prison.code, @staff_id),
               content: "Cases allocated to all POMs."
    %>

    <%= render 'dashboard_partition',
               title: "Get help with this service",
               link: help_dashboard_path,
               content: "Adding staff members, missing cases and problems with case responsibility."
    %>
  </div>
<% end %>
