<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<h1 class="govuk-heading-xl">Dashboard</h1>

<div class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
<%= render "search/search_box" %>
</div>

<h2 class="govuk-heading-m no-bottom-margin">Allocate a prisoner to an offender manager</h2>
<hr class="govuk-section-break govuk-section-break--visible">
<div class="govuk-grid-row dashboard-row">
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "See all allocated prisoners", summary_allocated_path, class:"govuk-link" %>
      </h1>
      <p class="govuk-body">All prisoners who have been allocated to a Prison Offender Manager.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "Make new allocations", summary_unallocated_path, class:"govuk-link" %>
      </h1>
      <p class="govuk-body">Prisoners who need to be allocated to a Prison Offender Manager.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "Update case information", summary_pending_path, class:"govuk-link" %>
      </h1>
      <p class="govuk-body">Prisoners with missing case information. This needs to be updated before they can be allocated.</p>
    </div>
  </div>
</div>

<% if @is_pom %>
  <h2 class="govuk-heading-m no-bottom-margin">See all prisoners allocated to you</h2>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-grid-row dashboard-row">
    <div class="govuk-grid-column-one-third">
      <div class="wrapper">
        <h1 class="govuk-heading-s">
          <%= link_to "See your caseload", caseload_index_path, class:"govuk-link" %>
        </h1>
        <p class="govuk-body">All prisoners allocated to you.</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="wrapper">
        <h1 class="govuk-heading-s">
          <%= link_to "See new allocations", new_caseload_path, class:"govuk-link" %>
        </h1>
        <p class="govuk-body">Prisoners allocated to you in the last seven days.</p>
      </div>
    </div>
  </div>
<% end %>

<h2 class="govuk-heading-m no-bottom-margin">Manage staff</h2>
<hr class="govuk-section-break govuk-section-break--visible">
<div class="govuk-grid-row dashboard-row">
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "View all offender managers", poms_path(), class:"govuk-link" %>
      </h1>
      <p class="govuk-body">Check and edit availability of offender managers.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third"></div>
  <div class="govuk-grid-column-one-third"></div>
</div>
