<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<% if notice.present? %>
  <p class="notification govuk-!-margin-bottom-9" role="group" aria-labelledby="notice-heading">
    <%= notice %>
  </p>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Dashboard</h1>

<div class="govuk-!-margin-bottom-4">
  <%= render "search/search_box" %>
</div>

<% if @is_spo %>
<h2 class="govuk-heading-m no-bottom-margin">Allocate a prisoner to an offender manager</h2>
<hr class="govuk-section-break govuk-section-break--visible">
<div class="govuk-grid-row dashboard-row">
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "See all allocated prisoners", prison_summary_allocated_path(@prison.code), class:"govuk-link" %>
      </h1>
      <p class="govuk-body">All prisoners who have been allocated to a Prison Offender Manager.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "Make new allocations", prison_summary_unallocated_path(@prison.code), class:"govuk-link" %>
      </h1>
      <p class="govuk-body">Prisoners who need to be allocated to a Prison Offender Manager.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "Update case information", prison_summary_pending_path(@prison.code), class:"govuk-link" %>
      </h1>
      <p class="govuk-body">Prisoners with missing case information. This needs to be updated before they can be allocated.</p>
    </div>
  </div>
</div>

<div class="govuk-grid-row dashboard-row">
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "Newly arrived", prison_summary_new_arrivals_path(@prison.code), class:"govuk-link" %>
      </h1>
      <p class="govuk-body">Prisoners whose case information has not yet been matched with nDelius.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "See all handover cases", prison_summary_handovers_path(@prison.code), class:"govuk-link" %>
      </h1>
      <p class="govuk-body">All cases that are within the handover period or start the handover process to the community in the next 30 days.</p>
    </div>
  </div>
</div>

<% end  %>

<% if @is_pom %>
  <h2 class="govuk-heading-m no-bottom-margin">Manage cases</h2>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-grid-row dashboard-row">
    <div class="govuk-grid-column-one-third">
      <div class="wrapper">
        <h1 class="govuk-heading-s">
          <%= link_to "See your caseload", prison_caseload_index_path(@prison.code), class:"govuk-link" %>
        </h1>
        <p class="govuk-body">All prisoners allocated to you.</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="wrapper">
        <h1 class="govuk-heading-s">
          <%= link_to "See new allocations", new_prison_caseload_path(@prison.code), class:"govuk-link" %>
        </h1>
        <p class="govuk-body">Prisoners allocated to you in the last seven days.</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="wrapper">
        <h1 class="govuk-heading-s">
          <%= link_to "See cases close to handover", prison_caseload_handover_start_path(@prison.code), class:"govuk-link" %>
        </h1>
        <p class="govuk-body">All cases for start of handover to the community in the next thirty days</p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row dashboard-row">
    <div class="govuk-grid-column-one-third">
      <div class="wrapper">
        <h1 class="govuk-heading-s">
          <%= link_to "Case updates needed", prison_tasks_path(@prison.code), class:"govuk-link" %>
        </h1>
        <p class="govuk-body">Update information so handover dates and community probation details are correct.</p>
      </div>
    </div>
  </div>

<% end %>

<% if @is_spo %>
  <h2 class="govuk-heading-m no-bottom-margin">Manage staff</h2>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-grid-row dashboard-row">
    <div class="govuk-grid-column-one-third">
      <div class="wrapper">
        <h1 class="govuk-heading-s">
          <%= link_to "View all offender managers", prison_poms_path(@prison.code), class:"govuk-link" %>
        </h1>
        <p class="govuk-body">Check and edit availability of offender managers.</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third"></div>
    <div class="govuk-grid-column-one-third"></div>
  </div>
<% end %>