<% content_for :title, "POM caseload dashboard – Digital Prison Services" %>

<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<% if notice.present? %>
  <p class="notification govuk-!-margin-bottom-9" role="group" aria-labelledby="notice-heading">
    <%= notice %>
  </p>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Dashboard</h1>

<div class="govuk-!-margin-bottom-4">
  <%= render "search/search_box" %>
</div>

<% if @is_spo %>
  <h2 class="govuk-heading-m no-bottom-margin govuk-!-margin-top-3">Allocate and manage cases</h2>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
  <div class="govuk-grid-row card-group">
    <%= render 'dashboard_partition',
               title: "Make allocations",
               link: unallocated_prison_prisoners_path(@prison.code),
               content: display_content(@unallocated_cases_count,
                                        no_cases: "You don’t have any cases to allocate currently.",
                                        one_case: "You have 1 case to allocate.",
                                        multiple_cases: "You have #{@unallocated_cases_count} cases to allocate.")
    %>

    <%= render 'dashboard_partition',
               title: "All allocated cases",
               link: allocated_prison_prisoners_path(@prison.code),
               content: "Everyone who has been allocated to POMs in this prison."
    %>

    <%= render 'dashboard_partition',
               title: "Add missing details",
               link: missing_information_prison_prisoners_path(@prison.code),
               content: display_content(@missing_details_cases_count,
                                        no_cases: "No cases are missing information right now.",
                                        one_case: "Missing details need to be added to 1 case before it can be allocated to a POM.",
                                        multiple_cases: "Missing details need to be added to #{@missing_details_cases_count} cases before they can be allocated to POMs.")
    %>
  </div>

  <div class="govuk-grid-row card-group">
    <%= render 'dashboard_partition',
               title: "View all handover cases",
               link: upcoming_prison_handovers_path(@prison.code),
               content: "Track the progress of cases being handed over to the community probation team."
    %>

    <%= render 'dashboard_partition',
               title: "Newly arrived cases",
               link: new_arrivals_prison_prisoners_path(@prison.code),
               content: "Cases waiting to be matched with NDelius records before they can be allocated."
    %>
  </div>

  <h2 class="govuk-heading-m no-bottom-margin govuk-!-margin-top-3">Manage staff</h2>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
  <div class="govuk-grid-row card-group">
    <%= render 'dashboard_partition',
               title: "View all POMs",
               link: prison_poms_path(@prison.code),
               content: "See what POMs are working on and change their availability."
    %>
    <div class="govuk-grid-column-one-third"></div>
    <div class="govuk-grid-column-one-third"></div>
  </div>
<% end %>

<% if @is_pom %>
  <h2 class="govuk-heading-m no-bottom-margin govuk-!-margin-top-3">Caseload information</h2>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5">
  <div class="govuk-grid-row card-group">
    <%= render 'dashboard_partition',
               title: "Your cases",
               link: prison_staff_caseload_path(@prison.code, @staff_id),
               content: "All cases allocated to you."
    %>

    <%= render 'dashboard_partition',
               title: "New allocations",
               link: prison_staff_caseload_cases_path(@prison.code, @staff_id, anchor: 'recent-allocations'),
               content: "Cases allocated to you in the last 7 days."
    %>

    <%= render 'dashboard_partition',
               title: "View your handover cases",
               link: upcoming_prison_handovers_path(@prison.code, pom: '1'),
               content: "Keep track of your cases that must be handed over to the community probation team."
    %>
  </div>

  <div class="govuk-grid-row card-group">
    <%= render 'dashboard_partition',
               title: "Case updates needed",
               link: prison_staff_caseload_updates_required_path(@prison.code, @staff_id),
               content: display_content(@case_updates_needed_count,
                                        no_cases: "You do not have any cases to update right now.",
                                        one_case: "Enter some information to ensure responsibility for this case is correct.",
                                        multiple_cases: "Enter some information to ensure responsibility for these cases is correct.")
    %>

    <%= render 'dashboard_partition',
               title: "All allocations in this prison",
               link: prison_staff_caseload_global_path(@prison.code, @staff_id),
               content: "Cases allocated to all POMs."
    %>
  </div>
<% end %>
