<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<% if notice.present? %>
  <p class="notification govuk-!-margin-bottom-9" role="group" aria-labelledby="notice-heading">
    <%= notice %>
  </p>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Dashboard</h1>

<div class="govuk-!-margin-bottom-4">
  <%= render "poms/search_box" %>
</div>

<h2 class="govuk-heading-m no-bottom-margin">Manage cases</h2>
<hr class="govuk-section-break govuk-section-break--visible">
<div class="govuk-grid-row dashboard-row">
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "See your caseload", prison_staff_caseload_path(@prison.code, @staff_id ), class:"govuk-link" %>
      </h1>
      <p class="govuk-body">All prisoners allocated to you.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "See new allocations", prison_staff_new_cases_path(@prison.code, @staff_id), class:"govuk-link" %>
      </h1>
      <p class="govuk-body">Prisoners allocated to you in the last seven days.</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "See cases close to handover", prison_staff_caseload_handovers_path(@prison.code, @staff_id), class:"govuk-link" %>
      </h1>
      <p class="govuk-body">All cases for start of handover to the community in the next thirty days</p>
    </div>
  </div>
</div>
<div class="govuk-grid-row dashboard-row">
  <div class="govuk-grid-column-one-third">
    <div class="wrapper">
      <h1 class="govuk-heading-s">
        <%= link_to "Case updates needed", prison_tasks_path(@prison.code), class:"govuk-link" %>
      </h1>
      <p class="govuk-body">Update information so handover dates and community probation details are correct.</p>
    </div>
  </div>
</div>