<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Record handover progress for <%= @offender.first_name.titleize %>
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Handover started</h2>
    <p class="govuk-body">
      You have completed
      <%= @handover_progress_checklist.progress_data['complete'] %>
      of
      <%= @handover_progress_checklist.progress_data['total'] %>
      tasks.
    </p>

    <div class="govuk-inset-text govuk-inset-text--com-responsible-date">
      COM responsible from <%= format_date(@offender.com_responsible_date, replacement: 'Unknown') %>
    </div>

    <%= form_for(@handover_progress_checklist,
                 url: prison_update_handover_progress_checklist_path(@prison.code,
                                                                     @handover_progress_checklist.nomis_offender_id),
                 method: :put) do |form| %>
      <div class="app-task-list">
        <ul class="app-task-list__items">

          <% if @handover_progress_checklist.case_allocation == 'NPS' %>
            <li class="app-task-list__item">
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <%= form.check_box :reviewed_oasys, class: 'govuk-checkboxes__input', 'aria-describedby': 'reviewed-oasys-hint' %>
                  <%= form.label :reviewed_oasys, class: 'govuk-label govuk-checkboxes__label' do %>
                    <strong>Review the last OASys assessment</strong>
                  <% end %>
                  <%= handover_progress_checklist_completion_tag @handover_progress_checklist.reviewed_oasys %>

                  <span class="govuk-hint govuk-checkboxes__hint" id="reviewed-oasys-hint">
                  Check the last OASys assessment still reflects current risks and circumstances. If not, update it to
                  show how things have changed and any work not completed.
                </span>
                </div>
              </div>
            </li>
          <% end %>

          <li class="app-task-list__item">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <%= form.check_box :contacted_com, class: 'govuk-checkboxes__input', 'aria-describedby': 'contacted-com-hint' %>
                <%= form.label :contacted_com, class: 'govuk-label govuk-checkboxes__label' do %>
                  <strong>Have contact from COM</strong>
                <% end %>
                <%= handover_progress_checklist_completion_tag @handover_progress_checklist.contacted_com %>

                <span class="govuk-hint govuk-checkboxes__hint" id="contacted-com-hint">
                    Highlight any of the prisoner's pre-release or pre-parole needs and any public protection concerns
                    you have identified.
                </span>
              </div>
            </div>
          </li>

          <li class="app-task-list__item">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <%= form.check_box :attended_handover_meeting, class: 'govuk-checkboxes__input',
                                   'aria-describedby': 'attended-handover-meeting-hint' %>
                <%= form.label :attended_handover_meeting, class: 'govuk-label govuk-checkboxes__label' do %>
                  <strong>Attend handover meeting</strong>
                <% end %>
                <%= handover_progress_checklist_completion_tag @handover_progress_checklist.attended_handover_meeting %>

                <span class="govuk-hint govuk-checkboxes__hint" id="attended-handover-meeting-hint">
                    The COM should be in touch about arranging this with you, the prisoner and anyone else involved in
                    the case, such as family members and key workers.
                </span>
              </div>
            </div>
          </li>

        </ul>
      </div>

      <div class="govuk-button-group handover-progress-checklist-save-tasks">
        <%= form.button 'Save tasks', type: 'submit', role: 'button', draggable: 'false',
                        class: 'govuk-button', data: { module: 'govuk-button' } %>

        <%= link_to 'Cancel', 'javascript:history.back()',
                    class: "govuk-link govuk-link govuk-link--no-visited-state" %>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render '/handovers/more_on_handovers' %>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m" id="subsection-title">
      Case details
    </h2>
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <p class="govuk-body">
          Name: <%= link_to @offender.full_name_ordered, prison_prisoner_path(@prison.code, @offender.offender_no) %>
        </p>
        <p class="govuk-body">Date of birth: <%= format_date(@offender.date_of_birth, replacement: 'Unknown') %></p>
        <p class="govuk-body">Prison number: <%= @offender.offender_no %></p>
        <p class="govuk-body">COM name: <%= @offender.allocated_com_name %></p>
        <p class="govuk-body">COM email: <%= @offender.allocated_com_email %></p>
      </li>
    </ul>
  </div>
</div>
