<% content_for :title, translate('handovers.page_title.progress_checklist'), flush: true %>

<%= link_to "Back", last_handovers_url, class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Record handover progress for <%= @offender.first_name.titleize %>
    </h1>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <% if @handover_progress_checklist.progress_data['complete'] == 0 %>
        Handover not started
      <% else %>
        Handover started
      <% end %>
    </h2>

    <p class="govuk-body">
      You have completed
      <%= @handover_progress_checklist.progress_data['complete'] %>
      of
      <%= @handover_progress_checklist.progress_data['total'] %>
      tasks.
    </p>

    <div class="govuk-inset-text">
      COM responsible from <%= format_date(@offender.model.handover_date, replacement: 'Unknown') %>
    </div>

    <%= form_for(@handover_progress_checklist,
                 url: prison_update_handover_progress_checklist_path(
                   @prison.code, @handover_progress_checklist.nomis_offender_id
                 ), method: :put) do |form| %>
      <div class="app-task-list">
        <ul class="app-task-list__items">
          <% @handover_progress_checklist.task_completion_data.each do |task_field, complete| %>
            <% task_field = task_field.to_sym %>
            <% hint_id = handover_progress_task_hint_id(task_field) %>
            <li class="app-task-list__item with-divider">
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <%= form.check_box task_field, class: 'govuk-checkboxes__input', 'aria-describedby': hint_id %>
                  <%= form.label task_field, class: 'govuk-label govuk-checkboxes__label' do %>
                    <strong><%= handover_progress_task_label(task_field) %></strong>
                  <% end %>
                  <%= handover_progress_checklist_completion_tag(complete) %>

                  <span class="govuk-hint govuk-checkboxes__hint" id="<%= hint_id %>">
                    <%= handover_progress_task_hint(task_field) %>
                  </span>
                </div>
              </div>
            </li>
          <% end %>

        </ul>
      </div>

      <div class="govuk-button-group">
        <%= form.button 'Save tasks', type: 'submit', role: 'button', draggable: 'false',
                        class: 'govuk-button', data: { module: 'govuk-button' } %>

        <%= link_to 'Cancel', last_handovers_url, class: "govuk-link govuk-link--no-visited-state" %>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render '/handovers/more_on_handovers' %>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m" id="subsection-title">
      Case details
    </h2>
    <ul class="govuk-list">
      <li>Name: <%= link_to @offender.full_name_ordered, prison_prisoner_path(@prison.code, @offender.offender_no) %></li>
      <li>Date of birth: <%= format_date(@offender.date_of_birth, replacement: 'Unknown') %></li>
      <li>Prison number: <%= @offender.offender_no %></li>
      <li>COM name: <%= @offender.allocated_com_name || 'Unknown' %></li>
      <li>COM email: <%= @offender.allocated_com_email || 'Unknown' %></li>
    </ul>
  </div>
</div>
