<% content_for :title, "Confirm allocation – Digital Prison Services" %>

<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<%= form_for(@allocation,
              url: wizard_path,
              builder: GOVUKDesignSystemFormBuilder::FormBuilder,
              method: :put) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Check allocation details for <%= "#{@prisoner.first_name} #{@prisoner.last_name}".titleize %></h1>
      <span class="govuk-caption-l">Prison number: <%= @prisoner.offender_no %></span>
      <span class="govuk-caption-l">Date of birth: <%= format_date(@prisoner.date_of_birth) %> (<%= @prisoner.age %>)</span>
    </div>
  </div>

  <div class="govuk-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <% if @pom.email_address.blank? %>
          <p>No notification email will be sent to <strong><%= "#{@pom.first_name} #{@pom.last_name}".titleize %></strong> as they have no registered email address in NOMIS.</p>
        <% else %>
          <% if @event == :reallocate_primary_pom %>
            <p>We will send the information below to <strong><%= @pom.email_address %></strong> and notify <%= @prev_pom_name %> of the reallocation.</p>
          <% else %>
            <p>We will send the information below to <strong><%= @pom.email_address %></strong>.</p>
          <% end %>
        <% end %>

        <div class="govuk-inset-text govuk-!-padding-top-1 govuk-!-padding-bottom-1">
          <% if @latest_allocation_details.present? %>
            <%= render partial: 'allocations/allocated_details', locals: @latest_allocation_details %>
          <% end %>

          <%= form.govuk_text_area :message,
                                  label: { text: 'Add a note to the email (optional)', size: 's' },
                                  rows: 3, class: 'govuk-!-margin-top-2 govuk-!-margin-bottom-2' %>
        </div>

        <div class="govuk-button-group">
          <%= form.submit 'Complete allocation', class: 'govuk-button', data: { module: 'govuk-button' } %>
          <%= link_to 'Cancel', 'javascript:history.back()', class: "govuk-link govuk-link--no-visited-state" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
