<% content_for :title, "Why are you allocating to this POM? – Digital Prison Services" %>

<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@override,
                 url: wizard_path,
                 builder: GOVUKDesignSystemFormBuilder::FormBuilder,
                 method: :put) do |form| %>
      <%= form.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        Why are you allocating a <%= pom_level(@pom.position, titleize: false) %> to <%= @prisoner.full_name_ordered %> (<%= @prisoner.offender_no %>)?
      </h1>

      <%= render 'shared/override_reasons_form', form: form, offender: @prisoner, pom: @pom %>

      <%= form.submit 'Continue', class: 'govuk-button', data: { module: 'govuk-button' } %>
    <% end %>
  </div>
</div>
