<div class="moj-banner moj-banner--success">
  <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
  <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path></svg>

  <div class="moj-banner__message">
    <span class="moj-banner__assistive">Success</span>
    <span class="message"><%= offender_name %> allocated to <%= pom_name %></span>

    <details class="govuk-details" data-module="govuk-details" style="margin-top: 10px; margin-bottom: 5px;">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          You can copy information about this allocation to paste into an email to someone else
        </span>
      </summary>

      <div class="govuk-details__text">
        <ul id="text-to-copy" class="govuk-list" style="margin-top: 10px;">
          <li>Name: <%= offender_name %></li>
          <li>Prison number: <%= prisoner_number %></li>
          <li>POM: <%= pom_name %></li>
          <li>POM role: <%= pom_role %></li>

          <% if USE_MAPPA_IN_ALLOC_MSG %>
            <li class="govuk-!-margin-top-4">MAPPA: <%= mappa_level %></li>
          <% end %>

          <% unless [high_rosh_children, high_rosh_public, high_rosh_known_adult, high_rosh_staff, high_rosh_prisoners].compact.empty? %>
            <li class="govuk-!-margin-top-4">High RoSH:
              <ul class="govuk-list govuk-list--bullet">
                <li>Children - <%= high_rosh_children %></li>
                <li>Public - <%= high_rosh_public %></li>
                <li>Known adult - <%= high_rosh_known_adult %></li>
                <li>Staff - <%= high_rosh_staff %></li>
                <li>Prisoners - <%= high_rosh_prisoners %></li>
              </ul>
            </li>
          <% end %>

          <% if USE_ALERTS_IN_ALLOC_MSG %>
            <li class="govuk-!-margin-top-4">Active alerts: <%= active_alerts %></li>
          <% end %>

          <li class="govuk-!-margin-top-4">Last OASys completed: <%= last_oasys_completed %></li>
          <li>Handover start due: <%= handover_start_date %></li>
          <li>Handover completion due: <%= handover_completion_date %></li>

          <li class="govuk-!-margin-top-4">LDU: <%= ldu_name %></li>
          <li>LDU email: <%= ldu_email %></li>
          <li>COM: <%= com_name %></li>
          <li>COM email: <%= com_email %></li>

          <li class="govuk-!-margin-top-4 govuk-!-margin-bottom-3">Additional notes: <%= additional_notes %></li>
        </ul>

        <button onclick="copyToClipboard('text-to-copy')" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Copy this information
        </button>
      </div>
    </details>
  </div>
</div>