<ul id="text-to-copy" class="govuk-list" style="margin-top: 10px;">
  <li>Name: <%= offender_name %></li>
  <li>Prison number: <%= prisoner_number %></li>

  <% if prev_pom_name.blank? %>
    <% if co_working_pom_name.nil? %>
      <li>POM: <%= pom_name %></li>
    <% else %>
      <li>Primary POM: <%= pom_name %></li>
      <li>Co-working POM: <%= co_working_pom_name %></li>
    <% end %>
  <% else %>
    <li>Allocating from: <%= prev_pom_name %></li>
    <li>Allocating to: <%= pom_name %></li>
  <% end %>

  <li>POM role: <%= pom_role %></li>

  <li class="govuk-!-margin-top-4">MAPPA: <%= mappa_details[:short_description] %></li>

  <% if rosh[:status] == 'found' %>
    <li class="govuk-!-margin-top-4"><%= rosh[:overall] %> RoSH:
      <% %i[custody community].each do |area| %>
        <p><%= area.to_s.capitalize %>:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Children - <%= rosh[area][:children] %></li>
          <li>Public - <%= rosh[area][:public] %></li>
          <li>Known adult - <%= rosh[area][:known_adult] %></li>
          <li>Staff - <%= rosh[area][:staff] %></li>
          <li>Prisoners - <%= rosh[area][:prisoners] || 'N/A' %></li>
        </ul>
      <% end %>
    </li>
  <% end %>

  <li class="govuk-!-margin-top-4">Active alerts: <%= active_alerts %></li>

  <li class="govuk-!-margin-top-4">Last OASys completed: <%= last_oasys_completed %></li>
  <li>Handover completion due: <%= handover_completion_date %></li>

  <li class="govuk-!-margin-top-4">LDU: <%= ldu_name %></li>
  <li>LDU email: <%= ldu_email %></li>
  <li>COM: <%= com_name %></li>
  <li>COM email: <%= com_email %></li>

  <% unless additional_notes.blank? %>
    <li class="govuk-!-margin-top-4 govuk-!-margin-bottom-3">Additional notes: <%= additional_notes %></li>
  <% end %>
</ul>