<li class="action_needed">
  <h2 class="govuk-heading-s"><%= allocation_type %> allocation</h2>
<p>Prisoner allocated to <%= pom_name.titleize %>
  <% unless @pom_emails[pom_nomis_id].nil? %>
    - <%= mail_to(@pom_emails[pom_nomis_id]) %>
  <% end %>
  <br/>
  Tier: <%= allocation.allocated_at_tier %></p>
  <% if allocation.override_reasons.present? %>
    <p class="govuk-body govuk-!-margin-bottom-1">
      <%= display_override_pom(allocation) %></p>
    <p class="govuk-body govuk-!-margin-bottom-1">Reason(s):</p>
    <% allocation.override_reasons.each do | reason| %>
      <%= display_override_details(reason, allocation) %>
    <% end %>
  <% end %>
<p class="time"><%= format_date_long(allocation.updated_at) %>
  <% if allocation.created_by_name.present? %>
    by <%= allocation.created_by_name.titleize %></p>
  <% end %>
</li>
