<table class="govuk-table govuk-!-margin-top-3">
  <tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row">Case information</td>
    <td class="govuk-table__cell"></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-!-width-one-half">Current case owner</td>
    <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half responsibility_change">
      <%= case_owner_label(@prisoner) %>
      <% if @prisoner.pom_responsible? %>
        <%= link_to 'Change', new_prison_responsibility_path(@prison.code, nomis_offender_id: @prisoner.offender_no), class: 'govuk-link pull-right' %>
      <% elsif @prisoner.responsibility_override? %>
        <%= link_to 'Change', confirm_removal_prison_responsibility_path(@prison.code, @prisoner.offender_no), class: 'govuk-link pull-right' %>
      <% end %>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">POM role</td>
    <td class="govuk-table__cell table_cell__left_align">
      <%= pom_responsibility_label(@prisoner) %>
    </td>
  </tr>
  <tr class="govuk-table__row" id="handover-start-date-row">
    <td class="govuk-table__cell govuk-!-width-one-half">Handover start date</td>
    <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
      <%= format_date(@prisoner.handover_start_date) %>
      <span class="handover-reason">(<%= @prisoner.handover_reason %>)</span>
    </td>
  </tr>
  <tr class="govuk-table__row" id="responsibility-handover-date-row">
    <td class="govuk-table__cell govuk-!-width-one-half">Responsibility handover</td>
    <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
      <%= format_date(@prisoner.responsibility_handover_date) %>
      <span class="handover-reason">(<%= @prisoner.handover_reason %>)</span>
    </td>
  </tr>
  <tr class="govuk-table__row" id="welsh-offender-row">
    <td class="govuk-table__cell">Last known address in Wales</td>
    <td class="govuk-table__cell table_cell__left_align">
      <%= humanized_bool(@prisoner.welsh_offender) %>
      <%= link_to 'Change', edit_prison_case_information_path(@prison.code, @prisoner.offender_no), class: 'govuk-link pull-right' if @prisoner.manual_entry? %>
    </td>
  </tr>
  <tr class="govuk-table__row" id="service-provider-row">
    <td class="govuk-table__cell">Service provider</td>
    <td class="govuk-table__cell table_cell__left_align">
      <%= service_provider_label(@prisoner.case_allocation) %>
      <%= link_to 'Change', edit_prison_case_information_path(@prison.code, @prisoner.offender_no), class: 'govuk-link pull-right' if @prisoner.manual_entry? %>
    </td>
  </tr>
  <tr class="govuk-table__row" id="tier-row">
    <td class="govuk-table__cell">Tiering calculation</td>
    <td class="govuk-table__cell table_cell__left_align">
    Tier <%= @prisoner.tier %>
      <%= link_to 'Change', edit_prison_case_information_path(@prison.code, @prisoner.offender_no), class: 'govuk-link pull-right' if @prisoner.manual_entry? %>
    </td>
  </tr>
  <%= render 'allocations/female_complexity_level', url: edit_prison_prisoner_complexity_level_allocation_path(@prison.code, @prisoner.offender_no) %>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Allocation history</td>
    <td class="govuk-table__cell table_cell__left_align">
      <% if @allocation.present? %>
        <%= last_event(@allocation) %>
        <%= link_to 'View', prison_allocation_history_path(@prison.code, @prisoner.offender_no), class: "govuk-link pull-right" %>
      <% else %>
      No history
      <% end %>
    </td>
  </tr>
  </tbody>
</table>
