<h4 class="govuk-heading-m">
  Recommendation: <%= @prisoner.case_owner %> POM
</h4>

<p>This recommendation takes the prisoner's tier and
time left to serve into account.</p>

<table class="govuk-table responsive">
  <thead class="govuk-table__head">
  <h2 class="govuk-heading-s">Active <%= @prisoner.case_owner.downcase %> POMs</h2>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">Name</th>
    <th class="govuk-table__header" scope="col">Previous<br/>allocation</th>
    <th class="govuk-table__header" scope="col">Tier A<br/>cases</th>
    <th class="govuk-table__header" scope="col">Tier B<br/>cases</th>
    <th class="govuk-table__header" scope="col">Tier C<br/>cases</th>
    <th class="govuk-table__header" scope="col">Tier D<br/>cases</th>
    <th class="govuk-table__header" scope="col">Total</th>
    <th class="govuk-table__header" scope="col">Working<br/>pattern</th>
    <th class="govuk-table__header" scope="col">Action</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% @recommended_poms.each_with_index do |pom, i| %>
    <tr class="govuk-table__row recommended_pom_row_<%= i %>">
      <td aria-label="POM name" class="govuk-table__cell "><%= pom.full_name %></td>
      <td aria-label="Previous allocation" class="govuk-table__cell">
        <%= 'Yes' if @previously_allocated_pom_ids.include?(pom.staff_id) %>
      </td>
      <td aria-label="Tier A cases" class="govuk-table__cell "><%= pom.tier_a %></td>
      <td aria-label="Tier B cases" class="govuk-table__cell "><%= pom.tier_b %></td>
      <td aria-label="Tier C cases" class="govuk-table__cell "><%= pom.tier_c %></td>
      <td aria-label="Tier D cases" class="govuk-table__cell "><%= pom.tier_d %></td>
      <td aria-label="Total" class="govuk-table__cell "><%= pom.total_cases %></td>
      <td aria-label="Working pattern" class="govuk-table__cell"><%= working_pattern_name(pom.working_pattern) %></td>
      <td aria-label="Action" class="govuk-table__cell table_cell__left_align">
        <% if current_page?(action: :new) %>
          <%= link_to "Allocate", confirm_allocations_path(@prisoner.offender_no, pom.staff_id), class: "govuk-link" %>
        <% end %>
        <% if current_page?(action: :edit) %>
          <%= link_to "Reallocate", confirm_allocations_path(@prisoner.offender_no, pom.staff_id), class: "govuk-link" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<!-- Spacer -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-4"></div>
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <% if @prisoner.case_owner == 'Probation' %>
        Show active prison officer POMs
      <% else %>
        Show active probation officer POMs
      <% end %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <table class="govuk-table responsive">
      <h2 class="govuk-heading-m">
      </h2>
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Name</th>
        <th class="govuk-table__header" scope="col">Previous<br/>allocation</th>
        <th class="govuk-table__header" scope="col">Tier A<br/>cases</th>
        <th class="govuk-table__header" scope="col">Tier B<br/>cases</th>
        <th class="govuk-table__header" scope="col">Tier C<br/>cases</th>
        <th class="govuk-table__header" scope="col">Tier D<br/>cases</th>
        <th class="govuk-table__header" scope="col">Total</th>
        <th class="govuk-table__header" scope="col">Working<br/>pattern</th>
        <th class="govuk-table__header" scope="col">Action</th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @not_recommended_poms.each_with_index do |pom, i| %>
        <tr class="govuk-table__row not_recommended_pom_row_<%= i %>">
          <td aria-label="POM name" class="govuk-table__cell "><%= pom.full_name %></td>
          <td aria-label="Previous allocation" class="govuk-table__cell">
            <%= 'Yes' if @previously_allocated_pom_ids.include?(pom.staff_id) %>
          </td>
          <td aria-label="Tier A cases" class="govuk-table__cell "><%= pom.tier_a %></td>
          <td aria-label="Tier B cases" class="govuk-table__cell "><%= pom.tier_b %></td>
          <td aria-label="Tier C cases" class="govuk-table__cell "><%= pom.tier_c %></td>
          <td aria-label="Tier D cases" class="govuk-table__cell "><%= pom.tier_d %></td>
          <td aria-label="Total" class="govuk-table__cell "><%= pom.total_cases %></td>
          <td aria-label="Working pattern" class="govuk-table__cell"><%= working_pattern_name(pom.working_pattern) %></td>
          <td aria-label="Action" class="govuk-table__cell table_cell__right_align">
            <% if current_page?(action: :new) %>
              <%= link_to "Allocate", new_overrides_path(@prisoner.offender_no, pom.staff_id), class: "govuk-link" %>
            <% else %>
              <%= link_to "Reallocate", new_overrides_path(@prisoner.offender_no, pom.staff_id), class: "govuk-link" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</details>
