<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <%= form_tag(prison_allocations_path(@prison.code), id: "confirm_allocation_form") do %>
      <h1 class="govuk-heading-xl govuk-!-margin-top-4">Confirm allocation</h1>
      <p class="govuk-body">You are allocating <%= "#{@prisoner.first_name} #{@prisoner.last_name}".titleize %> to <%= "#{@pom.first_name} #{@pom.last_name}".titleize %>.</p>
      <% if @pom.email_address.blank? %>
        <p class="govuk-body">No notification email will be sent to <%= "#{@pom.first_name} #{@pom.last_name}".titleize %> as they have no registered email address in NOMIS.</p>
      <% else %>
        <p class="govuk-body">We will send a confirmation email to <%= @pom.email_address %>.</p>
      <% end %>

    <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="message">Add a note to the email:</label>
        <span id="message_hint" class="govuk-hint">For example, you can tell the prison offender manager about any special requirements.</span>
        <textarea class="govuk-textarea" id="message" name="allocations[message]]" rows="3" aria-describedby="message"></textarea>
      </div>
      <%= hidden_field_tag("allocations[nomis_offender_id]", @prisoner.offender_no) %>
      <%= hidden_field_tag("allocations[nomis_staff_id]", @pom.staff_id) %>
      <%= hidden_field_tag("allocations[event]", @event) %>
      <%= hidden_field_tag("allocations[event_trigger]", @event_trigger) %>
      <%= hidden_field_tag("sort", params[:sort]) %>
      <%= hidden_field_tag("page", params[:page]) %>
      <%= submit_tag "Complete allocation", role: "button", draggable: "false", class: "govuk-button" %>
      <a class="govuk-link cancel-button" href="<%= new_prison_allocation_path(@prison.code, @prisoner.offender_no) %>">Cancel</a>
    <% end %>
  </div>

</div>

  <%= render :partial => "/shared/analytics_form_event",
             :locals => {
                :form_id => 'confirm_allocation_form',
                :event_name => 'Allocate confirmation Form',
                :event_action => 'submit'
              }
  %>
