<%= render :partial => "/shared/backlink", :locals => { :page => prison_allocation_path(@prison, @prisoner.offender_no) } %>

<h1 class="govuk-heading-l"><%= @prisoner.full_name %></h1>

<% @history.grouped_by_prison do |prison, allocations| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <div class="timeline">
        <h2 class="govuk-heading-m"><%= prison_title(prison) %></h2>
        <ul>
          <% allocations.each do |allocation| %>
            <% if allocation.event == 'allocate_primary_pom' %>
              <%= render :partial => "allocate_primary_pom", :locals => { allocation: allocation } %>
            <% elsif allocation.event == 'reallocate_primary_pom' %>
              <%= render :partial => "reallocate_primary_pom", :locals => { allocation: allocation } %>
            <% elsif allocation.event == 'deallocate_primary_pom' %>
              <%= render :partial => "deallocate_primary_pom", :locals => { allocation: allocation } %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
