<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<h1 class="govuk-heading-l"><%= @prisoner.full_name %></h1>

<% allocation_list(@history).each do |prison, allocations| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <h2 class="govuk-heading-m"><%= prison_title(prison) %></h2>
      <div class="moj-timeline">
          <% allocations.each_with_index do |allocation, i| %>
            <% if allocation.event == 'allocate_primary_pom' %>
              <%= render :partial => "allocate_primary_pom",
                         :locals => { allocation: allocation,
                                      pom_name: allocation.primary_pom_name,
                                      pom_nomis_id: allocation.primary_pom_nomis_id } %>
            <% elsif allocation.event == 'reallocate_primary_pom' %>
              <%= render :partial => "reallocate_primary_pom",
                         :locals => { allocation: allocation,
                                      pom_name: allocation.primary_pom_name,
                                      pom_nomis_id: allocation.primary_pom_nomis_id} %>
            <% elsif allocation.event == 'allocate_secondary_pom' %>
              <%= render :partial => "allocate_secondary_pom",
                         :locals => { allocation: allocation,
                                      pom_name: allocation.secondary_pom_name,
                                      pom_nomis_id: allocation.secondary_pom_nomis_id} %>
            <% elsif allocation.event == 'deallocate_primary_pom' %>
              <%= render :partial => "deallocate_pom",
                         :locals => { allocation: allocation,
                                      allocation_type: 'Prisoner',
                                      pom_name: allocations[i + 1].primary_pom_name,
                                      pom_email: @pom_emails[allocations[i + 1].primary_pom_nomis_id] }%>
            <% elsif allocation.event == 'deallocate_secondary_pom' %>
              <%= render :partial => "deallocate_pom",
                         :locals => { allocation: allocation,
                                      allocation_type: 'Co-working',
                                      pom_name: allocations[i + 1].secondary_pom_name,
                                      pom_email: @pom_emails[allocations[i + 1].secondary_pom_nomis_id] } %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>
