<h1 class="govuk-heading-xl">Allocations</h1>

<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
      Allocations
  </h2>
  <ul class="govuk-tabs__list" role='tablist'>
      <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#allocated">
          Allocated (<%= @summary.allocated_total %>)
      </a>
      </li>
      <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#awaiting-allocation">
          Awaiting allocation (<%= @summary.unallocated_total %>)
      </a>
      </li>
      <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#awaiting-information">
          Awaiting information (<%= @summary.missing_info_total %>)
      </a>
      </li>
  </ul>

  <%= render 'allocated' %>
  <%= render 'awaiting' %>
  <%= render 'awaiting_information' %>
</div>
