<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Allocate a Prison Offender Manager</h1>

<%= render 'shared/basic_prisoner_info' %>

<%= render partial: 'shared/offence_info', locals: { editable_prd: true }  %>

<%= render 'allocations/case_information' %>

<%= render partial: 'shared/community_information', locals: { editable: true } %>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible" />

<%= render 'allocations/pom_tables' %>
