<% content_for :title, "Allocation information – Digital Prison Services" %>

<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<%= render 'layouts/notice', notice: flash[:notice] %>

<% if @prisoner.needs_a_com? %>
  <%= render partial: 'shared/notifications/offender_needs_a_com', locals: { offender: @prisoner } %>
<% end %>

<% if @latest_allocation_details.present? %>
  <%= render partial: 'allocations/allocated_notice', locals: @latest_allocation_details %>
<% end %>

<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Allocation information</h1>

<%= render 'shared/badges', offender: @prisoner %>
<%= vlo_tag(@prisoner) %>

<div class="govuk-!-margin-top-1">
  <table class="govuk-table">
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header" scope="row">Prisoner information</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Name</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half"><%= @prisoner.full_name %></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Prisoner number</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= @prisoner.offender_no %>
        <%= link_to 'View DPS Profile', digital_prison_service_profile_path(@prisoner.offender_no), class: "govuk-link pull-right", target: "_blank" %>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Date of birth</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half"><%= format_date(@prisoner.date_of_birth) %></td>
    </tr>
    <tr class="govuk-table__row" id="offender-category">
      <td class="govuk-table__cell govuk-!-width-one-half">Category</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half"><%= @prisoner.category_label || "Unknown" %></td>
    </tr>
    <tr class="govuk-table__row" id="tier-row">
      <td class="govuk-table__cell">Tiering calculation</td>
      <td id="tier" class="govuk-table__cell table_cell__left_align">
        Tier <%= @prisoner.tier %>
        <%= link_to 'Change', edit_prison_case_information_path(@prison.code, @prisoner.offender_no), class: 'govuk-link pull-right' if @prisoner.manual_entry? %>
      </td>
    </tr>

    <%= render 'female_complexity_level', url: edit_prison_prisoner_complexity_level_path(@prison.code, @prisoner.offender_no) %>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Current responsibility</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half responsibility_change">
        <%= case_owner_label(@prisoner) %>
        <% if @prisoner.pom_responsible? %>
          <%= link_to 'Change', new_prison_responsibility_path(@prison.code, nomis_offender_id: @prisoner.offender_no), class: 'govuk-link pull-right' %>
        <% elsif @prisoner.com_responsible? && @prisoner.responsibility_override? %>
          <%= link_to 'Change', confirm_removal_prison_responsibility_path(@prison.code, nomis_offender_id: @prisoner.offender_no), class: 'govuk-link pull-right' %>
        <% end %>
      </td>
    </tr>
    <tr class="govuk-table__row" id="service-provider-row">
      <td class="govuk-table__cell">Handover type</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= handover_type_label(@prisoner) %>
        <%= link_to 'Change', edit_prison_case_information_path(@prison.code, @prisoner.offender_no), class: 'govuk-link pull-right' if @prisoner.manual_entry? %>
      </td>
    </tr>
    <tr id="oasys-date" class="govuk-table__row">
      <td class="govuk-table__cell">Last completed OASys</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= render partial: 'prisoners/oasys_assessment', locals: {assessment: @oasys_assessment} %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Location</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= prisoner_location(@prisoner) %>
      </td>
    </tr>
    </tbody>
  </table>

  <%= render partial: 'shared/offence_info' %>

  <% if @prisoner.display_current_parole_info? %>
    <%= render partial: 'shared/parole_info' %>
  <% end %>

  <% if @prisoner.previous_parole_reviews.any? %>
    <%= render partial: 'shared/historical_parole' %>
  <% end%>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header govuk-!-width-one-half" scope="row">Prison allocation</td>
      <td class="govuk-table__cell govuk-!-width-one-half"></td>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">POM role</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= pom_responsibility_label(@prisoner) %>
      </td>
    </tr>
    <tr class="govuk-table__row" id="responsibility-handover-date-row">
      <td class="govuk-table__cell govuk-!-width-one-half">COM responsible</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= format_date(@prisoner.handover_date) %>
        <span class="handover-reason">(<%= @prisoner.handover_reason %>)</span>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">POM</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half">
        <%= link_to @pom.full_name, prison_pom_path(@prison.code, @pom.staff_id), class: "govuk-link" %>
        <%= link_to 'Reallocate', prison_prisoner_review_case_details_path(@prison.code, @prisoner.offender_no), class: "govuk-link pull-right" %>
      </td>
    </tr>
    <tr class="govuk-table__row" id="co-working-pom">
      <td class="govuk-table__cell govuk-!-width-one-half">Co-working POM</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half">
        <% if @coworker.nil? %>
          N/A
          <%= link_to 'Allocate', prison_prisoner_review_case_details_path(@prison.code, @prisoner.offender_no, coworking: true), class: "govuk-link pull-right" %>
        <% else %>
          <%= link_to_if @coworker.has_pom_role?, @coworker.full_name.presence || 'Unknown',
                         prison_pom_path(@prison.code, @coworker.staff_id), class: "govuk-link" %>
          <%= link_to 'Remove', prison_coworking_confirm_removal_path(@prison.code, @prisoner.offender_no), class: "govuk-link pull-right" %>
        <% end %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Allocation history</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= last_event(@allocation) %>
        <%= link_to 'View', history_prison_prisoner_allocation_path(@prison.code, @prisoner.offender_no), class: "govuk-link pull-right" %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Keyworker</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half">
        <%= @keyworker.full_name %>
      </td>
    </tr>
    </tbody>
  </table>

  <%= render 'prisoners/community_information' %>
  <%= render 'shared/vlo_information', offender: @prisoner, prison_code: @prison.code %>
</div>
