
<% if @prisoner.needs_a_com? %>
  <%= render partial: 'shared/notifications/offender_needs_a_com', locals: {offender: @prisoner, email_history: @emails_sent_to_ldu} %>
<% end %>

<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Allocation information</h1>

<%= render 'shared/badges', offender: @prisoner, early_allocations: @case_info.early_allocations %>

<div class="govuk-!-margin-top-1">
  <table class="govuk-table">
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header" scope="row">Prisoner information</td>
      <td class="govuk-table__cell"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Name</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half"><%= @prisoner.full_name %></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Prisoner number</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= @prisoner.offender_no %>
        <%= link_to 'View DPS Profile', digital_prison_service_profile_path(@prisoner.offender_no), class: "govuk-link pull-right", target: "_blank" %>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Date of birth</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half"><%= format_date(@prisoner.date_of_birth) %></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Category</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half">Cat <%= @prisoner.category_code %></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Tiering calculation</td>
      <td class="govuk-table__cell table_cell__left_align">
        Tier <%= @prisoner.tier %>
        <% unless auto_delius_import_enabled?(@prison.code) %>
          <a class="govuk-link pull-right" href="<%= edit_prison_case_information_path(@prison.code, @prisoner.offender_no) %>">Change</a>
        <% end %>
      </td>
    </tr>

    <%= render 'female_complexity_level', url: edit_prison_prisoner_complexity_level_path(@prison.code, @prisoner.offender_no) %>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Current responsibility</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half responsibility_change">
        <%= case_owner_label(@prisoner) %>
        <% if @prisoner.pom_responsible? %>
          <%= link_to 'Change', new_prison_responsibility_path(@prison.code, nomis_offender_id: @prisoner.offender_no), class: 'govuk-link pull-right' %>
        <% end %>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Last known address in Wales</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= humanized_bool(@prisoner.welsh_offender) %>
        <% unless auto_delius_import_enabled?(@prison.code) %>
          <a class="govuk-link pull-right" href="<%= edit_prison_case_information_path(@prison.code, @prisoner.offender_no) %>">Change</a>
        <% end %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Service provider</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= service_provider_label(@prisoner.case_allocation) %>
        <% unless auto_delius_import_enabled?(@prison.code) %>
          <a class="govuk-link pull-right" href="<%= edit_prison_case_information_path(@prison.code, @prisoner.offender_no) %>">Change</a>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>

  <%= render partial: 'shared/offence_info', locals: { editable_prd: true}  %>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header govuk-!-width-one-half" scope="row">Prison allocation</td>
      <td class="govuk-table__cell govuk-!-width-one-half"></td>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">POM role</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= pom_responsibility_label(@prisoner) %>
      </td>
    </tr>
    <tr class="govuk-table__row" id="handover-start-date-row">
      <td class="govuk-table__cell govuk-!-width-one-half">Handover start date</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= format_date(@prisoner.handover_start_date) %>
        <span class="handover-reason">(<%= @prisoner.handover_reason %>)</span>
      </td>
    </tr>
    <tr class="govuk-table__row" id="responsibility-handover-date-row">
      <td class="govuk-table__cell govuk-!-width-one-half">Responsibility handover</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= format_date(@prisoner.responsibility_handover_date) %>
        <span class="handover-reason">(<%= @prisoner.handover_reason %>)</span>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">POM</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half">
        <%= link_to @pom.full_name, prison_pom_path(@prison.code, @pom.staff_id), class: "govuk-link" %>
        <!-- Yes this is a bit of a hack - TODO: take this out when the male allocation journey joins up with the female one -->
        <% if @prison.womens? %>
          <%= link_to 'Reallocate', prison_prisoner_staff_index_path(@prison.code, @prisoner.offender_no), class: "govuk-link pull-right" %>
        <% else %>
          <%= link_to 'Reallocate', edit_prison_allocation_path(@prison.code, @prisoner.offender_no, sort: params[:sort], page: params[:page]), class: "govuk-link pull-right" %>
        <% end %>
      </td>
    </tr>
    <tr class="govuk-table__row" id="co-working-pom">
      <td class="govuk-table__cell govuk-!-width-one-half">Co-working POM</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half">
        <% if @coworker.nil? %>
          N/A
          <%= link_to 'Allocate', new_prison_coworking_path(@prison.code, @prisoner.offender_no), class: "govuk-link pull-right" %>
        <% else %>
          <%= link_to @coworker.full_name, prison_pom_path(@prison.code, @coworker.staff_id), class: "govuk-link" %>
          <%= link_to 'Remove', prison_coworking_confirm_removal_path(@prison.code, @prisoner.offender_no), class: "govuk-link pull-right" %>
        <% end %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Allocation history</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= last_event(@allocation) %>
        <%= link_to 'View', prison_allocation_history_path(@prison.code, @prisoner.offender_no), class: "govuk-link pull-right" %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Keyworker</td>
      <td class="govuk-table__cell table_cell__left_align govuk-!-width-one-half">
        <%= @keyworker.full_name %>
      </td>
    </tr>
    </tbody>
  </table>

  <%= render 'prisoners/community_information' %>
  <%= render 'shared/vlo_information' %>
</div>
