<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Allocation information</h1>

<%= render 'shared/basic_prisoner_info' %>

<%= render 'shared/allocation_info' %>


<div class="govuk-tabs govuk-!-margin-top-9" data-module="tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#prisoner-info">
        Prisoner information
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#history">
        Allocations
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="history">
    <%= render 'shared/allocation_history' %>
  </section>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden"
           id="prisoner-info">
    <div>
      <%= render 'shared/offence_info' %>
      <%= render 'allocations/case_information' %>
    </div>
  </section>
</div>
