<% current_pom_id = local_assigns.fetch(:current_pom_id, nil) %>

<%= render layout: 'shared/pom_comparison/grid_compare_row', locals: { poms:, current_pom_id: } do |pom| %>
  <h3 class="govuk-heading-s">Case mix by role</h3>
  <%= case_mix_bar_by_role(pom.allocations, preserve_space_if_none: true) %>
  <%= case_mix_vertical_by_role(pom.allocations) %>
<% end %>

<%= render layout: 'shared/pom_comparison/grid_compare_row', locals: { poms:, current_pom_id: } do |pom| %>
  <h3 class="govuk-heading-s">Case mix by tier</h3>
  <%= case_mix_bar_by_tiers(pom.allocations, preserve_space_if_none: true) %>
  <%= case_mix_vertical_by_tiers(pom.allocations) %>
<% end %>

<%= render layout: 'shared/pom_comparison/grid_compare_row', locals: { poms:, current_pom_id: } do |pom| %>
  <h3 class="govuk-heading-s">Current workload</h3>

  <% recent_count = pom.allocations.count { |allocation| allocation.primary_pom_allocated_at.to_date >= 7.days.ago } %>
  <div class="card--caseload card-total">
    <%= link_to prison_show_pom_tab_path(prison, pom.staff_id, :caseload, anchor: 'recent-allocations'),
                class: 'govuk-link--no-visited-state' do %>
      <span class="card__heading--large"><%= recent_count %></span>
      <p><%= t('shared.pom_comparison.metrics.recent_cases', count: recent_count) %></p>
    <% end %>
  </div>
<% end %>

<%= render layout: 'shared/pom_comparison/grid_compare_row', locals: { poms:, current_pom_id: } do |pom| %>
  <% handover_count = handover_cases_view_for_pom(pom).upcoming.count %>
  <div class="card--caseload card-total">
    <span class="card__heading--large"><%= handover_count %></span>
    <p><%= t('shared.pom_comparison.metrics.upcoming_handovers', count: handover_count) %></p>
  </div>
<% end %>

<%= render layout: 'shared/pom_comparison/grid_compare_row', locals: { poms:, current_pom_id: } do |pom| %>
  <% high_complexity_count = pom.allocations.count(&:high_complexity?) %>
  <% if prison.womens? %>
    <div class="card--caseload card-total">
      <span class="card__heading--large"><%= high_complexity_count %></span>
      <p><%= t('shared.pom_comparison.metrics.high_complexity_cases', count: high_complexity_count) %></p>
    </div>
  <% end %>
<% end %>
