<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-4">Search</h1>

<%= render 'search/search_box' %>

<div>

<% if @offenders.blank? %>
<p>
  No offenders were found. Please try a different search.
</p>
<% else %>
  <table class="govuk-table responsive tablesorter govuk-!-margin-top-4">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prisoner name</th>
      <th class="govuk-table__header sorter-false" scope="col">Prisoner number</th>
      <th class="govuk-table__header sorter-false" scope="col">Date of birth</th>
      <th class="govuk-table__header sorter-false" scope="col">Tier</th>
      <th class="govuk-table__header" scope="col">POM</th>
      <th class="govuk-table__header" scope="col"><a
      <th class="govuk-table__header sorter-false" scope="col">Action</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @offenders.each_with_index do |offender, i| %>
      <tr class="govuk-table__row allocated_offender_row_<%= i %>">
        <td aria-label="Prisoner name" class="govuk-table__cell"><%= highlight(offender.full_name, @q) %></td>
        <td aria-label="Prisoner number" class="govuk-table__cell"><%= highlight(offender.offender_no, @q) %></td>
        <td aria-label="Date of birth" class="govuk-table__cell"><%= format_date_string(offender.date_of_birth) %></td>
        <td aria-label="Tier" class="govuk-table__cell"><%= offender.tier || '-' %></td>
        <td aria-label="POM" class="govuk-table__cell"><%= offender.allocated_pom_name || '-' %></td>
        <td aria-label="Action" class="govuk-table__cell "><%=
          cta_for_offender(offender)
        %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<%= render(
          :partial => 'shared/pagination',
          :locals => {
              :page_data => @page_meta,
              :param_name => 'page',
          }) %>

</div>

<% end %>