<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<h1 class="govuk-heading-l govuk-!-margin-bottom-5">
  <% if @pomtasks.blank? %>
  There are no case updates needed
  <% else %>
  Case updates needed
  <% end %>
</h1>

<% if @pomtasks.present? %>
  <%= render partial: 'shared/pagination', locals: {data: @pomtasks } %>
  <br/>
 <table class="govuk-table responsive tablesorter">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('offender_name') %>">
          Prisoner name
        </a>
        <%= sort_arrow('offender_name') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('action_label') %>">
        Update needed
        </a>
        <%= sort_arrow('action_label') %>
      </th>
      <th class="govuk-table__header" scope="col">
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <% @pomtasks.each do |pomtask|  %>
      <tr class="govuk-table__row">
        <td aria-label="Prisoner name" class="govuk-table__cell ">
          <%= pomtask.offender_name %>
          <br/>
          <span class='govuk-hint govuk-!-margin-bottom-0'>
            <%= pomtask.offender_number %>
          </span>
        </td>
        <td aria-label="Update needed" class="govuk-table__cell ">
          <%= pomtask.action_label %>
        </td>
        <td aria-label="Action" class="govuk-table__cell ">
          <%= link_to('View', prison_prisoner_path(@prison.code, pomtask.offender_number)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render partial: 'shared/pagination', locals: {data: @pomtasks } %>
<% end  %>