<h2 class="govuk-heading-l">
  Log of Audit Events
</h2>

<div class="search-box govuk-grid-row">
  <%= form_tag(manage_audit_events_path, method: :get) do %>
    <div class="govuk-form-group">
      <label class="govuk-label" for="nomis_offender_id">
        Prisoner number/NOMS no/case number (looks like X1111XX)
      </label>
      <input class="govuk-input" id="nomis_offender_id" name="nomis_offender_id" type="text" value="<%= @nomis_offender_id %>" autofocus>
    </div>

    <div class="govuk-form-group">
    <label class="govuk-label" for="tags">
        Tags (comma or space separated)
      </label>
      <input class="govuk-input" id="tags" name="tags" type="text" value="<%= @tags.join(' ') %>">

      <input id="search-button" type="submit" class="govuk-button" value="    Search    "/>
    </div>
  <% end %>
</div>

<%= render partial: 'shared/pagination', locals: { data: @audit_events } %>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">All</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Time</th>
      <th scope="col" class="govuk-table__header">NOMS No.</th>
      <th scope="col" class="govuk-table__header">Tags</th>
      <th scope="col" class="govuk-table__header">User</th>
      <th scope="col" class="govuk-table__header">Event</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @audit_events.each do |audit_event| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= format_time_readably(audit_event.published_at) %></td>
        <td class="govuk-table__cell"><%= audit_event.nomis_offender_id || 'N/A' %></td>
        <td class="govuk-table__cell govuk-body-s"><%= audit_event.tags.join('<br>').html_safe %></td>
        <td class="govuk-table__cell">
          <% if audit_event.system_event? %>
            <em>System</em>
          <% else %>
            <%= audit_event.user_human_name %> (<%= audit_event.username %>)
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text raw-data">
                Raw data
              </span>
            </summary>
            <div class="govuk-details__text">
              <pre><%= audit_event.data.to_yaml %></pre>
            </div>
          </details>
        </td>
    <% end %>
    </tr>
  </tbody>
</table>

<%= render partial: 'shared/pagination', locals: { data: @audit_events } %>
