<%= form_for(@early_allocation,
             as: :early_allocation,
             url: discretionary_prison_prisoner_early_allocations_path(@prison.code, @early_allocation.nomis_offender_id),
             method: form_method,
             builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>
  <%= form.govuk_error_summary %>

  <h1 class="govuk-heading-l govuk-!-margin-top-4">Assessment for early allocation to the community probation team</h1>

  <% EarlyAllocation::ELIGIBLE_FIELDS.each do |field| %>
    <%= form.hidden_field(field) %>
  <% end %>

  <%= form.govuk_radio_buttons_fieldset :extremism_separation,
                                        hint: { text: 'Extremism separation centres contain prisoners involved in planning terrorism or considered to pose a risk to national security.' },
                                        legend: { size: 's',
                                                  text: 'Has the prisoner been held in an extremism separation centre?' } do %>
    <%= form.govuk_radio_button :extremism_separation, true, label: { text: 'Yes' }, link_errors: true do %>
      <%= render 'yes_no_boolean_field',
                 form: form,
                 fieldname: :due_for_release_in_less_than_24months,
                 heading_text: 'Are they due for release in the next 24 months or less?',
                 hint_text: ''
      %>
    <% end %>
    <%= form.govuk_radio_button :extremism_separation, false, label: { text: 'No' } %>
  <% end %>

  <%= render partial: 'yes_no_boolean_field', locals: {
      form: form,
      heading_text: 'Does the prisoner present a very high risk of serious harm?',
      hint_text: '',
      fieldname: :high_risk_of_serious_harm
  } %>
  <%= render partial: 'yes_no_boolean_field', locals: {
      form: form,
      heading_text: 'Does this prisoner need managing at MAPPA level 2 earlier than normal due to an exceptional level of risk and complexity?',
      hint_text: 'If a MAPPA assessment has not taken place, give the most likely answer. Alternatively, ask for an assessment to be carried out by the community probation team.',
      fieldname: :mappa_level_2
  } %>
  <%= render partial: 'yes_no_boolean_field', locals: {
      form: form,
      heading_text: 'Has this prisoner been identified as a terrorist risk in consultation with the regional Counter Terrorism Probation Officer?',
      hint_text: '',
      fieldname: :pathfinder_process
  } %>
  <%= render partial: 'yes_no_boolean_field', locals: {
      form: form,
      heading_text: 'Is there another reason this prisoner should be considered for early allocation to the probation team?',
      hint_text: '',
      fieldname: :other_reason
  } %>

  <%= form.submit "Continue", role: "button", draggable: "false", class: "govuk-button" %>
<% end %>
