<%= form_for(@early_assignment, url: prison_prisoner_early_allocations_path(@prison, @early_assignment.nomis_offender_id), method: form_method) do |form| %>
  <% if @early_assignment.errors.count > 0 %>
    <%= render :partial => "/shared/field_errors", :locals => { form: form, errors: @early_assignment.errors } %>
  <% end %>

  <h1 class="govuk-heading-xl govuk-!-margin-top-4">Assessment for early allocation to the community probation team</h1>

  <% EarlyAllocation::STAGE1_FIELDS.each do |field| %>
    <%= form.hidden_field(field) %>
  <% end %>
  <%= form.hidden_field(:stage2_validation, value: true) %>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">Has the prisoner been held in an extremism seperation centre?</h1>
      </legend>

      <span class="govuk-hint">
        Extremism separation centres contain prisoners involved
    in planning terrorism or considered to pose a risk to national security.
      </span>

      <%= render partial: 'error', locals: { form: form, errors: @early_assignment.errors, fieldname: :extremism_separation }%>

      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios govuk-radios--conditional">
          <div class="govuk-radios__item">
            <%= form.radio_button(:extremism_separation, true, class: "govuk-radios__input", data: { aria_controls: "show-when-extremism-true"} ) %>
            <%= form.label :extremism_separation_true, 'Yes', class: "govuk-label govuk-radios__label" %>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
               id="show-when-extremism-true">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h1 class="govuk-fieldset__heading">Are they due for release in the next 24 months or less?</h1>
              </legend>

              <%= render partial: 'error', locals: { form: form, errors: @early_assignment.errors, fieldname: :due_for_release_in_less_than_24months }%>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <%= form.radio_button(:due_for_release_in_less_than_24months, true, class: "govuk-radios__input") %>
                  <%= form.label "due_for_release_in_lessthan_24months_true", 'Yes', class: "govuk-label govuk-radios__label" %>
                </div>
                <div class="govuk-radios__item">
                  <%= form.radio_button(:due_for_release_in_less_than_24months, false, class: "govuk-radios__input") %>
                  <%= form.label "due_for_release_in_lessthan_24months_false", 'No', class: "govuk-label govuk-radios__label" %>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="govuk-radios__item">
          <%= form.radio_button(:extremism_separation, false, class: "govuk-radios__input") %>
          <%= form.label :extremism_separation_false, 'No', class: "govuk-label govuk-radios__label" %>
        </div>
      </div>
    </fieldset>
  </div>

  <%= render partial: 'yes_no_boolean_field', locals: {
      form: form,
      heading_text: 'Does the prisoner present a very high risk of serious harm?',
      errors: @early_assignment.errors,
      hint_text: '',
      fieldname: :high_risk_of_serious_harm
  } %>
  <%= render partial: 'yes_no_boolean_field', locals: {
      form: form,
      heading_text: 'Does this prisoner need to be managed as a Multi-Agency Public Protection (MAPPA) level 2 case?',
      errors: @early_assignment.errors,
      hint_text: 'If a MAPPA assessment has not taken place, give the most likely answer, or ask for an assessment to be carried out by the community probation team.',
      fieldname: :mappa_level_2
  } %>
  <%= render partial: 'yes_no_boolean_field', locals: {
      form: form,
      heading_text: 'Has this prisoner been identified through the \'pathfinder\' process for early allocation?',
      errors: @early_assignment.errors,
      hint_text: 'The pathfinder process helps to identify potential terrorists or extremists who were not prosecuted under the Terrorism Act 2000 (TACT). See Equip for further information.',
      fieldname: :pathfinder_process
  } %>
  <%= render partial: 'yes_no_boolean_field', locals: {
      form: form,
      heading_text: 'Is there another reason this prisoner should be considered for early allocation to the probation team?',
      errors: @early_assignment.errors,
      hint_text: '',
      fieldname: :other_reason
  } %>

  <%= form.submit "Continue", role: "button", draggable: "false", class: "govuk-button" %>
<% end %>
