<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<%= form_for(@early_allocation,
             url: confirm_with_reason_prison_prisoner_early_allocations_path(@prison.code, @early_allocation.nomis_offender_id),
             builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>

  <%= form.govuk_error_summary %>

  <h1 class="govuk-heading-l govuk-!-margin-top-4">Assessment for early allocation to the community probation team</h1>

  <% (EarlyAllocation::ELIGIBLE_FIELDS + EarlyAllocation::ALL_DISCRETIONARY_FIELDS).each do |field| %>
    <%= form.hidden_field(field) unless form.object.public_send(field).nil? %>
  <% end %>

  <div class="govuk-form-group">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <%= form.label(:reason, 'Why are you referring this case for early allocation to the community?', class: 'govuk-label govuk-!-font-weight-bold') %>
          </legend>

          <%= render partial: 'error', locals: { form: form, errors: @early_allocation.errors, fieldname: :reason } %>

          <%= form.text_area(:reason, rows: 3, class: 'govuk-textarea') %>
        </fieldset>
      </div>
    </div>
    <%= render partial: 'error', locals: { form: form, errors: @early_allocation.errors, fieldname: :approved } %>
    <div class="govuk-checkboxes__item">
      <%= form.check_box :approved, class: "govuk-checkboxes__input" %>
      <%= form.label(:approved, 'Has the Head of Offender Management Delivery approved this referral?', class: 'govuk-label govuk-checkboxes__label') %>
    </div>
  </div>

  <%= form.submit "Continue", role: "button", draggable: "false", class: "govuk-button" %>
<% end %>
  </div>
  <%= render 'prisoner_info_sidebar', offender: @prisoner %>
</div>
