<% content_for :title, "Early allocation assessment outcome – Digital Prison Services" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<%= form_for @early_allocation,
             url: prison_prisoner_latest_early_allocation_path(@prison.code, @early_allocation.nomis_offender_id),
             method: :put,
             builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <%= form.govuk_error_summary %>

  <h1 class="govuk-heading-l govuk-!-margin-top-4">What was the outcome of this prisoner’s early allocation referral?</h1>

  <%= render partial: "community_decision_field", locals: { form: form,
                                                 heading_text: "",
                                                 hint_text: "",
                                                 errors: @early_allocation.errors,
                                                 fieldname: :community_decision} %>
  <%= form.submit 'Save', role: "button", draggable: "false", class: "govuk-button" %>
<% end %>
  </div>
  <%= render 'prisoner_info_sidebar', offender: @prisoner %>
</div>
