<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@allocation,
                 url: wizard_path,
                 builder: GOVUKDesignSystemFormBuilder::FormBuilder,
                 method: :put) do |form| %>
      <h1 class="govuk-heading-xl govuk-!-margin-top-4">Confirm allocation</h1>
      <p class="govuk-body">You are allocating <%= "#{@prisoner.first_name} #{@prisoner.last_name}".titleize %> to <%= "#{@pom.first_name} #{@pom.last_name}".titleize %>.</p>
      <% if @pom.email_address.blank? %>
        <p class="govuk-body">No notification email will be sent to <%= "#{@pom.first_name} #{@pom.last_name}".titleize %> as they have no registered email address in NOMIS.</p>
      <% else %>
        <p class="govuk-body">We will send a confirmation email to <%= @pom.email_address %>.</p>
      <% end %>

      <div class="govuk-form-group">
        <%= form.govuk_text_area :message,
                                 label: { text: 'Add a note to the email:', size: 's' },
                                 hint: { text: 'For example, you can tell the prison offender manager about any special requirements.' },
                                 rows: 3 %>
      </div>

      <%= form.submit "Complete allocation", role: "button", draggable: "false", class: "govuk-button" %>
      <a class="govuk-link cancel-button" href="<%= prison_prisoner_staff_index_path(@prison.code, @prisoner.offender_no) %>">Cancel</a>
    <% end %>
  </div>

</div>
