  <div>
    <%= form_tag(overrides_path, method: :post)  do %>
      <h1 class="govuk-heading-xl govuk-!-margin-top-4">Choose reason for changing recommended grade</h1>

      <div class='govuk-!-margin-top-6'>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="override-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">Choose reason for changing
                recommended grade</h1>
            </legend>
            <div class="govuk-checkboxes" data-module="checkboxes">
              <%= hidden_field_tag("override[nomis_offender_id]", @prisoner.offender_no) %>
              <%= hidden_field_tag("override[nomis_staff_id]", @pom.staff_id) %>
              <div class="govuk-checkboxes__item" id="override-1">
                <%= check_box_tag("override[override_reason]", "complex", false, id: "override-1") %>
                <%= label_tag "override[override_reason]", "Prisoner assessed as too complex for #{@recommended_pom} officer POM" %>
              </div>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag("override[override_reason]", "no-staff", false, id: "override-2") %>
                <%= label_tag "override[override_reason]", "No avaliable staff at recommended
                  grade" %>
              </div>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag("override[override_reason]", "continuity", false, id: "override-3") %>
                <%= label_tag "override[override_reason]", "Maintain continuity of previous POM" %>
              </div>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag("override[override_reason]", "other", false, id: "override-4") %>
                <%= label_tag "override[override_reason]", "Other" %>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="override-4">
                <div class="govuk-form-group">
                  <%= label_tag "override[more_detail]", 'Please provide detail here' %>
                  <%= text_field_tag "override[more_detail]", {id: "more_detail", name: "more_detail", rows: "3", aria_describedby: "more_detail_hint"}, class: "govuk-textarea" %>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <%= submit_tag "Continue", role: "button", draggable: "false", class: "govuk-button" %>
      </div>
    <% end %>
  </div>
