<%= render :partial => "/shared/backlink", :locals => { :page => new_prison_allocation_path(@prison, @prisoner.offender_no) } %>

<% if @override.errors.count > 0 %>
  <%= render :partial => "/shared/validation_errors", :locals => { :errors => @override.errors } %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_tag(prison_overrides_path(@prison), method: :post, id: "override_form")  do %>

      <h1 class="govuk-heading-xl govuk-!-margin-top-4">
        <%= "Why are you allocating a probation officer POM?" if @recommended_pom_type == 'Prison officer' %>
        <%= "Why are you allocating a prison officer POM?" if @recommended_pom_type == 'Probation officer' %>
      </h1>
      <div class='govuk-!-margin-top-4'>
        <div class="govuk-form-group <% if @override.errors[:override_reasons].present? %>govuk-form-group--error<% end %>">
          <fieldset class="govuk-fieldset" aria-describedby="override-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-bottom-4">
              <h1 class="govuk-fieldset__heading">Choose all that apply:</h1>
            </legend>
            <div class="govuk-checkboxes" data-module="checkboxes">
              <%= hidden_field_tag("override[nomis_offender_id]", @prisoner.offender_no) %>
              <%= hidden_field_tag("override[nomis_staff_id]", @pom.staff_id) %>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="override-conditional-1" name="override[override_reasons][]" type="checkbox" value="suitability" data-aria-controls="override-1"
                       <%= 'checked=checked' if override_reason_contains(@override, 'suitability') %> >
                <label class="govuk-label govuk-checkboxes__label"
                       for="override-conditional-1"><%= complex_reason_label(@recommended_pom_type) %></label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="override-1">
                <% if @override.errors[:suitability_detail].present? %>
                  <span class="govuk-error-message">
                    <%= @override.errors[:suitability_detail].first %>
                  </span>
                <% end %>
                <div class="govuk-form-group <% if @override.errors[:suitability_detail].present? %>govuk-form-group--error<% end %>">
                  <div class="govuk-character-count" data-module="character-count" data-maxlength="175">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="provide-detail">Enter your reason for this decision</label>
                      <textarea class="govuk-textarea js-character-count " id="suitability-detail" name="override[suitability_detail]" rows="3" aria-describedby="suitability-detail-hint suitability-detail-error"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag("override[override_reasons][]", "no_staff", override_reason_contains(@override, 'no_staff'), id: "override-2", class: "govuk-checkboxes__input") %>
                <%= label_tag "override[override_reasons][]", "No available #{@recommended_pom_type.downcase} POMs", class: 'govuk-label govuk-checkboxes__label' %>
              </div>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag("override[override_reasons][]", "continuity", override_reason_contains(@override, 'continuity'), id: "override-3", class: "govuk-checkboxes__input") %>
                <%= label_tag "override[override_reasons][]", "This POM has worked with the prisoner before", class: 'govuk-label govuk-checkboxes__label' %>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="override-conditional-4" name="override[override_reasons][]" type="checkbox" value="other" data-aria-controls="override-4"
                  <%= 'checked=checked' if override_reason_contains(@override, 'other') %> >
                <label class="govuk-label govuk-checkboxes__label"
                        for="override-conditional-4">Other reason</label>
              </div>

              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="override-4">
                <% if @override.errors[:more_detail].present? %>
                  <span class="govuk-error-message">
                    <%= @override.errors[:more_detail].first %>
                  </span>
                <% end %>
                <div class="govuk-character-count" data-module="character-count" data-maxlength="175">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="provide-detail">Please provide detail
                      here</label>
                    <textarea class="govuk-textarea js-character-count govuk-textarea--error" id="more-detail" name="override[more_detail]" rows="3" aria-describedby="more-detail-hint more-detail-error"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <%= submit_tag "Continue", role: "button", draggable: "false", class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>

  <%= render :partial => "/shared/analytics_form_event",
             :locals => {
                :form_id => 'override_form',
                :event_name => 'Override POM recommendation',
                :event_action => 'submit'
              }
  %>
