<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<div class="govuk-!-margin-bottom-4">
  <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
    Find a case
  </label>
  <%= render "search/search_box" %>
</div>

<%= render(:partial => 'shared/summary_subnav', :locals => {:active => :missing_information,
                                                          :unallocated_count => @unallocated.count,
                                                          :missing_info_count => @missing_info.count,
                                                          :allocated_count => @allocated.count,
                                                          :new_arrivals_count => @new_arrivals.count
                                                          }) %>

<h1 class="govuk-heading-l">Add missing details</h1>
<p id="number-of-cases">You need to add missing details to <%= @missing_info.count %> cases so they can be allocated to a POM.</p>

<section id="awaiting-information">
  <%= render(
        :partial => 'shared/pagination',
        :locals => {
          :data => @offenders,
        }) %>

  <table class="govuk-table responsive tablesorter">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('last_name') %>">
          Case
        </a>
        <%= sort_arrow('last_name') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('awaiting_allocation_for') %>">
          Days waiting for allocation
        </a>
        <%= sort_arrow('awaiting_allocation_for') %>
      </th>
      <th class="govuk-table__header" scope="col">Action</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @offenders.each_with_index do |offender, i| %>
      <tr class="govuk-table__row offender_row_<%= i %>">
        <td aria-label="Prisoner full name" class="govuk-table__cell ">
          <%= offender.full_name %>
          <br/>
          <span class='govuk-hint govuk-!-margin-bottom-0'>
        <%= offender.offender_no %>
          </span>
        </td>
        <td aria-label="Waiting" class="govuk-table__cell"><%= offender.awaiting_allocation_for %> days</td>
        <td aria-label="Action" class="govuk-table__cell" id="<%= "edit_#{offender.offender_no}" %>">
          <%= link_to "Add missing details", prison_prisoner_new_missing_info_path(@prison.code, offender.offender_no) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render(
        :partial => 'shared/pagination',
        :locals => {
          :data => @offenders,
        }) %>
</section>

