<%= content_tag(local_assigns[:heading_tag] || :h2, heading, class: local_assigns[:heading_class] || 'govuk-heading-l') %>

<p><%= description %></p>

<%= handover_list_table(table_class: [table_class],
                        anchor: local_assigns[:anchor],
                        headers: [
                          { sort: 'offender_last_name', body: 'Prisoner details' },
                          @pom_view ? nil : { sort: 'staff_member_last_name', body: 'POM' },
                          local_assigns[:hide_com_details] ? nil : { sort: 'allocated_com_name', body: 'COM details' },
                          { sort: 'handover_date', body: 'COM responsible' },
                          { sort: 'earliest_release_date', body: 'Earliest release date' },
                          { sort: 'tier', body: 'Tier' },
                          local_assigns[:com_allocation_view] ? { sort: 'com_allocation_days_overdue', body: 'Days overdue', class: %w[days-overdue] } : nil,
                          local_assigns[:com_allocation_view] ? { body: 'LDU details', class: %w[ldu-details govuk-!-width-one-quarter] } : nil,
                          local_assigns[:com_allocation_view] ? nil : { body: 'Handover progress', class: ['handover-progress'] }
                        ].compact) do %>

  <% (local_assigns[:handover_data] || @filtered_handover_cases).each do |handover_case| %>
    <tr class="govuk-table__row allocated-offender">
      <%= render 'handovers/cells/prisoner_details', prison_id: @prison_id, offender: handover_case.offender, anchor: local_assigns[:anchor] %>
      <%= render 'handovers/cells/staff_member', staff_member: handover_case.offender.staff_member unless @pom_view %>

      <%= render 'handovers/cells/com_details', offender: handover_case.offender,
                 handover_date: handover_case.handover_date unless local_assigns[:hide_com_details] %>

      <%= render 'handovers/cells/handover_dates', handover_cases: @handover_cases, handover_case: handover_case,
                 show_highlight: show_handover_date_highlight %>

      <%= render 'handovers/cells/earliest_release_date', handover_case: handover_case %>
      <%= render 'handovers/cells/tier', offender: handover_case.offender %>

      <% if local_assigns[:com_allocation_view] %>
        <%= render 'handovers/cells/days_overdue', days_overdue: handover_case.com_allocation_days_overdue %>
        <%= render 'handovers/cells/ldu_details', offender: handover_case.offender %>
      <% else %>
        <%= render 'handovers/cells/handover_progress', prison_id: @prison_id, offender: handover_case.offender,
                   hide_record_progress_link: local_assigns[:hide_record_progress_link] %>
      <% end %>
    </tr>
  <% end %>
<% end %>

<% if (local_assigns[:handover_data] || @filtered_handover_cases).size == 0 %>
  <p><%= no_cases_message %></p>
<% else %>
  <%= render partial: 'shared/pagination', locals: { data: (local_assigns[:handover_data] || @filtered_handover_cases) } %>
<% end %>

<div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden"></div>
<div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden"></div>
