<h2 class="govuk-heading-l">
  Upcoming handovers
</h2>

<p>A COM will be allocated in the next 8 weeks. Start getting ready to hand the case over to the community.</p>

<table class="govuk-table upcoming-handovers" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header" aria-sort="none">
      <button type="button" data-index="0">Prisoner details</button>
    </th>
    <th scope="col" class="govuk-table__header" aria-sort="ascending">
      <button type="button" data-index="1">COM responsible</button>
    </th>
    <th scope="col" class="govuk-table__header" aria-sort="none">
      <button type="button" data-index="2">Earliest release date</button>
    </th>
    <th scope="col" class="govuk-table__header" aria-sort="none">
      <button type="button" data-index="3">Tier</button>
    </th>
    <th scope="col" class="govuk-table__header" style="padding-left: 20px;">Handover progress</th>
  </tr>
  </thead>

  <tbody class="govuk-table__body">
  <% @handover_cases.upcoming.each do |calculated_handover_date, allocated_offender| %>
    <tr class="govuk-table__row allocated-offender">
      <td class="govuk-table__cell prisoner-details">
        <a class="govuk-link govuk-link--no-visited-state"
           data-sort-value="<%= allocated_offender.last_name %>"
           href="<%= prison_prisoner_path(@prison_id, allocated_offender.offender_no) %>">
          <%= allocated_offender.full_name %>
        </a><br>
        <span class="govuk-hint govuk-!-margin-bottom-0 offender-no"><%= allocated_offender.offender_no %></span>
      </td>

      <% com_r_date = calculated_handover_date.com_responsibility_date %>
      <td class="govuk-table__cell com-responsible" data-sort-value="<%= com_r_date.iso8601 %>">
        COM responsible: <br>
        <%= format_date(com_r_date, replacement: "Unknown") %>
      </td>

      <% rel_date = allocated_offender.earliest_release.fetch(:date) %>
      <td class="govuk-table__cell earliest-release-date" data-sort-value="<%= rel_date.iso8601 %>">
        <%= allocated_offender.earliest_release.fetch(:type) %>: <br>
        <%= format_date(rel_date, replacement: "ERROR: Unknown") %>
      </td>

      <td class="govuk-table__cell tier" data-sort-value="<%= allocated_offender.case_allocation %>">
        <strong><%= allocated_offender.tier %></strong>
        <p><%= allocated_offender.case_allocation %> (legacy)</p>
      </td>

      <td class="govuk-table__cell handover-progress">
        <ul class="govuk-list govuk-body-s task-summary-checklist">
          <li class="none">
            <img style="width:7%; padding-right: 5px;" src="<%= image_path('check.png') %>" alt="task complete">
            Review OASys
          </li>
          <li class="none">
            <img style="width:7%; padding-right: 5px;" src="<%= image_path('cross.png') %>" alt="task complete">
            Have contact from COM
          </li>
          <li class="none">
            <img style="width:7%; padding-right: 5px;" src="<%= image_path('cross.png') %>" alt="task not started">
            Send handover report
          </li>
          <p class="govuk-!-margin-top-2"><%# TODO incorrect markup %>
            <a class="govuk-link govuk-link--no-visited-state" href="#" style="padding-left: 20px;">
              Record progress
            </a>
          </p>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden"></div>
<div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden"></div>
