<h2 class="govuk-heading-l">
  Upcoming handovers
</h2>

<p>A COM will be allocated in the next 8 weeks. Start getting ready to hand the case over to the community.</p>

<table class="govuk-table" data-module="moj-sortable-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header" aria-sort="none">
      <button type="button" data-index="0">Prisoner details</button>
    </th>
    <th scope="col" class="govuk-table__header" aria-sort="ascending">
      <button type="button" data-index="1">COM responsible</button>
    </th>
    <th scope="col" class="govuk-table__header" aria-sort="none">
      <button type="button" data-index="2">Earliest release date</button>
    </th>
    <th scope="col" class="govuk-table__header" aria-sort="none">
      <button type="button" data-index="3">Tier</button>
    </th>
    <th scope="col" class="govuk-table__header" style="padding-left: 20px;">Handover progress</th>
  </tr>
  </thead>

  <tbody class="govuk-table__body">
  <% @upcoming_handovers.each do |handover_case| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a class="govuk-link govuk-link--no-visited-state" data-sort-value="<%# TODO %>" href="#">
          <%= handover_case.full_name %>
        </a><br>
        <span class="govuk-hint govuk-!-margin-bottom-0"><%= handover_case.offender_no %></span>
      </td>

      <td class="govuk-table__cell" data-sort-value="2021.09.11">COM responsible: <br>TODO</td>

      <td class="govuk-table__cell" data-sort-value="2021.12.11">HDCED: <br>TODO</td>

      <td class="govuk-table__cell" data-sort-value="D">
        <strong><%= handover_case.tier %></strong><br>XXX (legacy)
      </td>

      <td class="govuk-table__cell">
        <ul class="govuk-list govuk-body-s task-summary-checklist">
          <li class="none">
            <img style="width:7%; padding-right: 5px;" src="<%= image_path('check.png') %>" alt="task complete">
            Review OASys
          </li>
          <li class="none">
            <img style="width:7%; padding-right: 5px;" src="<%= image_path('cross.png') %>" alt="task complete">
            Have contact from COM
          </li>
          <li class="none">
            <img style="width:7%; padding-right: 5px;" src="<%= image_path('cross.png') %>" alt="task not started">
            Send handover report
          </li>
          <p class="govuk-!-margin-top-2">
            <a class="govuk-link govuk-link--no-visited-state" href="./record-progress-crc.html" style="padding-left: 20px;">
              Record progress
            </a>
          </p>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden"></div>
<div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden"></div>
