<div class="govuk-accordion__section">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="<%= "#{id}-heading" %>">
        <%= title %>
        <span class="govuk-caption-m"><%= body %></span>
      </span>
    </h2>
  </div>
  <div id="<%= id %>" class="govuk-accordion__section-content" aria-labelledby="<%= "#{id}-heading" %>">
    <%= content %>
  </div>
</div>