<span id="prisoner-case-type" class="moj-badge moj-badge--<%=badge_colour(offender) %>"><%=badge_text(offender)%></span>
<%= render('shared/badges/recall_badge') if offender.recalled? %>
<%= render('shared/badges/parole_badge') if badge_for_parole?(offender) %>

<% status = offender.early_allocation_state %>
<% if EarlyAllocationHelper::EARLY_ALLOCATION_STATUSES.key?(status) %>
  <span id="early-allocation-badge" class="moj-badge moj-badge--blue">
    EARLY ALLOCATION <%= EarlyAllocationHelper::EARLY_ALLOCATION_STATUSES.fetch(status) %>
  </span>
<% end %>
<% if @prison.womens? %>
  <% if offender.complexity_level == 'high' %>
    <%= render('shared/badges/complexity_badge', complexity_badge_text: 'HIGH COMPLEXITY') %>
  <% elsif offender.complexity_level == 'medium' %>
    <%= render('shared/badges/complexity_badge', complexity_badge_text: 'MEDIUM COMPLEXITY') %>
  <% elsif offender.complexity_level == 'low' %>
    <%= render('shared/badges/complexity_badge', complexity_badge_text: 'LOW COMPLEXITY') %>
  <% end %>
<% end %>
