<span id="prisoner-case-type" class="moj-badge moj-badge--<%=badge_colour(offender) %>"><%=badge_text(offender)%></span>
<%= render('shared/badges/recall_badge') if offender.recalled? %>
<%= render('shared/badges/parole_badge') if badge_for_parole?(offender) %>
<% if early_allocation_approved?(early_allocations) %>
  <%=  render('shared/badges/early_allocation_approved_badge') %>
<% else %>
  <%= render('shared/badges/early_allocation_notes_badge') if early_allocation_notes?(offender, early_allocations)%>
  <%= render('shared/badges/early_allocation_active_badge') if early_allocation_active?(early_allocations) %>
<% end %>
<% if @prison.womens? %>
  <% if offender.complexity_level == 'high' %>
    <%= render('shared/badges/complexity_badge', complexity_badge_text: 'HIGH COMPLEXITY') %>
  <% elsif offender.complexity_level == 'medium' %>
    <%= render('shared/badges/complexity_badge', complexity_badge_text: 'MEDIUM COMPLEXITY') %>
  <% elsif offender.complexity_level == 'low' %>
    <%= render('shared/badges/complexity_badge', complexity_badge_text: 'LOW COMPLEXITY') %>
  <% end %>
<% end %>
