<th class="govuk-table__header" scope="col" <%= sort_aria('last_name') %>>
  <a href="<%= sort_link('last_name', anchor: anchor) %>">
    Case
  </a>
  <%= sort_arrow('last_name') %>
</th>
<th class="govuk-table__header" scope="col" <%= sort_aria('pom_responsibility') %>>
  <a href="<%= sort_link('pom_responsibility', anchor: anchor) %>">
    Role
  </a>
  <%= sort_arrow('pom_responsibility') %>
</th>
<th class="govuk-table__header" scope="col" <%= sort_aria('location') %>>
  <a href="<%= sort_link('location', anchor: anchor) %>">
    Location
  </a>
  <%= sort_arrow('location') %>
</th>
<% if @prison.womens? %>
  <th class="govuk-table__header" scope="col" <%= sort_aria('complexity_level_number') %>>
    <a href="<%= sort_link('complexity_level_number', anchor: anchor) %>">
      Complexity level
    </a>
    <%= sort_arrow('complexity_level_number') %>
  </th>
<% end %>
<th class="govuk-table__header" scope="col" <%= sort_aria('earliest_release_date') %>>
  <a href="<%= sort_link('earliest_release_date', anchor: anchor) %>">
    Earliest release date
  </a>
  <%= sort_arrow('earliest_release_date') %>
</th>
<th class="govuk-table__header" scope="col" <%= sort_aria('tier') %>>
  <a href="<%= sort_link('tier', anchor: anchor) %>">
    Tier
  </a>
  <%= sort_arrow('tier') %>
</th>
<th class="govuk-table__header" scope="col" <%= sort_aria('primary_pom_allocated_at') %>>
  <a href="<%= sort_link('primary_pom_allocated_at', anchor: anchor) %>">
    Allocation date
  </a>
  <%= sort_arrow('primary_pom_allocated_at') %>
</th>

