

<span id="prisoner-case-type" class="moj-badge moj-badge--<%=badge_colour(offender) %>"><%=badge_text(offender)%></span>
<%= render('shared/recall_badge') if offender.recalled? %>
<%= render('shared/parole_badge') if badge_for_parole?(offender) %>
<%= render('shared/early_allocation_notes_badge') if early_allocation_notes?(offender, early_allocations)%>
<%= render('shared/early_allocation_active_badge') if early_allocation_active?(early_allocations) %>
<%= render('shared/early_allocation_approved_badge') if early_allocation_approved?(early_allocations) %>