<table class="govuk-table" id="community_information">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header govuk-!-width-one-half" scope="row">Community information</td>
      <td class="govuk-table__cell govuk-!-width-one-half"></td>
    </tr>
    <tr class="govuk-table__row" id="probation_service">
      <td class="govuk-table__cell">Community probation service</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= @prisoner.probation_service.presence || "Unknown" %>
        <% unless auto_delius_import_enabled?(@prison.code) %>
          <% if editable %>
            <%= link_to( 'Change', edit_prison_case_information_path(@prison.code, @prisoner.offender_no), class: "govuk-link pull-right") %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Local divisional unit (LDU)</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= @prisoner.ldu.try(:name) || "Unknown"%>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Local divisional unit (LDU) email address</td>
      <td class="govuk-table__cell table_cell__left_align">
        <% if @prisoner.ldu.try(:email_address) %>
          <%= mail_to(@prisoner.ldu.email_address, @prisoner.ldu.email_address) %>
        <% else %>
          Unknown
        <% end %>
      </td>
    </tr>
    <tr class="govuk-table__row" id="team">
      <td class="govuk-table__cell">Team</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= @prisoner.team.presence || "Unknown"%>
        <% unless auto_delius_import_enabled?(@prison.code) %>
          <% if editable && @prisoner.team.presence %>
            <%= link_to( 'Change', edit_prison_case_information_path(@prison.code, @prisoner.offender_no), class: "govuk-link pull-right") %>
          <% end %>
        <%end %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">COM</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= @allocation&.com_name.presence || "Unknown" %>
      </td>
    </tr>
  </tbody>
</table>
