<% parole_record = @prisoner.current_parole_record%>
<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header govuk-!-width-one-half" scope="row">Parole</td>
      <td class="govuk-table__cell govuk-!-width-one-half"></td>
    </tr>
    <% if @prisoner.tariff_date.present? %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-half">Tariff expiry date</td>
        <td id='tariff-expiriy-date' class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half"><%= format_date(@prisoner.tariff_date) %></td>
      </tr>
    <% end %>
    <% if parole_record&.custody_report_due.present? && !parole_record&.target_hearing_date&.past? %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-half">Custody report due</td>
        <td id='custody-report-due' class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half"><%= format_date(parole_record.custody_report_due) %></td>
      </tr>
    <% end %>
    <% if @prisoner.parole_eligibility_date.present? %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-half">Parole eligibility date</td>
        <td id='parole-eligibility-date' class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half"><%= format_date(@prisoner.parole_eligibility_date) %></td>
      </tr>
    <% end %>
    <% if parole_record&.target_hearing_date.present? %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-half">Target hearing date</td>
        <td id='target-hearing-date' class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half"><%= format_date(parole_record.target_hearing_date) %></td>
      </tr>
    <% end %>
    <% if display_hearing_outcome?(parole_record)%>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-half">Hearing outcome</td>
        <td id='hearing-outcome' class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half"><%= parole_record.current_record_hearing_outcome %></td>
      </tr>
    <% end %>
  </tbody>
</table>