<% journey ||= nil %>
<% current_pom_id ||= nil %>
<% previous_pom_ids ||= [] %>
<% coworking ||= false %>
<% recommended_pom_type ||= nil %>
<%
  pom_name_path = lambda do |pom|
    if journey == :reallocation
      caseload_prison_reallocation_path(@prison.code, @pom.staff_id, pom.staff_id)
    else
      if coworking
        prison_confirm_coworking_allocation_path(@prison.code, @prisoner.offender_no, current_pom_id, pom.staff_id)
      else
        new_prison_prisoner_staff_build_allocation_path(@prison.code, @prisoner.offender_no, pom.staff_id)
      end
    end
  end
%>

<table id="available-poms" class="govuk-table" data-module="moj-sortable-table">
  <caption class="govuk-visually-hidden">Available POMs to allocate</caption>
  <thead class="govuk-table__head">
    <tr>
      <th class="govuk-table__header" scope="col" aria-sort="ascending" style="width: 200px;">
        POM
      </th>
      <th class="govuk-table__header" scope="col" aria-sort="none" style="width: 200px;">
        POM type
      </th>
      <th class="govuk-table__header" scope="col" aria-sort="none" style="width: 140px;">
        Working pattern
      </th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">
        Allocations in last 7 days
      </th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">
        Supporting cases
      </th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">
        Responsible cases
      </th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">
        Co-working cases
      </th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">
        Total cases
      </th>
      <th scope="col" class="govuk-table__header">
        <div class="govuk-form-group govuk-!-margin-bottom-0<%= flash[:alert] ? ' govuk-form-group--error' : '' %>">
          <fieldset class="govuk-fieldset">
            <p class="govuk-!-font-weight-bold<%= flash[:alert] ? ' govuk-error-message' : '' %>">
              Select POMs<br>to compare workloads
            </p>
          </fieldset>
        </div>
      </th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% available_poms.each do |pom| %>
      <tr class="govuk-table__row" id="pom-<%= pom.staff_id %>">
        <td aria-label="POM name" class="govuk-table__cell pom_name" data-sort-value="<%= pom.full_name_ordered %>">
          <%= link_to pom.full_name_ordered, pom_name_path.call(pom),
                      class: 'govuk-link govuk-link--no-visited-state',
                      aria: { label: "Allocate to #{pom.full_name_ordered}" } %>
          <% if previous_pom_ids.include?(pom.staff_id) %>
            <br/><span class="govuk-!-font-weight-bold">Previously allocated</span>
          <% end %>
        </td>
        <td aria-label="POM role" class="govuk-table__cell" data-sort-value="<%= grade(pom) %>">
          <%= highlight_conditionally('notice', 'recommended', -> { recommended_pom_type == pom.position }) do %>
            <%= grade(pom) %>
          <% end %>
        </td>
        <td aria-label="Working pattern" class="govuk-table__cell" data-sort-value="<%= pom.working_pattern %>">
          <%= format_working_pattern(pom.working_pattern) %>
        </td>
        <td aria-label="Recent allocations" class="govuk-table__cell govuk-table__cell--numeric">
          <%= pom.new_allocations_count %>
        </td>
        <td aria-label="Total supporting" class="govuk-table__cell govuk-table__cell--numeric">
          <%= pom.supporting_allocations_count %>
        </td>
        <td aria-label="Total responsible" class="govuk-table__cell govuk-table__cell--numeric">
          <%= pom.responsible_allocations_count %>
        </td>
        <td aria-label="Total co-working" class="govuk-table__cell govuk-table__cell--numeric">
          <%= pom.coworking_allocations_count %>
        </td>
        <td aria-label="Total allocations" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">
          <%= pom.total_allocations_count %>
        </td>
        <td aria-label="Compare" class="govuk-table__cell pom-selection-table__compare-cell">
          <div class="govuk-form-group govuk-!-margin-bottom-0<%= flash[:alert] ? ' govuk-form-group--error' : '' %>">
            <fieldset class="govuk-fieldset">
              <div class="govuk-checkboxes__item govuk-checkboxes--small pom-selection-table__compare-checkbox" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="pom-select-<%= pom.staff_id %>" name="pom_ids[]" type="checkbox" value="<%= pom.staff_id %>">
                  <label class="govuk-label govuk-checkboxes__label" for="pom-select-<%= pom.staff_id %>">
                    <span class="govuk-visually-hidden">Compare workload for <%= pom.full_name_ordered %></span>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="overflow: hidden">
  <input id="search-button" type="submit" class="govuk-button govuk-button--secondary pull-right" value="Compare workloads"/>
</div>
