<tr class="govuk-table__row">
  <td aria-label="POM name" class="govuk-table__cell pom_name">
    <%= pom.first_name %> <%= pom.last_name %>
    <% if @previous_poms.map(&:staff_id).include? pom.staff_id %>
      <br><p class="govuk-!-font-weight-bold">Previously allocated to case</p>
    <% end %>
  </td>
  <td aria-label="Working pattern" class="govuk-table__cell"><%= format_working_pattern(pom.working_pattern) %></td>
  <td aria-label="case mix" class="govuk-table__cell "><%= case_mix_bar_by_tiers(pom) %></td>
  <td aria-label="High Complexity Cases" class="govuk-table__cell govuk-table__cell--numeric"><%= pom.allocations.count(&:high_complexity?) %></td>
  <td aria-label="recent allocations" class="govuk-table__cell govuk-table__cell--numeric"><%= pom.allocations.count(&:new_case?) %></td>
  <td aria-label="Total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= pom.allocations.count %></td>
  <td aria-label="Allocate" class="govuk-table__cell">
    <%= link_to 'Allocate', new_prison_prisoner_staff_build_allocation_path(@prison.code, nomis_offender_id, pom.staff_id) %>
  </td>
</tr>
