<% content_for :title, "Compare #{@coworking ? 'co-working ' : ''}POMs – Digital Prison Services" %>
<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">Compare <%= @coworking ? 'co-working ' : '' %>POMs for <%= @prisoner.first_name.capitalize %> <%= @prisoner.last_name.capitalize %></h1>
        <span class="govuk-caption-l">Prison number: <%= @prisoner.offender_no %></span>
        <span class="govuk-caption-l">Date of birth: <%= format_date(@prisoner.date_of_birth) %> (<%= @prisoner.age %>)</span>
      </div>
    </div>
  </div>
</div>

<div id="compare-table">
  <%= render layout: 'grid_compare_row', locals: {poms: @poms, current_pom_id: @current_pom_id} do |pom| %>
    <h2 class="govuk-cookie-banner__heading govuk-heading-m govuk-!-margin-bottom-0"><%= full_name_ordered(pom) %></h2>

    <p><%= format_working_pattern(pom.working_pattern) %></p>

    <% if @current_pom_id == pom.staff_id || @previous_pom_ids&.include?(pom.staff_id) %>
      <div class="govuk-warning-text govuk-!-margin-bottom-0">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <p class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          <% if @current_pom_id == pom.staff_id %>
            <%= @coworking ? 'Primary POM' : 'Currently allocated' %>
          <% else %>
            Previously allocated
          <% end %>
        </p>
      </div>
    <% else %>
      <div class="govuk-warning-text govuk-!-margin-bottom-0"></div>
    <% end %>
  <% end %>

  <%= render layout: 'grid_compare_row', locals: {poms: @poms, current_pom_id: @current_pom_id} do |pom| %>
    <h3 class="govuk-heading-s">Case mix by role</h3>
    <%= case_mix_bar_by_role(pom.allocations, preserve_space_if_none: true) %>
    <%= case_mix_vertical_by_role(pom.allocations) %>
  <% end %>

  <%= render layout: 'grid_compare_row', locals: {poms: @poms, current_pom_id: @current_pom_id} do |pom| %>
    <h3 class="govuk-heading-s">Case mix by tier</h3>
    <%= case_mix_bar_by_tiers(pom.allocations, preserve_space_if_none: true) %>
    <%= case_mix_vertical_by_tiers(pom.allocations) %>
  <% end %>

  <%= render layout: 'grid_compare_row', locals: {poms: @poms, current_pom_id: @current_pom_id} do |pom| %>
    <h3 class="govuk-heading-s">Current workload</h3>

    <% recent_count = pom.allocations.count { |a| a.primary_pom_allocated_at.to_date >= 7.days.ago } %>
    <div class="card--caseload card-total">
      <a href="<%= prison_show_pom_tab_path(@prison, pom.staff_id, :caseload, anchor: 'recent-allocations') %>" class="govuk-link--no-visited-state">
        <span class="card__heading--large"><%= recent_count %></span>
        <p><%= t('.recent_cases', count: recent_count) %></p>
      </a>
    </div>
  <% end %>

  <%= render layout: 'grid_compare_row', locals: {poms: @poms, current_pom_id: @current_pom_id} do |pom| %>
    <% handover_count = handover_cases_view_for_pom(pom).upcoming.count %>
    <div class="card--caseload card-total">
      <span class="card__heading--large"><%= handover_count %></span>
      <p><%= t('.upcoming_handovers', count: handover_count) %></p>
    </div>
  <% end %>

  <%= render layout: 'grid_compare_row', locals: {poms: @poms, current_pom_id: @current_pom_id} do |pom| %>
    <% high_complexity_count = pom.allocations.count(&:high_complexity?) %>
    <% if @prison.womens? %>
      <div class="card--caseload card-total">
        <span class="card__heading--large"><%= high_complexity_count %></span>
        <p><%= t('.high_complexity_cases', count: high_complexity_count) %></p>
      </div>
    <% end %>
  <% end %>

  <%= render layout: 'grid_compare_row', locals: {poms: @poms, current_pom_id: @current_pom_id} do |pom| %>
    <% if @coworking %>
      <% if @current_pom_id == pom.staff_id %>
        <button disabled="disabled" aria-disabled="true" class="govuk-button" data-module="govuk-button">
          Allocate co-working POM
        </button>
      <% else %>
        <%= link_to 'Allocate co-working POM',
                    prison_confirm_coworking_allocation_path(@prison.code, @prisoner.offender_no, @current_pom_id, pom.staff_id),
                    class: 'govuk-button' %>
      <% end %>
    <% else %>
      <% button_text = @current_pom_id == pom.staff_id ? 'Keep allocation' : 'Allocate' %>
      <%= link_to button_text,
                  new_prison_prisoner_staff_build_allocation_path(@prison.code, @prisoner.offender_no, pom.staff_id),
                  class: 'govuk-button' %>
    <% end %>
  <% end %>
</div>
