<%= form_for(@edit_case_info, url: prison_case_information_path(@prison.code), method: :put, id: "case_info_form") do |form| %>
  <%= hidden_field_tag("sort", params[:sort])%>
  <%= hidden_field_tag("page", params[:page]) %>

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">Was this prisoner's last known address in Northern Ireland, Scotland or Wales?</h1>
    </legend>

    <div class="govuk-form-group">
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <%= form.radio_button(:last_known_location, 'Yes', class: "govuk-radios__input", data: { aria_controls: "conditional-last_known_location_yes", aria_expanded: "true"} ) %>
          <%= form.label :last_known_location, 'Yes', value: 'Yes', class: "govuk-label govuk-radios__label" %>
        </div>

        <div class="govuk-radios__conditional" id="conditional-last_known_location_yes">
          <div class="govuk-form-group">
            <label class="govuk-label" for="yes">
              Which country did they live in?
            </label>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <%= form.radio_button(:last_known_address, 'Scotland', class: "govuk-radios__input", data: {behavior: "last-location"}, onclick: "hide_element()" ) %>
                <%= form.label :last_known_address, 'Scotland', value: 'Scotland', class: "govuk-label govuk-radios__label" %>
              </div>
              <div class="govuk-radios__item">
                <%= form.radio_button(:last_known_address, 'Northern Ireland', class: "govuk-radios__input", data: {behavior: "last-location"}, onclick: "hide_element()" ) %>
                <%= form.label :last_known_address, 'Northern Ireland', value: 'Northern Ireland', class: "govuk-label govuk-radios__label" %>
              </div>
              <div class="govuk-radios__item">
                <%= form.radio_button(:last_known_address, 'Wales', class: "govuk-radios__input", data: {behavior: "last-location"}, onclick: "show_element()" ) %>
                <%= form.label :last_known_address, 'Wales', value: 'Wales', class: "govuk-label govuk-radios__label" %>
              </div>
            </div>
          </div>
        </div>

        <div class="govuk-radios__item">
          <%= form.radio_button(:last_known_location, 'No', checked: @edit_case_info.last_known_location == 'No', class: "govuk-radios__input", data: {behavior: "last-location"}, onclick: "show_element()" ) %>
          <%= form.label :last_known_location, 'No', class: "govuk-label govuk-radios__label" %>
        </div>
      </div>
    </div>

    <div class="optional-case-info">
      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">Select the service provider</h1>
        </legend>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <%= form.radio_button(:case_allocation, 'NPS', class: "govuk-radios__input") %>
            <%= form.label :case_allocation, 'National Probation Service (NPS)', value: 'NPS', class: "govuk-label govuk-radios__label" %>
          </div>
          <div class="govuk-radios__item">
            <%= form.radio_button(:case_allocation, 'CRC', class: "govuk-radios__input") %>
            <%= form.label :case_allocation, 'Community Rehabilitation Company (CRC)', value: 'CRC', class: "govuk-label govuk-radios__label" %>
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">Choose the prisoner's tier</h1>
        </legend>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <%= form.radio_button(:tier, 'A', class: "govuk-radios__input") %>
            <%= form.label :tier, 'A', value: 'A', class: "govuk-label govuk-radios__label" %>
          </div>
          <div class="govuk-radios__item">
            <%= form.radio_button(:tier, 'B', class: "govuk-radios__input") %>
            <%= form.label :tier, 'B', value: 'B', class: "govuk-label govuk-radios__label" %>
          </div>
          <div class="govuk-radios__item">
            <%= form.radio_button(:tier, 'C', class: "govuk-radios__input") %>
            <%= form.label :tier, 'C', value: 'C', class: "govuk-label govuk-radios__label" %>
          </div>
          <div class="govuk-radios__item">
            <%= form.radio_button(:tier, 'D', class: "govuk-radios__input") %>
            <%= form.label :tier, 'D', value: 'D', class: "govuk-label govuk-radios__label" %>
          </div>
        </div>
      </div>

      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">Select the prisoner's Team</h1>
        </legend>
        <span class="govuk-hint">Enter the full name of the Team, for example 'NPS Croydon'</span>

        <%= form.select(:team_id,
                        Team.with_ldu.map { |team| [team.name, team.id] },
                        { include_blank: true },
                        { id:"team_autocomplete", class: "govuk-input--width-30" } ) %>
      </div>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell govuk-body" scope="row">
            <h3 class="govuk-body proceeding-item" id="chosen_team"><%= @team_name %></h3>
          </th>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <span id="remove_team" onclick="remove_team()">Remove</span>
          </td>
        </tr>
        </tbody>
      </table>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          If there's no Team on nDelius
        </span>
        </summary>
        <div class="govuk-details__text">
          This may be because the prisoner was sentenced outside the UK but is returning to serve their sentence.
          See <a href="https://moic.service.justice.gov.uk/repatriated" class="govuk-link">prisoners
          returning to the UK</a> for more information.
        </div>
      </details>
    </div>
  </fieldset>

  <%= form.submit "Update", role: "button", draggable: "false", class: "govuk-button" %>
<% end %>

<%= render :partial => "/shared/analytics_form_event",
           :locals => {
              :form_id => 'case_info_form',
              :event_name => 'Edit offender case info',
              :event_action => 'submit'
            }
%>
