
<%= form_tag(action, method: method, id: "case_info_form") do %>
    <%= hidden_field_tag("case_information[nomis_offender_id]", @prisoner.offender_no) %>

    <div class="govuk-form-group <% if @case_info.errors[:welsh_address].present? %>govuk-form-group--error<% end %>">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend--s govuk-!-margin-bottom-2">
          Was this prisoner's last known address in Wales?
        </legend>
        <p>
          Only prisoners with a Welsh address will be allocated a responsible<br/> prison or probation POM.
        </p>

        <% if @case_info.errors[:welsh_address].present? %>
          <span class="govuk-error-message">
            Last known address <%= @case_info.errors[:welsh_address].first %>
          </span>
        <% end %>

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <%= radio_button_tag("case_information[welsh_address]", 'Yes', @case_info.welsh_address == 'Yes', class: "govuk-radios__input") %>
            <%= label_tag "case_information[welsh_address]", 'Yes', class: "govuk-label govuk-radios__label" %>
          </div>
          <div class="govuk-radios__item">
            <%= radio_button_tag("case_information[welsh_address]", 'No', @case_info.welsh_address == 'No', class: "govuk-radios__input") %>
            <%= label_tag "case_information[welsh_address]", "No", class: "govuk-label govuk-radios__label" %>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-!-margin-top-8 govuk-form-group <% if @case_info.errors[:case_allocation].present? %>govuk-form-group--error<% end %>">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend--s govuk-!-margin-bottom-4">
            Who is the service provider for this case?
        </legend>
        <% if @case_info.errors[:case_allocation].present? %>
          <span class="govuk-error-message">
            Case allocation <%= @case_info.errors[:case_allocation].first %>
          </span>
        <% end %>

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <%= radio_button_tag("case_information[case_allocation]", "NPS", @case_info.case_allocation == 'NPS', class: "govuk-radios__input") %>
            <%= label_tag "case_information[case_allocation]", "National Probation Service (NPS)", class: "govuk-label govuk-radios__label" %>
          </div>
          <div class="govuk-radios__item">
            <%= radio_button_tag("case_information[case_allocation]", "CRC", @case_info.case_allocation == 'CRC', class: "govuk-radios__input") %>
            <%= label_tag "case_information[case_allocation]", "Community Rehabilitation Company (CRC)", class: "govuk-label govuk-radios__label" %>
          </div>
        </div>
      </fieldset>
    </div>

  <div class="govuk-!-margin-top-8 govuk-form-group <% if @case_info.errors[:tier].present? %>govuk-form-group--error<% end %>">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend--s  govuk-!-margin-bottom-4">
        What tier has the prisoner been assigned to?
      </legend>

      <% if @case_info.errors[:tier].present? %>
        <span class="govuk-error-message">
          Tier <%= @case_info.errors[:tier].first %>
        </span>
      <% end %>

      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <%= radio_button_tag("case_information[tier]", "A", @case_info[:tier] == 'A', class: "govuk-radios__input") %>
          <%= label_tag "case_information[tier]", "A", class: "govuk-label govuk-radios__label" %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag("case_information[tier]", "B", @case_info[:tier] == 'B', class: "govuk-radios__input") %>
          <%= label_tag "case_information[tier]", "B", class: "govuk-label govuk-radios__label" %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag("case_information[tier]", "C", @case_info[:tier] == 'C', class: "govuk-radios__input") %>
          <%= label_tag "case_information[tier]", "C", class: "govuk-label govuk-radios__label" %>
        </div>
        <div class="govuk-radios__item">
          <%= radio_button_tag("case_information[tier]", "D", @case_info[:tier] == 'D', class: "govuk-radios__input") %>
          <%= label_tag "case_information[tier]", "D", class: "govuk-label govuk-radios__label" %>
        </div>
      </div>
    </fieldset>
  </div>

  <%= submit_tag save_text, role: "button", draggable: "false", class: "govuk-button govuk govuk-!-margin-top-4" %>

<% end %>

  <%= render :partial => "/shared/analytics_form_event",
             :locals => {
                :form_id => 'case_info_form',
                :event_name => 'Edit offender case info',
                :event_action => 'submit'
              }
  %>