<%= form_for(@case_info,
             url: action,
             method: method,
             builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>
  <%= form.govuk_error_summary %>
  <%= render 'heading', heading: heading %>
  <%= hidden_field_tag('from', @source_page) %>
  <%= hidden_field_tag("sort", params[:sort]) %>
  <%= hidden_field_tag("page", params[:page]) %>

  <%= form.govuk_collection_radio_buttons(
        :tier,
        [OpenStruct.new(name: 'A', value: 'A'),
         OpenStruct.new(name: 'B', value: 'B'),
         OpenStruct.new(name: 'C', value: 'C'),
         OpenStruct.new(name: 'D', value: 'D')],
        :value,
        :name,
        legend: { text: t('.tier.legend') }
      ) %>

  <%= form.govuk_collection_radio_buttons(
        :enhanced_resourcing,
        [OpenStruct.new(name: t('.resourcing.labels.enhanced'), value: 'true'),
         OpenStruct.new(name: t('.resourcing.labels.standard'), value: 'false')],
        :value,
        :name,
        legend: { text: t('.resourcing.legend') },
        hint: { text: t('.resourcing.hint') },
      ) %>

  <div class="govuk-button-group govuk-!-margin-top-7">
    <% buttons.each do |button| %>
      <%= form.submit button.fetch(:text),
                      role: "button",
                      draggable: "false",
                      class: "govuk-button #{button.fetch(:class, '')}".strip,
                      data: { module: 'govuk-button' } %>
    <% end %>
  </div>
<% end %>
