<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<% if @errors.count > 0 %>
  <%= render :partial => "/shared/validation_errors", :locals => { :errors => @errors } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-4">
      <% if @case_info.new_record? %>
        Add missing information
      <% else %>
        Edit case information
      <% end %>
    </h1>
    <p class="govuk-!-margin-bottom-8">You can find this information in NDelius.</p>

    <%= render "#{@form}_form" %>

  </div>
  <div class="govuk-grid-column-one-third">
    <aside class="subsection govuk-!-margin-top-4 govuk-body" role="complementary">
      <h2 class="govuk-heading-m">
        <%= @prisoner.full_name %>
      </h2>

      <dl class="vertical-definition-list">
        <dt>Date of birth</dt>
        <dd><%= format_date(@prisoner.date_of_birth) %></dd>
        <dt>Prisoner number</dt>
        <dd><%= @prisoner.offender_no %></dd>
      </dl>
    </aside>
  </div>
</div>
