<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= back_link %>

    <%= form_for(@parole_form,
                 url: update_thd_prison_case_information_path(@prison.code, @prisoner.offender_no),
                 method: :put,
                 builder: GOVUKDesignSystemFormBuilder::FormBuilder,
                 id: "case_info_form") do |f| %>
      <%= f.govuk_error_summary %>

      <div class="govuk-form-group">
        <%=
          f.govuk_date_field :target_hearing_date,
                             legend: { text: "Enter a new target hearing date (THD) for #{ @prisoner.full_name_ordered } (#{ @prisoner.offender_no })", tag: 'h1', size: 'l' },
                             hint: -> do %>
          <p class="govuk-hint">You can find this on the outcome letter from the Parole Board or by asking a case admin to
            look it up in the Public Protection Unit Database (PPUD).</p>
          <p class="govuk-hint">For example, 4 6 2022.</p>
        <% end %>
      </div>

      <%= submit_tag "Update", role: "button", draggable: "false", class: "govuk-button govuk govuk-!-margin-top-4" %>

    <% end %>

  </div>
</div>
