<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<% if @probation_service_form.errors.count > 0 %>
  <%= render :partial => "/shared/validation_errors", :locals => { :errors => @probation_service_form.errors } %>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-4">
  <% if @case_info.new_record? %>
    Add missing information
  <% else %>
    Edit case information
  <% end %>
</h1>
<h2 class="govuk-heading-m"><%= @prisoner.full_name %> - <%= @prisoner.offender_no %></h2>
<p class="govuk-!-margin-bottom-8">You can find this information in NDelius.</p>

<%= form_for(@probation_service_form, url: prison_case_information_path(@prison.code, @prisoner.offender_no), method: :put) do |form| %>
  <%= form.hidden_field(:nomis_offender_id, value: @prisoner.offender_no) %>
  <%= hidden_field_tag("sort", params[:sort])%>
  <%= hidden_field_tag("page", params[:page]) %>
  <%= hidden_field_tag("form", "probation_service") %>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">Was the prisoner's last known address in Northern Ireland, Scotland or Wales?</h2>
      </legend>

      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <%= form.radio_button(:last_known_location, 'Yes', class: "govuk-radios__input", data: { aria_controls: "conditional-last_known_location_yes", aria_expanded: "true"} ) %>
          <%= form.label :last_known_location, 'Yes', value: 'Yes', class: "govuk-label govuk-radios__label" %>
        </div>

        <div class="govuk-radios__conditional" id="conditional-last_known_location_yes">
          <div class="govuk-form-group">
            <label class="govuk-label" for="yes">
              Which country did they live in?
            </label>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <%= form.radio_button(:last_known_address, 'Scotland', class: "govuk-radios__input" ) %>
                <%= form.label :last_known_address, 'Scotland - to be managed by Scottish probation', value: 'Scotland', class: "govuk-label govuk-radios__label" %>
              </div>
              <div class="govuk-radios__item">
                <%= form.radio_button(:last_known_address, 'Northern Ireland', class: "govuk-radios__input" ) %>
                <%= form.label :last_known_address, 'Northern Ireland - to be managed by Northern Irish probation', value: 'Northern Ireland', class: "govuk-label govuk-radios__label" %>
              </div>
              <div class="govuk-radios__item">
                <%= form.radio_button(:last_known_address, 'Wales', class: "govuk-radios__input" ) %>
                <%= form.label :last_known_address, 'Wales', value: 'Wales', class: "govuk-label govuk-radios__label" %>
              </div>
            </div>
          </div>
        </div>

        <div class="govuk-radios__item">
          <%= form.radio_button(:last_known_location, 'No', class: "govuk-radios__input" ) %>
          <%= form.label :last_known_location, 'No', value: 'No', class: "govuk-label govuk-radios__label" %>
        </div>
      </div>
    </fieldset>
  </div>

  <%= form.submit "Continue", role: "button", draggable: "false", class: "govuk-button" %>
<% end %>
