<%= render :partial => "/shared/backlink", :locals => { :page => new_allocations_path(@prisoner.offender_no) } %>

<% if @case_info.errors.count > 0 %>
  <%= render :partial => "/shared/validation_errors", :locals => { :errors => @case_info.errors } %>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-4">Edit case information</h1>
<h2 class="govuk-heading-m"><%= @prisoner.full_name %> - <%= @prisoner.offender_no %></h2>
<p class="govuk-!-margin-bottom-8">You can find this information in NDelius</p>

<%= render :partial => "form", :locals => {
      :action => case_information_path(),
      :method => :put,
      :save_text => "Update" } %>
