<%= link_to "Back", 'javascript:history.back()', class: "govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6" %>

<% if @case_info.errors.count > 0 %>
  <%= render :partial => "/shared/validation_errors", :locals => { :errors => @case_info.errors } %>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-top-4 govuk-!-margin-bottom-4">Case information</h1>
<h2 class="govuk-!-margin-bottom-0 govuk-heading-m"><%= @prisoner.full_name %> (<%= format_date(@prisoner.date_of_birth) %>)</h2>
<h2 class="govuk-heading-m"><%= @prisoner.offender_no %></h2>

<%= render 'last_known_location', form_method: :post %>
