<%= render :partial => "/shared/backlink", :locals => { :page => summary_path(anchor: 'awaiting-information') } %>


<% if @case_info.errors.count > 0 %>
  <%= render :partial => "/shared/validation_errors", :locals => { :errors => @case_info.errors } %>
<% end %>

<h1 class="govuk-heading-xl govuk-!-margin-top-4">Case information</h1>
<h2 class="govuk-heading-l"><%= @prisoner.full_name %> - <%= @prisoner.offender_no %></h2>

<%= render :partial => "form", :locals => {
      :action => case_information_path(),
      :method => :post,
      :save_text => "Save" } %>
