<div class="govuk-grid-column govuk-body">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Guidance</li>
    </ol>
    <br>
  </div>

  <div class="govuk-section-break--visible">
    <h1 class="govuk-heading-l">Guidance</h1>
    <p>Contents</p>
    <ul class="govuk-list--bullet">
      <li>
        <% if page == 0 %>
          Get started with the allocations service
        <% else %>
          <%= link_to "Get started with the allocations service", "help" %>
        <% end %>
      </li>
      <li>
        <% if page == 1 %>
          List everyone using the service
        <% else %>
          <%= link_to "List everyone using the service", "help_step1" %>
        <% end %>
      </li>
      <li>
        <% if page == 2 %>
          Set up access in Digital Prison Services
        <% else %>
          <%= link_to "Set up access in Digital Prison Services", "help_step2" %>
        <% end %>
      </li>
      <li>
        <% if page == 3 %>
          Set up POMs in NOMIS
        <% else %>
          <%= link_to "Set up POMs in NOMIS", "help_step3" %>
        <% end %>
      </li>
      <li>
        <% if page == 4 %>
          Update POM profiles
        <% else %>
          <%= link_to "Update POM profiles", "help_step4" %>
        <% end %>
      </li>
      <li>
        <% if page == 5 %>
          Update prisoner information
        <% else %>
          <%= link_to "Update prisoner information", "help_step5" %>
        <% end %>
      </li>
      <li>
        <% if page == 6 %>
          Start making allocations
        <% else %>
          <%= link_to "Start making allocations", "help_step6" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<br>