<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Contact</h1>

<div class="govuk-grid-row dashboard-row">

  <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          You can use this form to ask a question, report a problem or suggest an improvement.
        </label>
        <span id="more-detail-hint" class="govuk-hint">
          Do not include sensitive information, such as a prisoner's name or date of birth.
        </span>
        <% if @contact.present? %>
          <% if @contact.errors[:more_detail].present? %>
            <span class="govuk-error-message">
              The text box
              <%= @contact.errors[:more_detail].first %>
            </span>
          <% end %>
        <% end %>
        <%= form_tag(contact_path, method: :post, id: "contact_form") do %>
          <div class="govuk-form-group">
              <%= label_tag "email_address", "Email address", class: 'govuk-label' %>
              <%= email_field_tag("email_address", nil, id: "email_address", class: "govuk-input") %>
          </div>
          <div class="govuk-form-group">
              <%= label_tag "name", "Name", class: 'govuk-label' %>
              <%= text_field_tag("name", nil, id: "name", class: "govuk-input") %>
          </div>
          <div class="govuk-form-group">
            <%= label_tag "Role", "Role", class: 'govuk-label' %>
            <%= text_field_tag("role", nil, id: "role", class: "govuk-input") %>
          </div>
          <div class="govuk-form-group">
            <%= label_tag "prison", "Prison name", class: 'govuk-label' %>
            <%= text_field_tag("prison", nil, id: "prison", class: "govuk-input") %>
          </div>
          <div class="govuk-form-group ">
            <textarea class="govuk-textarea" id="more-detail" name="more_detail" rows="10" aria-describedby="more-detail-hint"></textarea>
          </div>
      </div>


      <button class="govuk-button" type="submit">Submit</button>
    <% end %>
  </div>
</div>
