<%= render :partial => "content", locals: { page: 2 } %>

<h1 class="govuk-heading-l govuk-!-margin-bottom-5">Set up access in Digital Prison Services</h1>

<div class="govuk-grid-column">
  <div class="govuk-body">

    <p>
      All SPOs, OMU case admin staff and POMs need to have the right roles
      assigned to them in order to access the allocations service.
    </p>

    <p>Sign in to Digital Prison Services using this URL:
      <%= link_to("https://notm.service.hmpps.dsd.io/", "https://notm.service.hmpps.dsd.io/") %>
    </p>

    <p><%=image_tag("hmpps_login_image.png") %></p>

    <p>Select ‘Admin and utilities’</p>

    <p><%=image_tag("nomis_login_image.png") %></p>

    <p>Select ‘Manage access roles’</p>

    <p><%=image_tag("admin_util_image.png") %></p>

    <p>Search for the staff member you want to set up by entering their user ID</p>

    <p><%=image_tag("search_staff_image.png") %></p>

    <p>When you have found the staff member, click ‘Edit’</p>

    <p><%=image_tag("staff_member_image.png") %></p>

    <p>Click ‘Add role’</p>

    <p><%=image_tag("staff_roles_image.png") %></p>

    <p>Click the ‘Choose new role’ to see a list of available user roles</p>

    <p><%=image_tag("add_staff_image.png") %><%= image_tag("choose_role_image.png") %></p>

    <p>Senior Probation Officers and Case Admins need to have the ‘Allocation manager’ role added</p>

    <p>Prison Offender Managers need to have the ‘Allocation case manager’ role added</p>
  </div>
</div>
