<% current_help_step = HelpStep.find(3) %>
<%= render :partial => "content", locals: { current_help_step: current_help_step } %>
<h1 class="part-title">Set up staff in NOMIS</h1>

<div class="govuk-inset-text">
  This step should be completed by a local system administrator after

  <%=
    link_to(
      'new staff members’ details have been listed',
      'help_step1'
    )
  %>.
</div>

<div class="govuk-grid-column">
  <div class="govuk-body">
    <p>
      You should have received details of new staff members from a head of offender management delivery (HOMD) or head
      of offender management services (HOMS).
    </p>

    <p>
      These people need a new position in NOMIS to access the allocation service. It usually takes about an hour for
      someone to appear in the service once the steps below have been completed.
    </p>

    <h2>Assign the new staff member's position</h2>

    <ol class="govuk-list--number">
      <li>
        Go to Utilities and then User/system security in the left-hand menu. Choose Maintain staff member agency
        location activity
      </li>

      <li>
        Enter the staff member’s name, then select the blue arrow, shown here

        <div>
          <%=image_tag("search_box_image.png") %>
        </div><br>
      </li>

      <li>
        Select the staff member whose details you are checking
      </li>

      <li>
        Go to the Staff member position/roles/schedules section, as shown below
      </li>

      <li>
        Add a new row if there is no space available
      </li>

      <li>
        Under position, choose either PRO (Prison Officer) or PO (Probation Officer). Under role, select POM. Under
        schedule type, select full-time or part-time
      </li>

      <li>
        Save the changes using the yellow disk icon at the top of the screen

        <div>
          <%=image_tag("caseload2_image.png") %>
        </div><br>
      </li>
    </ol>

    <h2>Check all email addresses are up to date</h2>

    <p>
      Email addresses need to be up to date in NOMIS so the service can notify POMs when they are allocated a case. The
      @justice.gov.uk email address should be used.
    </p>

    <ol class="govuk-list--number">
      <li>
        Go to Utilities and then User/system security in the left-hand menu. Then choose Maintain staff records
      </li>
      <li>
        Enter the staff member’s name, then select the blue arrow
      </li>
      <li>
        Select the member of staff whose details you are checking
      </li>
      <li>
        Update or add the correct address under Global emails if you need to, as shown below
      </li>
      <li>
        Save the changes using the yellow disk icon at the top of the screen

        <div>
          <%= image_tag("caseload1_image.png") %>
        </div><br>
      </li>
    </ol>

    <p>
      Once you have completed this step, notify the HOMD so they can start the <%= link_to "next task", "help_step4" %>.
    </p>

    <%= render :partial => "next_link", locals: { url: help_step4_path, next_page_title: 'Update POM profiles'} %>
  </div>
</div>
