<%= render :partial => "content", locals: { page: 2 } %>

<h1 class="part-title">Set up access in Digital Prison Services</h1>
<div class="govuk-inset-text">
  Local System Administrator (LSA) task
</div>

<div class="govuk-grid-column">
  <div class="govuk-body">

    <p>
      All SPOs, OMU case admin staff and POMs need to have the right roles
      assigned to them in order to access the allocations service.
    </p>

    <p>Sign in to Digital Prison Services using this URL:
      <%= link_to("https://notm.service.hmpps.dsd.io/", "https://notm.service.hmpps.dsd.io/") %>
    </p>

    <p><%=image_tag("hmpps_login_image.png") %></p>

    <ul class="govuk-list--bullet">
      <li>
        <div>Select ‘Admin and utilities’</div><br>
        <div><%=image_tag("nomis_login_image.png") %></div><br>
      </li>
      <li>
        <div>Select ‘Manage access roles’</div><br>
        <div><%=image_tag("admin_util_image.png") %></div><br>
      </li>
      <li>
        <div>Search for the staff member you want to set up by entering their user ID</div><br>
        <div><%=image_tag("search_staff_image.png") %></div><br>
      </li>
      <li>
        <div>When you have found the staff member, click ‘Edit’</div><br>
        <div><%=image_tag("staff_member_image.png") %></div><br>
      </li>
      <li>
        <div>Click ‘Add role’</div><br>
        <div><%=image_tag("staff_roles_image.png") %></div><br>
      </li>
      <li>
        <div>Click the ‘Choose new role’ to see a list of available user roles</div><br>
        <div><%=image_tag("add_staff_image.png") %><%= image_tag("choose_role_image.png") %></div><br>
      </li>
    </ul>

    <p>Senior Probation Officers and Case Admins need to have the ‘Allocation manager’ role added</p>

    <p>Prison Offender Managers need to have the ‘Allocation case manager’ role added</p>

    <%= render :partial => "next_link", locals: { url: help_step3_path, next_page_title: 'Set up POMs in NOMIS'} %>
  </div>
</div>
