<%= render :partial => "content", locals: { page: 1 }%>

<h2 class="govuk-heading-l">List everyone using the service</h2>
<div class="govuk-inset-text">
  Senior Probation Officer / Head of Offender Management Unit (SPO/HoOMU) task
</div>

<div class="govuk-grid-column">
  <div class="govuk-body">

    <p>We need the names and job roles of everyone using the service. This usually includes:</p>

    <ul class="govuk-list--bullet">
      <li>Senior probation officers (SPOs)</li>
      <li>Prison offender managers (POMs)</li>
      <li>Case admin staff in the Offender Management Unit</li>
      <li>Local System Admin (LSA)</li>
    </ul>

    <p>We also need the email addresses and working pattern for all prison offender managers.</p>

    <p>We have put together a <%= link_to("spreadsheet template", "https://drive.google.com/open?id=1wfKrP1RtuwZ_YCjmj3gljGKGIYlVd-IdvFvvdtwBduA") %> you can use to gather this information.</p>

    <p><%=image_tag("spreadsheet_image.png") %></p>

    <h2>Send the information to the allocations team</h2>

    <p>Send the names, roles and email addresses to: <%= mail_to("moic@digital.justice.gov.uk")%></p>

    <p>We will give everyone access to the new service and let you know when this has been done.</p>

    <h2>Share the information with the Local System Administrator (LSA)</h2>

    <p>You need to send the same list of names, roles and, (for POMs only),
      email addresses to the LSA so that they can complete
      <%= link_to "Task 2: Set up access in Digital Prison Services", "help_step2" %>.</p>

    <p>They will also need to access this guide.</p>
  </div>
</div>
