<%= render :partial => "content", locals: { page: 0 } %>

<h1 class="part-title">Overview</h1>

<div class="govuk-grid-column">
  <div class="govuk-body">

    <p>You will need to follow these steps whenever you need to add new staff members.</p>
    <p>The following people need to work together to complete the set-up.</p>

    <ul>
      <li><%=link_to "Task 1", "help_step1" %>: Senior Probation Officer / Head of Offender Management Unit (SPO/HoOMU)</li>
      <li><%=link_to "Task 2", "help_step2" %>: Local System Administrator</li>
      <li><%=link_to "Task 3", "help_step3" %>: Local System Administrator</li>
      <li><%=link_to "Task 4", "help_step4" %>: Senior Probation Officer / Head of Offender Management Unit (SPO/HoOMU) / Case admin</li>
      <li><%=link_to "Task 5", "help_step5" %>: Senior Probation Officer / Head of Offender Management Unit (SPO/HoOMU) / Case admin</li>
      <li><%=link_to "Task 6", "help_step6" %>: Senior Probation Officer / Head of Offender Management Unit (SPO/HoOMU)</li>
    </ul>

    <%= render :partial => "next_link", locals: { url: help_step1_path, next_page_title: 'List everyone using the service'} %>
  </div>
</div>


<br>
