<% content_for :title, "Confirm change of responsibility – Digital Prison Services" %>

<%= link_to 'Back',
            new_prison_responsibility_path(@prison.code, @offender.offender_no),
            class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@responsibility,
                 url: prison_responsibilities_path(@prison.code),
                 builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>
      <%= f.hidden_field(:nomis_offender_id) %>
      <%= f.hidden_field(:reason) %>
      <%= f.hidden_field(:reason_text) %>

      <h1 class="govuk-heading-l">Confirm change of responsibility for this case</h1>

      <p class="govuk-body">
        The community probation team will be responsible for this case.
      </p>

      <p class="govuk-body">
        We will email the community probation team at <strong><%= @ldu_email_address %></strong>.
        They will need to allocate a community offender manager if one has not yet been allocated.
      </p>

      <p class="govuk-body govuk-!-margin-bottom-6">
        You will also receive a copy of this email for your records.
      </p>

      <%= f.govuk_text_area :message,
                            label: { text: 'Add a note to the email (optional)', size: 's' },
                            hint: { text: 'For example, you can tell the community team about any special requirements.' },
                            rows: 3 %>

      <div class="govuk-button-group">
        <%= f.submit 'Confirm', class: 'govuk-button', data: { module: 'govuk-button' } %>
        <%= link_to 'Cancel', prison_prisoner_allocation_path(@prison.code, @offender.offender_no), class: 'govuk-link' %>
      </div>
    <% end %>
  </div>
</div>
