<% content_for :title, "Confirm change of responsibility – Digital Prison Services" %>

<%= link_to 'Back', @back_path,
            class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@responsibility,
                 url: prison_responsibility_path(@prison.code, @offender.offender_no),
                 method: :delete,
                 builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>
      <%= hidden_field_tag('from', @source_page) %>
      <%= f.hidden_field :nomis_offender_id %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">Confirm change of responsibility for this case</h1>

      <p class="govuk-body">
        The community probation team will no longer be responsible for this case.<br/>
        We will email the community probation team at <strong><%= @ldu_email_address %></strong>.
      </p>

      <p class="govuk-body govuk-!-margin-bottom-6">
        You will also receive a copy of this email for your records.
      </p>

      <%= f.govuk_text_area :reason_text,
                            label: { text: 'Why are you changing responsibility for this case?', size: 's' },
                            hint: { text: 'This will be included in the email to the community team.' },
                            rows: 3 %>

      <div class="govuk-button-group">
        <%= f.submit 'Confirm', class: 'govuk-button', data: { module: 'govuk-button' } %>
        <%= link_to 'Cancel', @back_path, class: 'govuk-link' %>
      </div>
    <% end %>
  </div>
</div>
