<% content_for :title, "Why are you changing responsibility for this case? – Digital Prison Services" %>

<%= link_to 'Back', prison_prisoner_allocation_path(@prison.code, @offender.offender_no),
            class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@responsibility,
                 url: confirm_prison_responsibilities_path(@prison.code, @responsibility),
                 builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>
      <%= f.hidden_field(:nomis_offender_id) %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset(
              :reason, legend: { text: 'Why are you changing responsibility for this case?', size: 'l', tag: 'h1' }) do %>
        <%= f.govuk_radio_button :reason, 'less_than_10_months_to_serve',
                                 label: { text: 'The prisoner has less than 10 months less to serve' }, link_errors: true %>
        <%= f.govuk_radio_button :reason, 'community_team_to_work_with_offender',
                                 label: { text: 'Decision made for the community probation team to work with this prisoner' } %>
        <%= f.govuk_radio_button :reason, 'prisoner_has_been_recalled',
                                 label: { text: 'Prisoner has been recalled' } %>
        <%= f.govuk_radio_button :reason, 'other_reason',
                                 label: { text: 'Other' } do %>
          <%= f.govuk_text_area :reason_text, label: { text: 'Enter reason' }, rows: 3 %>
        <% end %>
      <% end %>

      <div class="govuk-button-group">
        <%= f.submit 'Continue', class: 'govuk-button', data: { module: 'govuk-button' } %>
        <%= link_to 'Cancel', prison_prisoner_allocation_path(@prison.code, @offender.offender_no), class: 'govuk-link' %>
      </div>
    <% end %>
  </div>
</div>
