<table class="govuk-table responsive tablesorter">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('last_name') %>">
          Case
        </a>
        <%= sort_arrow('last_name') %>
     </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('earliest_release_date') %>">
          Earliest release<br/>date
        </a>
        <%= sort_arrow('earliest_release_date') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('tier') %>">
          Tier
        </a>
        <%= sort_arrow('tier') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('primary_pom_allocated_at') %>">
          Allocation date
        </a>
        <%= sort_arrow('primary_pom_allocated_at') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('pom_responsibility') %>">
          Role
        </a>
        <%= sort_arrow('pom_responsibility') %>
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% allocations.each_with_index do |allocation, i| %>
    <tr class="govuk-table__row pom_cases_row_<%= i %>">
      <td aria-label="Prisoner name" class="govuk-table__cell">
        <%= link_to(allocation.full_name, prison_prisoner_allocation_path(@prison.code, allocation.nomis_offender_id), class: "govuk-link" ) %>
        <br/>
        <span class='govuk-hint govuk-!-margin-bottom-0'>
          <%= allocation.nomis_offender_id %>
        </span>
      </td>
      <td aria-label="Earliest release date" class="govuk-table__cell"><%= format_date(allocation.earliest_release_date) %></td>
      <td aria-label="Tier" class="govuk-table__cell"><%= allocation.tier %></td>
      <td aria-label="Allocation date" class="govuk-table__cell"><%= format_date(allocation.primary_pom_allocated_at) %></td>
      <td aria-label="Role" class="govuk-table__cell"><%= pom_responsibility_label(allocation) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
