
<table class="govuk-table responsive tablesorter">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('last_name') %>">
          Prisoner name
        </a>
        <%= sort_arrow('last_name') %>
     </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('nomis_offender_id') %>">
          Prisoner number
        </a>
        <%= sort_arrow('nomis_offender_id') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('earliest_release_date') %>">
          Earliest release<br/>date
        </a>
        <%= sort_arrow('earliest_release_date') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('allocated_at_tier') %>">
          Tier
        </a>
        <%= sort_arrow('allocated_at_tier') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('primary_pom_allocated_at') %>">
          Allocation date
        </a>
        <%= sort_arrow('primary_pom_allocated_at') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('responsibility') %>">
          Role
        </a>
        <%= sort_arrow('responsibility') %>
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% allocations.each_with_index do |allocation, i| %>
    <tr class="govuk-table__row pom_cases_row_<%= i %>">
      <td aria-label="Prisoner name" class="govuk-table__cell "><%= allocation.full_name %></td>
      <td aria-label="Prisoner number" class="govuk-table__cell "><%= allocation.nomis_offender_id %></td>
      <td aria-label="Earliest release date" class="govuk-table__cell "><%= format_date(allocation.earliest_release_date) %></td>
      <td aria-label="Tier" class="govuk-table__cell "><%= allocation.allocated_at_tier %></td>
      <td aria-label="Allocation date" class="govuk-table__cell "><%= format_date(allocation.primary_pom_allocated_at) %></td>
      <td aria-label="Role" class="govuk-table__cell "><%= allocation.responsibility %></td>
    </tr>
    <% end %>
  </tbody>
</table>
