<table class="govuk-table responsive">
  <%= case_mix_key %>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">POM</th>
    <th class="govuk-table__header" scope="col">Working pattern</th>
    <th class="govuk-table__header" scope="col">Status</th>
    <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Case mix by tier</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">High complexity cases</th>
    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total cases</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% poms.each_with_index do |pom, i| %>
    <tr class="govuk-table__row pom_row_<%= i %>">
      <td aria-label="POM" class="govuk-table__cell"><%= link_to full_name_ordered(pom), prison_pom_path(@prison.code, nomis_staff_id: pom.staff_id) %></td>
      <td aria-label="Working pattern" class="govuk-table__cell"><%= format_working_pattern(pom.working_pattern) %></td>
      <td aria-label="Status" class="govuk-table__cell"><%= status(pom).capitalize %></td>
      <td aria-label="Case mix by tier" class="govuk-table__cell"><%= case_mix_bar(pom) %></td>
      <td aria-label="High complexity cases" class="govuk-table__cell govuk-table__cell--numeric"><%= pom.high_complexity_count %></td>
      <td aria-label="Total cases" class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold"><%= pom.total_cases %></td>
    </tr>
  <% end %>
  </tbody>
</table>
