<table class="govuk-table responsive tablesorter">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">POM name</th>
    <th class="govuk-table__header" scope="col">Tier A<br/>cases</th>
    <th class="govuk-table__header" scope="col">Tier B<br/>cases</th>
    <th class="govuk-table__header" scope="col">Tier C<br/>cases</th>
    <th class="govuk-table__header" scope="col">Tier D<br/>cases</th>
    <th class="govuk-table__header" scope="col">Total</th>
    <th class="govuk-table__header header-width__8" scope="col">Working<br/>pattern</th>
    <th class="govuk-table__header" scope="col">Status</th>
    <th class="govuk-table__header sorter-false" scope="col">Action</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% poms.select{ |pom| pom.position.include?('PRO')}.each_with_index do |pom, i| %>
    <tr class="govuk-table__row prison_pom_row_<%= i %>">
      <td aria-label="POM name" class="govuk-table__cell "><%= pom.full_name %></td>
      <td aria-label="Tier A cases" class="govuk-table__cell "><%= pom.tier_a %></td>
      <td aria-label="Tier B cases" class="govuk-table__cell "><%= pom.tier_b %></td>
      <td aria-label="Tier C cases" class="govuk-table__cell "><%= pom.tier_c %></td>
      <td aria-label="Tier D cases" class="govuk-table__cell "><%= pom.tier_d %></td>
      <td aria-label="Total" class="govuk-table__cell "><%= pom.total_cases %></td>
      <td aria-label="Working pattern" class="govuk-table__cell"><%= format_working_pattern(pom.working_pattern) %></td>
      <td aria-label="Status" class="govuk-table__cell "><%= pom.status.capitalize %></td>
      <td aria-label="Action" class="govuk-table__cell "><%= link_to 'View', prison_pom_path(@prison, nomis_staff_id: pom.staff_id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
