<% content_for :title, "Edit profile – Digital Prison Services" %>

<%= link_to 'Back', prison_pom_path(@prison.code, @pom.staff_id),
            class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@edit_pom_form, as: :edit_pom, url: prison_pom_path(@prison.code, nomis_staff_id: @pom.staff_id), method: :put,
                 builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { id: "edit_pom_form" }) do |f| %>

      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl">Edit profile</h1>
      <h2 class="govuk-heading-l"><%= @pom.full_name_ordered %></h2>

      <div class='govuk-!-margin-top-7'>
        <%= f.govuk_radio_buttons_fieldset(:description, legend: { text: 'Select working pattern', size: 's', tag: 'h3' }) do %>
          <%= f.govuk_radio_button :description, 'FT', label: { text: 'Full time' }, link_errors: true %>
          <%= f.govuk_radio_button :description, 'PT', label: { text: 'Part time' } do %>
            <%= f.govuk_radio_buttons_fieldset(:working_pattern, legend: { size: 's', text: 'Select how many days per week they will work' }) do %>
              <% 9.downto(1).each.with_index do |value, index| %>
                <%= f.govuk_radio_button :working_pattern, "0.#{value}", label: { text: working_pattern_to_days(value) }, link_errors: index.zero? %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class='govuk-!-margin-top-6'>
        <%= f.govuk_radio_buttons_fieldset(:status, legend: { text: 'Select status', size: 's', tag: 'h3' }) do %>
          <%= f.govuk_radio_button :status, :active,
                label: { text: 'Available for new cases' }, link_errors: true %>
          <%= f.govuk_radio_button :status, :unavailable,
                label: { text: 'Unavailable for new cases' },
                hint: { text: 'Use if this POM is too busy. They will be removed from the list of people you can allocate to.' } %>
          <%= f.govuk_radio_button :status, :inactive,
                label: { text: 'Away from work' },
                hint: { text: 'Use for longer periods of absence. This will remove the POM from the list of people you can allocate to. You will be able to reallocate their cases.' } %>
          <% if FeatureFlags.status_bulk_reallocation.enabled? %>
            <%= f.govuk_radio_button :status, :deleted,
                  label: { text: "No longer at #{@prison.name}" },
                  hint: { text: 'Once you have reallocated any cases they have, they will be removed from this service.' } %>
          <% end %>
        <% end %>
      </div>

      <div class="govuk-form-group">
        <%= f.govuk_submit 'Save' %>
        <%= link_to 'Cancel', prison_pom_path(@prison.code, @pom.staff_id), class: 'govuk-link app-cancel-link' %>
      </div>
    <% end %>
  </div>
</div>
