
<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<h1 class="govuk-heading-xl">Prison Offender Managers</h1>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Prison Offender Managers
  </h2>
  <ul class="govuk-tabs__list" role='tablist'>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#active">
        Active (<%= @active_poms.count %>)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#inactive">
        Inactive (<%= @inactive_poms.count %>)
      </a>
    </li>
  </ul>

  <%= render 'active' %>
  <%= render 'inactive' %>

</div>
