<% content_for :title, "Manage your staff – Digital Prison Services" %>

<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<h1 class="govuk-heading-l">Manage your staff</h1>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">Manage your staff</h2>
  <p class="govuk-body">POMs who are available for allocations are shown here as active.</p>
  <p class="govuk-body">
    If someone has left or will be absent for a while, make sure their status is set to inactive by selecting
    their name below. You will then need to reallocate any cases they have.
  </p>
  <br/>

  <ul class="govuk-tabs__list" role='tablist'>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#active_probation_poms">
        Active Probation officer POMs (<%= active_probation_poms(@poms).count %>)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#active_prison_poms">
        Active Prison officer POMs (<%= active_prison_poms(@poms).count %>)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#inactive_poms">
        Inactive staff (<%= inactive_poms(@poms).count %>)
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="active_probation_poms">
    <h2 class="govuk-heading-m">Active Probation officer POMs</h2>
    <%= render "poms_table", pom_type: 'probation', poms: active_probation_poms(@poms) %>
  </section>

  <section class="govuk-tabs__panel" id="active_prison_poms">
    <h2 class="govuk-heading-m">Active Prison officer POMs</h2>
    <%= render "poms_table", pom_type: 'prison', poms: active_prison_poms(@poms) %>
  </section>

  <section class="govuk-tabs__panel" id="inactive_poms">
    <h2 class="govuk-heading-m">Inactive staff</h2>
    <%= render "inactive_poms", poms: inactive_poms(@poms) %>
  </section>
</div>
