<% content_for :title, "Manage your staff – Digital Prison Services" %>

<%= render 'layouts/notice', notice: flash[:notice] %>

<div class="moj-page-header-actions govuk-!-margin-bottom-1 govuk-!-padding-top-0">
  <div class="moj-page-header-actions__title">
    <h1 class="govuk-heading-xl">Manage your staff</h1>
  </div>

  <div class="moj-page-header-actions__actions">
    <%= link_to 'Add a POM', search_prison_onboarding_index_path(@prison.code, from: :staff), role: 'button',
                class: 'govuk-button govuk-button--secondary govuk-!-margin-bottom-0',
                data: { module: 'govuk-button--secondary' } %>
  </div>
</div>

<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list govuk-!-margin-top-9" role='tablist'>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#active_probation_poms">
        Active probation officer POMs (<%= active_probation_poms(@poms).count %>)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#active_prison_poms">
        Active prison officer POMs (<%= active_prison_poms(@poms).count %>)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#inactive_poms">
        Inactive staff (<%= inactive_poms(@poms).count %>)
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="active_probation_poms">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Active probation officer POMs</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">
          If someone has left or will be absent for a while, make sure their status is set to inactive by selecting
          their name below. You will then need to reallocate any cases they have.
        </p>
      </div>
    </div>
    <%= render "poms_table", pom_type: 'probation', poms: active_probation_poms(@poms) %>
  </section>

  <section class="govuk-tabs__panel" id="active_prison_poms">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Active prison officer POMs</h2>
        <p class="govuk-body govuk-!-margin-bottom-8">
          If someone has left or will be absent for a while, make sure their status is set to inactive by selecting
          their name below. You will then need to reallocate any cases they have.
        </p>
      </div>
    </div>
    <%= render "poms_table", pom_type: 'prison', poms: active_prison_poms(@poms) %>
  </section>

  <section class="govuk-tabs__panel" id="inactive_poms">
    <h2 class="govuk-heading-l">Inactive staff</h2>
    <%= render "inactive_poms", poms: inactive_poms(@poms) %>
  </section>
</div>
