<%= back_link %>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
  <span class="govuk-caption-xl">
    <%= pom_level_long(@pom.position) %>
  </span>
  <%= full_name_ordered(@pom) %>
</h1>
<nav class="moj-sub-navigation" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <% if @tab == 'caseload' %>
        <%= link_to 'Overview', prison_show_pom_tab_path(@prison.code, @pom.staff_id, :overview), class: 'moj-sub-navigation__link' %>
      <% else %>
        <%= link_to 'Overview', prison_show_pom_tab_path(@prison.code, @pom.staff_id, :overview), class: 'moj-sub-navigation__link', aria: { current: "page" } %>
      <% end %>
    </li>
    <li class="moj-sub-navigation__item">
      <% if @tab == 'caseload' %>
        <%= link_to 'Caseload', prison_show_pom_tab_path(@prison.code, @pom.staff_id, :caseload), class: 'moj-sub-navigation__link', aria: { current: "page" } %>
      <% else %>
        <%= link_to 'Caseload', prison_show_pom_tab_path(@prison.code, @pom.staff_id, :caseload), class: 'moj-sub-navigation__link' %>
      <% end %>
    </li>
  </ul>
</nav>

<% if @tab == 'caseload' %>
  <%= render 'caseload_tab' %>
<% else %>
  <%= render 'overview_tab' %>
<% end %>