<% content_for :title, "View a POM's caseload – Digital Prison Services" %>

<%= back_link %>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
  <span class="govuk-caption-xl">
    <%= pom_level_long(@pom.position) %>
  </span>
  <%= full_name_ordered(@pom) %>
</h1>
<nav class="moj-sub-navigation" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <% if @tab == 'overview' %>
        <%= link_to 'Overview', prison_show_pom_tab_path(@prison.code, @pom.staff_id, :overview), class: 'moj-sub-navigation__link', aria: { current: "page" } %>
      <% else %>
        <%= link_to 'Overview', prison_show_pom_tab_path(@prison.code, @pom.staff_id, :overview), class: 'moj-sub-navigation__link' %>
      <% end %>
    </li>
    <li class="moj-sub-navigation__item">
      <% if @tab == 'caseload' %>
        <%= link_to "Caseload (#{@summary[:total_cases]})", prison_show_pom_tab_path(@prison.code, @pom.staff_id, :caseload), class: 'moj-sub-navigation__link', aria: { current: "page" } %>
      <% else %>
        <%= link_to "Caseload (#{@summary[:total_cases]})", prison_show_pom_tab_path(@prison.code, @pom.staff_id, :caseload), class: 'moj-sub-navigation__link' %>
      <% end %>
    </li>
    <li class="moj-sub-navigation__item">
      <% if @tab == 'handover' %>
        <%= link_to "Handover cases (#{@summary[:in_progress_handover_count]})", prison_show_pom_tab_path(@prison.code, @pom.staff_id, :handover), class: 'moj-sub-navigation__link', aria: { current: "page" } %>
      <% else %>
        <%= link_to "Handover cases (#{@summary[:in_progress_handover_count]})", prison_show_pom_tab_path(@prison.code, @pom.staff_id, :handover), class: 'moj-sub-navigation__link' %>
      <% end %>
    </li>
    <% if USE_PPUD_PAROLE_DATA %>
      <li class="moj-sub-navigation__item">
        <% if @tab == 'parole' %>
          <%= link_to 'Parole', prison_show_pom_tab_path(@prison.code, @pom.staff_id, :parole), class: 'moj-sub-navigation__link', aria: { current: "page" } %>
        <% else %>
          <%= link_to 'Parole', prison_show_pom_tab_path(@prison.code, @pom.staff_id, :parole), class: 'moj-sub-navigation__link' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>

<% if @tab == 'caseload' %>
  <%= render 'caseload_tab' %>
<% elsif @tab == 'handover' %>
  <%= render 'handover_tab' %>
<% elsif USE_PPUD_PAROLE_DATA && @tab == 'parole'%>
  <%= render 'parole_tab' %>
<% else %>
  <%= render 'overview_tab' %>
<% end %>