<th class="govuk-table__header" scope="col">
  <a href="<%= sort_link('last_name') %>">
    Prisoner name
  </a>
  <%= sort_arrow('last_name') %>
</th>
<th class="govuk-table__header" scope="col">
  <a href="<%= sort_link('cell_location') %>">
    Location
  </a>
  <%= sort_arrow('cell_location') %>
</th>
<th class="govuk-table__header" scope="col">
  <a href="<%= sort_link('tier') %>">
    Tier
  </a>
  <%= sort_arrow('tier') %>
</th>
<th class="govuk-table__header" scope="col">
  <a href="<%= sort_link('complexity_level_number') %>">
    Complexity level
  </a>
  <%= sort_arrow('complexity_level_number') %>
</th>
<th class="govuk-table__header" scope="col">
  <a href="<%= sort_link('earliest_release_date') %>">
    Earliest release<br/> date
  </a>
  <%= sort_arrow('earliest_release_date') %>
</th>
<th class="govuk-table__header" scope="col">
  <a href="<%= sort_link('pom_responsibility') %>">
    Role
  </a>
  <%= sort_arrow('pom_responsibility') %>
</th>
