<tr class="govuk-table__row offender_row_<%= female_counter %>">
  <td aria-label="Prisoner name" class="govuk-table__cell">
    <%= link_to(highlight(female.full_name, @q), prison_prisoner_path(@prison.code, female.nomis_offender_id), class: "govuk-link" ) %>
    <br/>
    <span class='govuk-hint govuk-!-margin-bottom-0'>
      <%= highlight(female.nomis_offender_id, @q) %>
    </span>
  </td>
  <td aria-label="Location" class="govuk-table__cell">
    <%= prisoner_location(female, location_only: true) %>
  </td>
  <td aria-label="Tier" class="govuk-table__cell tier">
    <strong><%= female.tier %></strong>
  </td>
  <td aria-label="Complexity Level" class="govuk-table__cell">
    <%= female.complexity_level.titleize %>
  </td>
  <td aria-label="Earliest release date" class="govuk-table__cell ">
    <% if female.earliest_release.present? %>
      <%= female.earliest_release[:type] %> : <br/>
      <%= format_date(female.earliest_release[:date] , replacement: "Unknown") %>
    <% else %>
      Unknown
    <% end %></td>
  <td aria-label="Role" class="govuk-table__cell "><%= pom_responsibility_label female %></td>
</tr>
