<tr class="govuk-table__row offender_row_<%= updates_required_counter %>">
  <td aria-label="Prisoner name" class="govuk-table__cell">
    <%= link_to(highlight(updates_required.offender_name, @q), prison_prisoner_path(@prison.code, updates_required.offender_number), class: "govuk-link" ) %>
    <br/>
    <span class='govuk-hint govuk-!-margin-bottom-0'>
      <%= highlight(updates_required.offender_number, @q) %>
    </span>
  </td>
  <td aria-label="Location" class="govuk-table__cell">
    <%= updates_required.action_label %>
  </td>
  <td aria-label="Tier" class="govuk-table__cell tier">
    <%= link_to('View', prison_prisoner_path(@prison.code, updates_required.offender_number)) %>
  </td>
</tr>
