<%= render partial: 'layouts/caseload' %>
<h2 class="govuk-heading-l">
  Your cases
</h2>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h3 class="govuk-heading-m" style="margin-bottom: -5px;">
        Choose which cases you want to see
      </h3>
    </legend>
    <div class="govuk-radios govuk-radios--inline govuk-radios govuk-radios--small">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" name="changed-name" type="radio" <%= 'checked' if @filter == 'all' %> onclick="window.location = '<%= prison_staff_caseload_cases_path(f: 'all') %>'">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          <%= link_to "All your cases (#{@summary.fetch(:total_cases)})", prison_staff_caseload_cases_path(f: 'all') %>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" name="changed-name" type="radio" <%= 'checked' if @filter == 'recent_allocations' %> onclick="window.location = '<%= prison_staff_caseload_cases_path(f: 'recent_allocations') %>'">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          <%= link_to "Allocated in last 7 days (#{@summary.fetch(:last_seven_days)})", prison_staff_caseload_cases_path(f: 'recent_allocations') %>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" name="changed-name" type="radio" <%= 'checked' if @filter == 'upcoming_releases' %> onclick="window.location = '<%= prison_staff_caseload_cases_path(f: 'upcoming_releases') %>'">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          <%= link_to "Releases in next 4 weeks (#{@summary.fetch(:release_next_four_weeks)})", prison_staff_caseload_cases_path(f: 'upcoming_releases') %>
        </label>
      </div>
    </div>
  </fieldset>
</div>

<%= render partial: 'shared/pagination', locals: { data: @allocations } %>
<br/>
<% if @prison.womens? %>
  <%= render 'caseload_table', header_partial: 'female_headers', collection_partial: 'female', collection: @allocations %>
<% else %>
  <%= render 'caseload_table', header_partial: 'male_headers', collection_partial: 'male', collection: @allocations %>
<% end %>

<%= render partial: 'shared/pagination', locals: { data: @allocations } %>

<% if @allocations.empty? %>
  <p class="govuk-body">
    <%= case params.fetch('f', nil)
        when 'recent_allocations'
          'No cases allocated in last 7 days'
        when 'upcoming_releases'
          'No releases in next 4 weeks'
        else
          'No cases allocated'
        end %>
  </p>
<% end %>

