<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<% if @pending_task_count > 0 %>
  <%= render partial: 'shared/info_banner', locals: {
    content: "#{@pending_task_count} case updates are needed. <a href='#{prison_tasks_path(@prison.code)}'>Check now</a>".html_safe }
  %>
<% end %>

<% if @pom.blank? %>
  <h2 class="govuk-heading-l">No allocated cases </h2>
<% else %>
  <h2 class="govuk-heading-l">Your caseload (<%= @total_allocation_count  %>)</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-body">New cases</div>
      <div class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 new-cases-count">
        <% if @new_cases_count > 0 %>
          <%= link_to "#{@new_cases_count}", new_prison_staff_caseload_path(@prison.code), class:"govuk-link"%>
        <% else %>
          0
        <% end %>
      </div>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-body">Cases close to handover</div>
      <div class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 upcoming-handover-count">
        <% if @pending_handover_count > 0 %>
          <%= link_to "#{@pending_handover_count}", prison_staff_caseload_handover_start_path(@prison.code), class:"govuk-link"%>
        <% else %>
          0
        <% end %>
      </div>
    </div>

    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-body">Working pattern</div>
      <div class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24"><%= working_pattern_name(@pom.working_pattern) %></div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-body">Status</div>
      <div class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24"><%= @pom.status.capitalize %></div>
    </div>
  </div>

  <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
    <%= render "poms/search_box" %>
  </div>

  <%= render partial: 'shared/pagination', locals: {data: @allocations } %>

  <table class="govuk-table responsive tablesorter">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('last_name') %>">
          Prisoner name
        </a>
        <%= sort_arrow('last_name') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('latest_movement_date') %>">
          Location
        </a>
        <%= sort_arrow('latest_movement_date') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('tier') %>">
        Tier
        </a>
        <%= sort_arrow('tier') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('earliest_release_date') %>">
          Earliest release<br/> date
        </a>
        <%= sort_arrow('earliest_release_date') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('primary_pom_allocated_at') %>">
          Allocation<br/>date
        </a>
        <%= sort_arrow('primary_pom_allocated_at') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('pom_responsibility') %>">
          Role
        </a>
        <%= sort_arrow('pom_responsibility') %>
      </th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @allocations.each_with_index do |offender, i| %>
      <tr class="govuk-table__row offender_row_<%= i %>">
        <td aria-label="Prisoner name" class="govuk-table__cell">
          <%= link_to(highlight(offender.full_name, @q), prison_prisoner_path(@prison.code, offender.nomis_offender_id), class: "govuk-link" ) %>
          <br/>
          <span class='govuk-hint govuk-!-margin-bottom-0'>
            <%= highlight(offender.nomis_offender_id, @q) %>
          </span>
        </td>
        <td aria-label="Location" class="govuk-table__cell">
          <%= offender.latest_movement_date.nil? ? PrisonService.name_for(offender.prison) : "Temporary absence (out #{format_date(offender.latest_movement_date)})" %>
        </td>
        <td aria-label="Tier" class="govuk-table__cell tier">
          <%= offender.tier %>
        </td>
        <td aria-label="Earliest release date" class="govuk-table__cell "><%= format_date(offender.earliest_release_date, replacement: "Unknown") %></td>
        <td aria-label="Allocation date" class="govuk-table__cell "><%= format_date(offender.primary_pom_allocated_at) %></td>
        <td aria-label="Role" class="govuk-table__cell "><%= offender.pom_responsibility %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render partial: 'shared/pagination', locals: {data: @allocations } %>

<% end %>
