<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<% if @pom.blank? %>
  <h2 class="govuk-heading-l">No new cases </h2>
<% else %>
  <h2 class="govuk-heading-l">New cases</h2>

  <table class="govuk-table responsive tablesorter">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Prisoner name</th>
      <th class="govuk-table__header" scope="col">Prisoner number</th>
      <th class="govuk-table__header" scope="col">Arrival date</th>
      <th class="govuk-table__header" scope="col">Earliest release date</th>
      <th class="govuk-table__header" scope="col">Allocation<br/>date</th>
      <th class="govuk-table__header" scope="col">Role</th>
      <th class="govuk-table__header" scope="col">Action</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @new_cases.each do |allocation, sentence| %>
      <tr class="govuk-table__row">
        <td aria-label="Prisoner name" class="govuk-table__cell "><%= sentence.full_name %></td>
        <td aria-label="Prisoner number" class="govuk-table__cell "><%= allocation.nomis_offender_id %></td>
        <td aria-label="Arrival date" class="govuk-table__cell "><%= format_date(sentence.sentence_start_date) %></td>
        <td aria-label="Release date" class="govuk-table__cell "><%= format_date(sentence.earliest_release_date) %></td>
        <td aria-label="Allocation date" class="govuk-table__cell "><%= format_date(allocation.created_at) %></td>
        <td aria-label="Role" class="govuk-table__cell "><%= allocation.responsibility %></td>
        <td aria-label="Action" class="govuk-table__cell ">
          View
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end  %>
