<% content_for :title, "Delete VLO contact details – Digital Prison Services" %>

<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<h2 class="govuk-heading-l">Delete the selected Victim Liaison Officer (VLO) contact?</h2>

<p class="govuk-body">
Contact details for the VLO <%= @vlo.full_name %> will be removed from the prisoner record.
</p>

<%= form_for(@vlo,
             url: prison_prisoner_victim_liaison_officer_path(@prison.code, @vlo.nomis_offender_id, @vlo.id),
             method: :delete,
             builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>

  <%= f.submit "Confirm", role: "button", draggable: "false", class: "govuk-button" %>
  <%= link_to 'Cancel', 'javascript:history.back()', class: 'govuk-link cancel-button' %>

<% end %>

