<section class="govuk-tabs__panel" id="awaiting-information">
  <table class="govuk-table responsive tablesorter">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"><a href='#' class='table-sorter__link'>Prisoner name</a></th>
      <th class="govuk-table__header sorter-false" scope="col">Prisoner number</th>
      <th class="govuk-table__header" scope="col"><a href="#">Service provider</a></th>
      <th class="govuk-table__header" scope="col"><a href="#">Tier</a></th>
      <th class="govuk-table__header" scope="col"><a href="#">Waiting</a></th>
      <th class="govuk-table__header sorter-false" scope="col">Action</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @summary.missing_info_offenders.each_with_index do |offender, i| %>
      <tr class="govuk-table__row offender_row_<%= i %>">
        <td aria-label="Prisoner full name" class="govuk-table__cell "><%= offender.full_name %></td>
        <td aria-label="Prisoner number" class="govuk-table__cell "><%= offender.offender_no %></td>

        <!-- Todo: REFACTOR THIS SECTION TO USE PRESENTERS -->
        <td aria-label="Service provider" class="govuk-table__cell ">
          <% if offender.case_allocation %>
            <%= offender.case_allocation %>
          <% else %>
            Not provided
          <% end %>
        </td>
        <td aria-label="Tier" class="govuk-table__cell ">
          <% if offender.tier %>
            <%= offender.tier %>
          <% else %>
            Not provided
          <% end %>
        </td>
        <td aria-label="Waiting" class="govuk-table__cell"><%= offender.awaiting_allocation_for %> days</td>
        <td aria-label="Action" class="govuk-table__cell "><%= link_to "Edit", new_case_information_path(offender.offender_no) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :page_data => @missing_info_page_meta,
              :param_name => 'missing-info-page',
              :fragment => 'awaiting-information'
          }) %>
</section>
