<nav class="moj-sub-navigation govuk-!-margin-top-0" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" <%= 'aria-current=page' if active == :allocated %>
      href="<%= allocated_prison_prisoners_path(@prison.code) %>">
        See allocations (<%= @summary.allocated_total %>)
      </a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" <%= 'aria-current=page' if active == :unallocated %>
      href="<%= unallocated_prison_prisoners_path(@prison.code) %>">
        Make allocations (<%= @summary.unallocated_total %>)
      </a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" <%= 'aria-current=page' if active == :pending %>
      href="<%= pending_prison_prisoners_path(@prison.code) %>">
        Add missing information (<%= @summary.pending_total %>)
      </a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" <%= 'aria-current=page' if active == :new_arrivals %>
      href="<%= new_arrivals_prison_prisoners_path(@prison.code) %>">
        Newly arrived (<%= @summary.new_arrivals_total %>)
      </a>
    </li>
  </ul>
</nav>
