<nav class="moj-sub-navigation govuk-!-margin-top-0" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" <%= 'aria-current=page' if active == :allocated %>
      href="<%= prison_summary_allocated_path(@prison.code) %>">
        See allocations (<%= @summary.allocated_total %>)
      </a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" <%= 'aria-current=page' if active == :unallocated %>
      href="<%= prison_summary_unallocated_path(@prison.code) %>">
        Make allocations (<%= @summary.unallocated_total %>)
      </a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" <%= 'aria-current=page' if active == :pending %>
      href="<%= prison_summary_pending_path(@prison.code) %>">
        Add missing information (<%= @summary.pending_total %>)
      </a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" <%= 'aria-current=page' if active == :new_arrivals %>
      href="<%= prison_summary_new_arrivals_path(@prison.code) %>">
        Newly arrived (<%= @summary.new_arrivals_total %>)
      </a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" <%= 'aria-current=page' if active == :handovers %>
        href="<%= prison_handovers_path(@prison.code) %>">
        See case handover status (<%= @summary.handovers_total %>)
      </a>
    </li>
  </ul>
</nav>
