<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<h1 class="govuk-heading-xl">Allocations</h1>

<%= render(:partial => 'tabs_start', :locals => {:active => :allocated}) %>

<section class="govuk-tabs__panel" id="allocated">
  <table class="govuk-table responsive tablesorter">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
        <a href="<%= set_search_param('last_name') %>">
          Prisoner name
        </a>
        <%= display_arrow('last_name') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">Prisoner number</th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= set_search_param('earliest_release_date') %>">
          Earliest release date
        </a>
        <%= display_arrow('earliest_release_date') %>
      </th>
      <th class="govuk-table__header" scope="col">POM</th>
      <th class="govuk-table__header" scope="col">Allocation date</th>
      <th class="govuk-table__header sorter-false" scope="col">Action</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @summary.offenders.each_with_index do |offender, i| %>
      <tr class="govuk-table__row allocated_offender_row_<%= i %>">
        <td aria-label="Prisoner name" class="govuk-table__cell"><%= offender.full_name %></td>
        <td aria-label="Prisoner number" class="govuk-table__cell"><%= offender.offender_no %></td>
        <td aria-label="Release date" class="govuk-table__cell">
          <%= format_date(offender.earliest_release_date) %>
        </td>
        <td aria-label="POM" class="govuk-table__cell"><%= offender.allocated_pom_name %></td>
        <td aria-label="Allocation date" class="govuk-table__cell"><%= format_date(offender.allocation_date) %></td>
        <td aria-label="Action" class="govuk-table__cell "><%= link_to "Reallocate", edit_allocations_path(offender.offender_no) %></td>
        <!--
          <td aria-label="Action" class="govuk-table__cell ">
            <#%= link_to "View", allocations_path(nomis_offender_id: offender.offender_no) %>
          </td>
        -->
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :page_data => @page_meta,
              :param_name => 'page',
          }) %>

</section>

<%= render 'tabs_end' %>
