<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<div class="govuk-!-margin-bottom-4">
  <%= render "search/search_box" %>
</div>


<%= render(:partial => 'shared/summary_subnav', :locals => {:active => :missing_information,
                                                            :unallocated_count => @unallocated.count,
                                                            :missing_info_count => @missing_info.count,
                                                            :allocated_count => @allocated.count,
                                                            :new_arrivals_count => @new_arrivals.count
}) %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Add missing information</h1>

<section id="awaiting-information">
  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :data => @offenders,
          }) %>

  <table class="govuk-table responsive tablesorter">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('last_name') %>">
          Prisoner
        </a>
        <%= sort_arrow('last_name') %>
      </th>
      <th class="govuk-table__header" scope="col">Service provider</th>
      <th class="govuk-table__header" scope="col">Tier</th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('awaiting_allocation_for') %>">
          Waiting
        </a>
        <%= sort_arrow('awaiting_allocation_for') %>
      </th>
      <th class="govuk-table__header" scope="col">Action</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @offenders.each_with_index do |offender, i| %>
      <tr class="govuk-table__row offender_row_<%= i %>">
        <td aria-label="Prisoner full name" class="govuk-table__cell ">
          <%= offender.full_name %>
          <br/>
          <span class='govuk-hint govuk-!-margin-bottom-0'>
            <%= offender.offender_no %>
          </span>
        </td>

        <!-- Todo: REFACTOR THIS SECTION TO USE PRESENTERS -->
        <td aria-label="Service provider" class="govuk-table__cell ">
          <% if offender.case_allocation %>
            <%= offender.case_allocation %>
          <% else %>
            Not provided
          <% end %>
        </td>
        <td aria-label="Tier" class="govuk-table__cell ">
          <% if offender.tier %>
            <%= offender.tier %>
          <% else %>
            Not provided
          <% end %>
        </td>
        <td aria-label="Waiting" class="govuk-table__cell"><%= offender.awaiting_allocation_for %> days</td>
        <td aria-label="Action" class="govuk-table__cell" id="<%= "edit_#{offender.offender_no}" %>">
          <% if auto_delius_import_enabled?(@prison.code) %>
            <%= link_to "Update", prison_case_information_path(@prison.code, offender.offender_no) %>
          <% else %>
            <%= link_to "Edit", new_prison_case_information_path(@prison.code, offender.offender_no, sort: params[:sort], page: params[:page] || 1) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :data => @offenders,
          }) %>
</section>
