<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<h1 class="govuk-heading-xl">Allocations</h1>

<%= render(:partial => 'tabs_start', :locals => {:active => :pending}) %>

<section class="govuk-tabs__panel" id="awaiting-information">
  <table class="govuk-table responsive tablesorter">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
        <a href="<%= set_search_param('last_name') %>">
          Prisoner name
        </a>
        <%= display_arrow('last_name') %>
      </th>
      <th class="govuk-table__header" scope="col">Prisoner number</th>
      <th class="govuk-table__header" scope="col">Service provider</th>
      <th class="govuk-table__header" scope="col">Tier</th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= set_search_param('awaiting_allocation_for') %>">
          Waiting
        </a>
        <%= display_arrow('awaiting_allocation_for') %>
      </th>
      <th class="govuk-table__header" scope="col">Action</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @summary.offenders.each_with_index do |offender, i| %>
      <tr class="govuk-table__row offender_row_<%= i %>">
        <td aria-label="Prisoner full name" class="govuk-table__cell "><%= offender.full_name %></td>
        <td aria-label="Prisoner number" class="govuk-table__cell "><%= offender.offender_no %></td>

        <!-- Todo: REFACTOR THIS SECTION TO USE PRESENTERS -->
        <td aria-label="Service provider" class="govuk-table__cell ">
          <% if offender.case_allocation %>
            <%= offender.case_allocation %>
          <% else %>
            Not provided
          <% end %>
        </td>
        <td aria-label="Tier" class="govuk-table__cell ">
          <% if offender.tier %>
            <%= offender.tier %>
          <% else %>
            Not provided
          <% end %>
        </td>
        <td aria-label="Waiting" class="govuk-table__cell"><%= offender.awaiting_allocation_for %> days</td>
        <td aria-label="Action" class="govuk-table__cell "><%= link_to "Edit", new_case_information_path(offender.offender_no) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :page_data => @page_meta,
              :param_name => 'page',
          }) %>
</section>

</section>