<%= form_for(@missing_info,
             url: prison_prisoner_female_missing_info_path(@prison.code, @prisoner.offender_no, sort: params[:sort], page: params[:page]),
             method: :put,
             builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>
  <%= form.govuk_error_summary %>

  <%= render 'case_information/heading',
             heading: "Add complexity of need level for #{@prisoner.full_name_ordered}",
             show_delius_info: false %>

  <p class="govuk-body govuk-!-margin-bottom-7">
    Go to NOMIS MIS reporting and open the folder 085 – OASys &amp; BCS. Select Female Complexity Report.
    If no level is recorded, complete a manual assessment using this <%= link_to "assessment form", asset_path("docs/complexity-of-need/assessment-template.pdf", skip_pipeline: true), target: "_blank" %>.
    You can find more information in this <%= link_to "guidance", asset_path("docs/complexity-of-need/assessment-guidance.pdf", skip_pipeline: true), target: "_blank" %>.
  </p>

  <%= form.govuk_collection_radio_buttons(
          :complexity_level,
          [OpenStruct.new(name: 'High', value: 'high'),
           OpenStruct.new(name: 'Medium', value: 'medium'),
           OpenStruct.new(name: 'Low', value: 'low')],
          :value,
          :name,
          legend: nil
      ) %>

  <div class="govuk-button-group">
    <%= form.submit @next_step_required ? "Save and continue" : "Save and allocate",
                    role: "button",
                    draggable: "false",
                    class: "govuk-button",
                    data: { module: 'govuk-button' } %>
  </div>
<% end %>
