<div class="moj-page-header-actions">
  <div class="moj-page-header-actions__title">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-1"><%= title %></h1>

    <span class="govuk-caption-l">
      Reallocating from: <%= pom_level(pom.position, titleize: false, fallback: '') %> <%= pom.full_name_ordered %>
    </span>

    <% if defined?(new_pom) %>
    <span class="govuk-caption-l">
      Reallocating to: <%= pom_level(new_pom.position, titleize: false, fallback: '') %> <%= new_pom.full_name_ordered %>
    </span>
    <% end %>

    <% unless defined?(hide_cases_remaining) %>
      <span class="govuk-caption-l">
        Cases remaining: <%= defined?(cases_remaining) ? cases_remaining : pom.primary_allocations_count %>
      </span>
    <% end %>
  </div>
</div>
