<% content_for :title, "Choose a POM – Digital Prison Services" %>

<%= link_to 'Back', reallocate_prison_pom_path,
            class: 'govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if flash[:alert] %>
      <%= render 'shared/pom_selection_error_summary', available_poms: @available_poms, message: flash[:alert] %>
    <% end %>

    <%= render partial: 'header_actions', locals: { title: 'Choose a POM to reallocate cases to', pom: @pom } %>

    <div class="govuk-inset-text">
      You can reallocate cases to a single POM in bulk and then repeat until no cases remain.
    </div>
  </div>

  <div class="govuk-grid-column-full">
    <%= form_tag(check_compare_list_prison_reallocation_path, method: :put) do %>
      <%= render 'shared/pom_selection_table',
                 journey: :reallocation,
                 available_poms: @available_poms %>
    <% end %>

    <%= render 'shared/unavailable_poms', poms: @prison_poms + @probation_poms %>
  </div>
</div>
