<h2 class="govuk-heading-l">
  Confirmation of deallocations
</h2>

<p class="govuk-body">The following cases will be deallocated:</p>

<%= form_tag(manage_deallocate_poms_update_path, method: :patch) do %>
  <%= render 'table', hide_checkboxes: true %>
  
  <div class="govuk-button-group">
    <input type="submit" class="govuk-button" value="Deallocate <%= @allocations.count %> <%= 'Case'.pluralize(@allocations.count) %>">
    <%= link_to "Reset Form", manage_deallocate_poms_path, class: "govuk-link" %>
  </div>
<% end %>