<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header govuk-!-width-one-half" scope="row">Prisoner information</td>
      <td class="govuk-table__cell govuk-!-width-one-half"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Current responsibility</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= case_owner_label(@prisoner) %>
      </td>
    </tr>
    <% if Flipflop.show_handover_dates? %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-half">Handover start date</td>
        <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
          <% handover_date, reason =  @prisoner.handover_start_date %>
          <%= format_date(handover_date) %>
          <span class="handover-reason">(<%= reason %>)</span>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-half">Responsibility Handover</td>
        <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
          <% handover_date, reason = @prisoner.responsibility_handover_date %>
          <%= format_date(handover_date, replacement: 'Unknown - missing MAPPA info') %>
          <span class="handover-reason">(<%= reason %>)</span>
        </td>
      </tr>
    <% end %>
  <!-- PENDING DATA
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Early allocation eligibility</td>
      <td class="govuk-table__cell table_cell__left_align"></td>
    </tr>
  -->
  <!-- PENDING DATA
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">COM responsibility handover deadline</td>
      <td class="govuk-table__cell table_cell__left_align"></td>
    </tr>
  -->
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Last known address in Wales</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= humanized_bool(@prisoner.omicable) %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Service provider</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= service_provider_label(@prisoner.case_allocation) %>
      </td>
    </tr>
  </tbody>
</table>
