<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__header govuk-!-width-one-half" scope="row">Prisoner information</td>
      <td class="govuk-table__cell govuk-!-width-one-half"></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Current responsibility</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= case_owner_label(@prisoner) if @prisoner.probation_record.present? %>
      </td>
    </tr>
    <tr class="govuk-table__row" id="handover-start-date">
      <td class="govuk-table__cell govuk-!-width-one-half">Handover start date</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= format_date(probation_field(@prisoner, :handover_start_date), replacement: 'N/A') %>
        <span class="handover-reason">(<%= probation_field(@prisoner, :handover_reason) %>)</span>
      </td>
    </tr>
    <tr class="govuk-table__row" id="responsibility-handover">
      <td class="govuk-table__cell govuk-!-width-one-half">Responsibility handover</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= format_date(probation_field(@prisoner, :responsibility_handover_date), replacement: 'N/A') %>
        <span class="handover-reason">(<%= probation_field(@prisoner, :handover_reason) %>)</span>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Handover type</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= service_provider_label(probation_field(@prisoner, :case_allocation)) %>
      </td>
    </tr>
    <% if @prisoner.probation_record.present? && @prisoner.nps_case? %>
    <tr id="early_allocation" class="govuk-table__row">
      <td class="govuk-table__cell">Early allocation referral</td>
      <td class="govuk-table__cell table_cell__left_align">
        <span id="early_allocation_status">
          <%= early_allocation_status_text(@prisoner) %>
        </span>
        <span id="early_allocation_action" class="pull-right">
          <%= early_allocation_action_link(@prisoner, @prison) %>
        </span>
      </td>
    </tr>
    <% end %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Last known address in Wales</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= humanized_bool(@prisoner.welsh_offender) if @prisoner.probation_record.present? %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-width-one-half">Location</td>
      <td class="govuk-table__cell table_cell__left_align  govuk-!-width-one-half">
        <%= prisoner_location(@prisoner) %>
      </td>
    </tr>
    <tr id="oasys-date" class="govuk-table__row">
      <td class="govuk-table__cell">Last completed OASys</td>
      <td class="govuk-table__cell table_cell__left_align">
        <%= render partial: 'oasys_assessment', locals: {assessment: @oasys_assessment} %>
      </td>
    </tr>
  </tbody>
</table>
