<% content_for :title, "All allocations – Digital Prison Services" %>

<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<h1 class="govuk-heading-xl">Allocations</h1>

<div class="govuk-!-margin-bottom-4">
  <%= render "search/search_box" %>
</div>

<%= render(:partial => 'shared/summary_subnav', :locals => {:active => :allocated,
                                                            :unallocated_count => @unallocated.count,
                                                            :missing_info_count => @missing_info.count,
                                                            :allocated_count => @allocated.count,
                                                            :new_arrivals_count => @new_arrivals.count
}) %>
<h2 class="govuk-heading-l govuk-!-margin-bottom-4">See allocations</h2>

<section id="allocated">
  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :data => @offenders,
          }) %>

  <table class="govuk-table responsive tablesorter">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('last_name') %>">
          Case
        </a>
        <%= sort_arrow('last_name') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('location') %>">
          Location
        </a>
        <%= sort_arrow('location') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('earliest_release_date') %>">
          Earliest release date
        </a>
        <%= sort_arrow('earliest_release_date') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('tier') %>">
          Tier
        </a>
        <%= sort_arrow('tier') %>
      </th>
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('allocated_pom_name') %>">
          POM
        </a>
        <%= sort_arrow('allocated_pom_name') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('allocation_date') %>">
          Allocation date
        </a>
        <%= sort_arrow('allocation_date') %>
      </th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @offenders.each_with_index do |offender, i| %>
      <tr class="govuk-table__row allocated_offender_row_<%= i %>">
        <td aria-label="Prisoner" class="govuk-table__cell">
          <%= link_to offender.full_name, prison_prisoner_allocation_path(@prison.code, prisoner_id: offender.offender_no, sort: params[:sort], page: params[:page] || 1) %>
          <br/>
          <span class='govuk-hint govuk-!-margin-bottom-0'>
            <%= offender.offender_no %>
          </span>
        </td>
        <td aria-label="Location for" class="govuk-table__cell">
          <%= prisoner_location(offender, location_only: true) %>
        </td>
        <td aria-label="Earliest release date" class="govuk-table__cell">
          <% if offender.earliest_release.present? %>
            <%= offender.earliest_release[:type] %>: <br/>
            <%= format_date(offender.earliest_release[:date], replacement: "Unknown") %>
          <% else %>
            Unknown
          <% end %>
        </td>
        <td aria-label="Tier" class="govuk-table__cell">
          <%= offender.tier %>
        </td>
        <td aria-label="POM" class="govuk-table__cell">
          <%= link_to offender.allocated_pom_name, prison_pom_path(offender.prison.code, offender.allocated_pom_nomis_id), class: "govuk-link" %>
        </td>
        <td aria-label="Allocation date" class="govuk-table__cell"><%= format_date(offender.allocation_date) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :data => @offenders,
          }) %>

</section>

