<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<div class="govuk-!-margin-bottom-4">
  <%= render "search/search_box" %>
</div>

<%= render(:partial => 'shared/summary_subnav', :locals => {:active => :new_arrivals,
                                                            :unallocated_count => @unallocated.count,
                                                            :missing_info_count => @missing_info.count,
                                                            :allocated_count => @allocated.count,
                                                            :new_arrivals_count => @new_arrivals.count

}) %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Newly arrived</h1>
<p>
  Case information for these prisoners will be matched with nDelius records in the
  next 24-48 hours. If case information is matched successfully you will be able to
  allocate a POM. If not, the case will move to 'Add missing information’ for you
  to update first.
</p>

<section id="awaiting-allocation">
  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :data => @offenders,
          }) %>

  <table class="govuk-table responsive tablesorter">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('last_name') %>">
          Prisoner
        </a>
        <%= sort_arrow('last_name') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('prison_arrival_date') %>">
          Arrival date
        </a>
        <%= sort_arrow('prison_arrival_date') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('earliest_release_date') %>">
          Earliest release date
        </a>
        <%= sort_arrow('earliest_release_date') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        Matching with nDelius scheduled for
      </th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @offenders.each_with_index do |offender, i| %>
      <tr class="govuk-table__row offender_row_<%= i %>">
        <td aria-label="Prisoner name" class="govuk-table__cell ">
          <%= offender.full_name %>
          <br/>
          <span class='govuk-hint govuk-!-margin-bottom-0'>
            <%= offender.offender_no %>
          </span>
        </td>
        <td aria-label="Arrival date" class="govuk-table__cell">
          <%= format_date(offender.prison_arrival_date) %>
        </td>
        <td aria-label="Earliest release<br/>date" class="govuk-table__cell">
          <%= format_date(offender.earliest_release_date, replacement: "Unknown") %>
        </td>
        <td aria-label="Matching with nDelius scheduled for" class="govuk-table__cell">
          <%= delius_schedule_for(offender.prison_arrival_date) %>, 9:15PM
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :data => @offenders,
          }) %>

</section>
