<% @tasks.each do |task| %>
  <%= render partial: 'shared/info_banner', locals: {
    content: task.long_label.html_safe }
  %>
<% end %>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-one-quarter">
    <img src="<%= prison_prisoner_image_path(@prison.code, @prisoner.offender_no, format: :jpg) %>" alt="Prisoner photo will be here" width="95%">
  </div>
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-grid-row">
      <div class='govuk-grid-column-full'>
        <h2 class="govuk-heading-xl"><%= @prisoner.full_name %></h2>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Prisoner number</span>
        <h3 class="govuk-heading-m"><%= @prisoner.offender_no %></h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">CRN number</span>
        <h3 class="govuk-heading-m"><%= @prisoner.crn || "N/A" %></h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Date of birth</span>
        <h3 class="govuk-heading-m"><%= format_date(@prisoner.date_of_birth) %></h3>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Earliest release date</span>
        <h3 class="govuk-heading-m" id="earliest_release_date"><%= format_date(@prisoner.earliest_release_date, replacement: "Unknown") %></h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Category</span>
        <h3 class="govuk-heading-m" id="category-code"><%= @prisoner.category_code %></h3>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Tier calculation</span>
        <h3 class="govuk-heading-m"><%= @prisoner.tier %></h3>
      </div>
    </div>
    <div class='govuk-grid-row'>
      <div class='govuk-grid-column-full'>
        <div class='hmpps-nomis-button'>
          <%= link_to 'View full profile', digital_prison_service_profile_path(@prisoner.offender_no), class: "govuk-link", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'prisoner_information'%>
<%= render partial: 'shared/offence_info', locals: { editable_prd: true}  %>
<%= render 'prison_allocation' %>
<%= render partial: 'shared/community_information', locals: { editable: false} %>
