<% content_for :title, "View case information – Digital Prison Services" %>

<%= render 'layouts/notice', notice: flash[:notice] %>

<% if @prisoner.needs_a_com? %>
  <%= render partial: 'shared/notifications/offender_needs_a_com', locals: {offender: @prisoner, email_history: @emails_sent_to_ldu} %>
<% end %>

<% @tasks.each do |task| %>
  <% task_presenter = PomTaskPresenter.for(task) %>
  <% content = task_presenter.long_label_link.present? ? link_to(task_presenter.long_label, task_presenter.long_label_link) : task_presenter.long_label %>
  <%= render partial: 'shared/info_banner', locals: { content: content } %>
<% end %>

<% if @prisoner.needs_early_allocation_notify? %>
  <% content_for :info_banner do %>
    <%= @prisoner.full_name %> might be eligible for early allocation to the community probation team.
    You must now <%= link_to 'check and carry out a new assessment', new_prison_prisoner_early_allocation_path(@prison.code, @prisoner.offender_no), class: 'govuk-link' %>
  <% end %>
  <%= render '/layouts/info_banner' %>
<% end %>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-one-quarter">
    <img src="<%= prison_prisoner_image_path(@prison.code, @prisoner.offender_no, format: :jpg) %>" alt="" width="95%">
  </div>
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class='govuk-grid-column-full'>
        <h1 class="govuk-heading-l"><%= @prisoner.full_name %></h1>
      </div>
    </div>
    <div class="case-type-badge">
      <%= render 'shared/badges', offender: @prisoner %>
      <%= vlo_tag(@prisoner) %>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Prisoner number</span>
        <span class="govuk-heading-s"><%= @prisoner.offender_no %></span>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">CRN number</span>
        <span class="govuk-heading-s"><%= probation_field(@prisoner, :crn) || "N/A" %></span>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Date of birth</span>
        <span class="govuk-heading-s"><%= format_date(@prisoner.date_of_birth) %></span>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Earliest release date</span>
        <span class="govuk-heading-s" id="earliest_release_date">
          <% if @prisoner.earliest_release.present? %>
            <%= @prisoner.earliest_release[:type] %>: <br/>
            <%= format_date(@prisoner.earliest_release[:date], replacement: "Unknown") %>
          <% else %>
            Unknown
          <% end %>
        </span>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Category</span>
        <span class="govuk-heading-s" id="category-code"><%= @prisoner.category_label || "Unknown" %></span>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Tier calculation</span>
        <span class="govuk-heading-s"><%= probation_field(@prisoner, :tier) %></span>
      </div>
    </div>
    <div class='govuk-grid-row'>
      <div class='govuk-grid-column-full'>
        <div class='hmpps-nomis-button'>
          <%= link_to 'View case on DPS', digital_prison_service_profile_path(@prisoner.offender_no), class: "govuk-link", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= render 'prisoner_information' %>

    <%= render partial: 'shared/offence_info' %>

    <% if @prisoner.display_current_parole_info? %>
      <%= render partial: 'shared/parole_info' %>
    <% end %>

    <% if @prisoner.previous_parole_reviews.any? %>
      <%= render partial: 'shared/historical_parole' %>
    <% end%>

    <%= render 'prison_allocation' %>
    <%= render 'community_information' %>
    <%= render 'shared/vlo_information', offender: @prisoner, prison_code: @prison.code %>
  </div>
</div>
