<% content_for :title, "View case information – Digital Prison Services" %>

<% if @prisoner.needs_a_com? %>
  <%= render partial: 'shared/notifications/offender_needs_a_com', locals: {offender: @prisoner, email_history: @emails_sent_to_ldu} %>
<% end %>

<% @tasks.each do |task| %>
  <% task_presenter = PomTaskPresenter.new(task) %>
  <% content = task_presenter.long_label_link.present? ? link_to(task_presenter.long_label, task_presenter.long_label_link) : task_presenter.long_label %>
  <%= render partial: 'shared/info_banner', locals: {
    content: content }
  %>
<% end %>

<% if @prisoner.needs_early_allocation_notify? %>
  <% content_for :info_banner do %>
    <%= @prisoner.full_name %> might be eligible for early allocation to the community probation team.
    You must now <%= link_to 'check and carry out a new assessment', new_prison_prisoner_early_allocation_path(@prison.code, @prisoner.offender_no), class: 'govuk-link' %>
  <% end %>
  <%= render '/layouts/info_banner' %>
<% end %>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-one-quarter">
    <img src="<%= prison_prisoner_image_path(@prison.code, @prisoner.offender_no, format: :jpg) %>" alt="" width="95%">
  </div>
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-grid-row">
      <div class='govuk-grid-column-full'>
        <h1 class="govuk-heading-l"><%= @prisoner.full_name %></h1>
      </div>
    </div>
    <div class="case-type-badge">
      <%= render 'shared/badges', offender: @prisoner %>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Prisoner number</span>
        <span class="govuk-heading-m"><%= @prisoner.offender_no %></span>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">CRN number</span>
        <span class="govuk-heading-m"><%= probation_field(@prisoner, :crn) || "N/A" %></span>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Date of birth</span>
        <span class="govuk-heading-m"><%= format_date(@prisoner.date_of_birth) %></span>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Earliest release date</span>
        <span class="govuk-heading-m" id="earliest_release_date">
          <% if @prisoner.earliest_release.present? %>
            <%= @prisoner.earliest_release[:type] %>: <br/>
            <%= format_date(@prisoner.earliest_release[:date], replacement: "Unknown") %>
          <% else %>
            Unknown
          <% end %>
        </span>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Category</span>
        <span class="govuk-heading-m" id="category-code"><%= @prisoner.category_label || "Unknown" %></span>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="govuk-body">Tier calculation</span>
        <span class="govuk-heading-m"><%= probation_field(@prisoner, :tier) %></span>
      </div>
    </div>
    <div class='govuk-grid-row'>
      <div class='govuk-grid-column-full'>
        <div class='hmpps-nomis-button'>
          <%= link_to 'View full profile', digital_prison_service_profile_path(@prisoner.offender_no), class: "govuk-link", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'prisoner_information' %>
<%= render partial: 'shared/offence_info', locals: { editable_thd: true}  %>
<% if @prisoner.current_parole_record.present? %>
  <%= render partial: 'shared/parole_info' %>
<% end %>
<% if @prisoner.previous_parole_records.any? %>
  <%= render partial: 'shared/historical_parole' %>
<% end%>
<%= render 'prison_allocation' %>
<%= render 'community_information' %>
<% if @prisoner.probation_record.present? %>
  <%= render 'shared/vlo_information', victim_liaison_officers: @prisoner.victim_liaison_officers, offender_no: @prisoner.offender_no, prison_code: @prison.code %>
<% end %>
