<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<% if notice.present? %>
  <p class="notification govuk-!-margin-bottom-9" role="group" aria-labelledby="notice-heading">
    <%= notice %>
  </p>
<% end %>

<% if alert.present? %>
  <p class="alert govuk-!-margin-bottom-9" role="group" aria-labelledby="error-summary-heading">
    <%= alert %>
  </p>
<% end %>

<div class="govuk-!-margin-bottom-4">
  <%= render "search/search_box" %>
</div>

<%= render(:partial => 'shared/summary_subnav', :locals => {:active => :unallocated,
                                                            :unallocated_count => @unallocated.count,
                                                            :missing_info_count => @missing_info.count,
                                                            :allocated_count => @allocated.count,
                                                            :new_arrivals_count => @new_arrivals.count
}) %>

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Make allocations</h1>

<section id="awaiting-allocation">
  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :data => @offenders,
          }) %>

  <table class="govuk-table responsive tablesorter">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('last_name') %>">
          Prisoner
        </a>
        <%= sort_arrow('last_name') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('earliest_release_date') %>">
          Earliest release<br/>date
        </a>
        <%= sort_arrow('earliest_release_date') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('case_owner') %>">
          Case owner
        </a>
        <%= sort_arrow('case_owner') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('awaiting_allocation_for') %>">
          Waiting
        </a>
        <%= sort_arrow('awaiting_allocation_for') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">Action</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @offenders.each_with_index do |offender, i| %>
      <tr class="govuk-table__row offender_row_<%= i %>">
        <td aria-label="Prisoner name" class="govuk-table__cell ">
          <%= offender.full_name %>
          <br/>
          <span class='govuk-hint govuk-!-margin-bottom-0'>
            <%= offender.offender_no %>
          </span>
        </td>

        <td aria-label="Earliest release<br/>date" class="govuk-table__cell">
          <%= format_date(offender.earliest_release_date, replacement: 'Unknown') %>
        </td>
        <td aria-label="Case owner" class="govuk-table__cell">
          <%= case_owner_label(offender) %>
        </td>
        <td aria-label="Awaiting allocation for" class="govuk-table__cell">
          <%= offender.awaiting_allocation_for %> days
        </td>
        <td aria-label="Action" class="govuk-table__cell ">
          <%= link_to 'Allocate', prison_prisoner_staff_index_path(@prison.code, offender.offender_no) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :data => @offenders,
          }) %>

</section>
