<% content_for :title, "Make new allocations – Digital Prison Services" %>

<% content_for :switcher do %>
  <%= render '/layouts/prison_switcher' %>
<% end %>

<% if notice.present? %>
  <p class="notification govuk-!-margin-bottom-9" role="group" aria-labelledby="notice-heading">
    <%= notice %>
  </p>
<% end %>

<% if alert.present? %>
  <p class="alert govuk-!-margin-bottom-9" role="group" aria-labelledby="error-summary-heading">
    <%= alert %>
  </p>
<% end %>

<h1 class="govuk-heading-xl">Allocations</h1>

<div class="govuk-!-margin-bottom-4">
  <%= render "search/search_box" %>
</div>

<%= render(:partial => 'shared/summary_subnav', :locals => {:active => :unallocated,
                                                            :unallocated_count => @unallocated.count,
                                                            :missing_info_count => @missing_info.count,
                                                            :allocated_count => @allocated.count,
                                                            :new_arrivals_count => @new_arrivals.count
}) %>

<h2 class="govuk-heading-l govuk-!-margin-bottom-4">Make allocations</h2>

<section id="awaiting-allocation">
  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :data => @offenders,
          }) %>

  <table class="govuk-table responsive tablesorter">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">
        <a href="<%= sort_link('last_name') %>">
          Case
        </a>
        <%= sort_arrow('last_name') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('location') %>">
          Location
        </a>
        <%= sort_arrow('location') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('earliest_release_date') %>">
          Earliest release<br/>date
        </a>
        <%= sort_arrow('earliest_release_date') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('tier') %>">
          Tier
        </a>
        <%= sort_arrow('tier') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('case_owner') %>">
          POM role needed
        </a>
        <%= sort_arrow('case_owner') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('additional_information') %>">
          Additional information
        </a>
        <%= sort_arrow('additional_information') %>
      </th>
      <th class="govuk-table__header sorter-false" scope="col">
        <a href="<%= sort_link('awaiting_allocation_for') %>">
          Working days since entering this prison
        </a>
        <%= sort_arrow('awaiting_allocation_for') %>
      </th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% @offenders.each_with_index do |offender, i| %>
      <tr class="govuk-table__row offender_row_<%= i %>">
        <td aria-label="Prisoner name" class="govuk-table__cell ">
          <%= link_to offender.full_name, prison_prisoner_staff_index_path(@prison.code, offender.offender_no) %>
          <br/>
          <span class='govuk-hint govuk-!-margin-bottom-0'>
            <%= offender.offender_no %>
          </span>
        </td>

        <td aria-label="Location for" class="govuk-table__cell">
          <%= prisoner_location(offender, location_only: true) %>
        </td>
        <td aria-label="Earliest release<br/>date" class="govuk-table__cell">
          <% if offender.earliest_release.present? %>
            <%= offender.earliest_release[:type] %>: <br/>
            <%= format_date(offender.earliest_release[:date], replacement: "Unknown") %>
          <% else %>
            Unknown
          <% end %>
        </td>
        <td aria-label="Tier" class="govuk-table__cell">
          <%= offender.tier %>
        </td>
        <td aria-label="POM role needed" class="govuk-table__cell">
          <%= case_owner_label(offender) %>
        </td>
        <td aria-label="Additional information" class="govuk-table__cell">
          <%= additional_information(offender) %>
        </td>
        <td aria-label="Working days since entering this prison" class="govuk-table__cell">
          <%= offender.awaiting_allocation_for(only_working_days: true) %> days
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= render(
          :partial => 'shared/pagination',
          :locals => {
              :data => @offenders,
          }) %>

</section>
