<!DOCTYPE html>
<html lang="en" class="govuk-template js flexbox">
  <head>
    <%= render 'layouts/google_tag_manager_head' %>
    <title><%= yield(:title).blank? ? "Manage Offenders in Custody" : yield(:title).to_s%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="govuk-template__body js-enabled">
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link" style="outline: none">
      <%= I18n.t('views.navigation.skip_to_main_content') %>
    </a>
    <%= render 'layouts/google_tag_manager_body' %>
    <%= render '/layouts/header' %>
    <%= render 'layouts/primary_navigation' %>
    <%= yield(:switcher) if content_for?(:switcher) %>
    <%= render 'layouts/service_notification_banner' %>

    <div class='govuk-width-container'>
      <main class='govuk-main-wrapper' id='main-content' role='main'>

        <% content_for :info_banner do %>
          An error is causing some people who have been released to reappear in Manage POM cases.
          This problem will be fixed as soon as possible. In the meantime, do not allocate someone
          if you recognise they have recently been released.
        <% end %>
        <%= render '/layouts/info_banner' %>

        <%= content_for?(:main_content) ? yield(:main_content) : yield %>
      </main>
    </div>

    <%= render '/layouts/footer' %>
    <script>window.GOVUKFrontend.initAll()</script>
  </body>
</html>
