<!DOCTYPE html>
<html lang="en" class="govuk-template js flexbox">
  <head>
    <%= render 'layouts/gtm/head' %>
    <title><%= yield(:title).blank? ? t('global.default_page_title') : yield(:title).to_s %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if yield(:turbolinks_nocache) == 'true' %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if dps_components_retrieved_successfully? %>
      <%= dps_component_css('header') %>
      <%= dps_component_js('header') %>
      <%= dps_component_css('footer') %>
      <%= dps_component_js('footer') %>
    <% end %>
  </head>

  <body class="govuk-template__body">
    <%= javascript_tag nonce: true do %>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end %>
    <%= render 'layouts/gtm/body' %>
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link" style="outline: none">
      <%= I18n.t('views.navigation.skip_to_main_content') %>
    </a>
    <%= render '/layouts/header' %>
    <%= render 'layouts/primary_navigation' if @prison %>
    <%= yield(:switcher) if content_for?(:switcher) %>
    <%= render 'layouts/service_notification_banner' if @service_notifications.present? %>

    <div class='govuk-width-container'>
      <main class='govuk-main-wrapper' id='main-content' role='main'>

        <%= content_for?(:main_content) ? yield(:main_content) : yield %>
      </main>
    </div>

    <%= render '/layouts/footer' %>
    <%= javascript_tag nonce: true, type: 'module' do %>
      window.GOVUKFrontend.initAll()
      window.initHeader() // DPS common header
    <% end %>
  </body>
</html>
