<!DOCTYPE html>
<html class="govuk-template js flexbox">
  <head>
    <%= render 'layouts/google_tag_manager_head' %>
    <title><%= yield(:title).blank? ? "Manage Offenders in Custody" : yield(:title).to_s%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="govuk-template__body js-enabled">
    <%= render 'layouts/google_tag_manager_body' %>
    <%= render '/layouts/header' %>
    <%= render 'layouts/primary_navigation' %>
    <%= yield(:switcher) if content_for?(:switcher) %>
    <%= render 'layouts/service_notification_banner' %>

    <div class='govuk-width-container'>
      <main class='govuk-main-wrapper' id='main-content' role='main'>

        <%= yield %>
      </main>
    </div>

    <%= render '/layouts/footer' %>
    <script>window.GOVUKFrontend.initAll()</script>
  </body>
</html>
