<!DOCTYPE html>
<html lang="en" class="govuk-template js flexbox">
  <head>
    <%= render 'layouts/gtm/head' %>
    <title><%= yield(:title).blank? ? "Manage Offenders in Custody" : yield(:title).to_s %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if yield(:turbolinks_nocache) == 'true' %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= dps_header_css %>
    <%= dps_footer_css %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= dps_header_js %>
    <%= dps_footer_js %>
  </head>

  <body class="govuk-template__body js-enabled">
    <%= render 'layouts/gtm/body' %>
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link" style="outline: none">
      <%= I18n.t('views.navigation.skip_to_main_content') %>
    </a>
    <%= render '/layouts/header' %>
    <%= render 'layouts/primary_navigation' if @prison %>
    <%= yield(:switcher) if content_for?(:switcher) %>
    <%= render 'layouts/service_notification_banner' if @service_notifications.present? %>

    <div class='govuk-width-container'>
      <main class='govuk-main-wrapper' id='main-content' role='main'>

        <%= content_for?(:main_content) ? yield(:main_content) : yield %>
      </main>
    </div>

    <%= render '/layouts/footer' %>
    <script>window.GOVUKFrontend.initAll()</script>
  </body>
</html>
