<% content_for :title, translate("handovers.page_title.default.#{@pom_view ? 'pom' : 'homd'}") %>

<% content_for :main_content do %>
  <% content_for :switcher do %>
    <%= render '/layouts/prison_switcher' %>
  <% end %>

  <%= render 'layouts/notice', notice: flash[:notice] %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        <%= translate("handovers.page_header.#{@pom_view ? 'pom' : 'homd'}") %>
      </h1>

      <p>
        <% if current_user_is_pom? && current_user_is_spo? %>
          <% if @pom_view %>
            <%= link_to 'See all handover cases in this prison', url_for,
                        class: %w[govuk-link govuk-link--no-visited-state] %>
          <% else %>
            <%= link_to 'See your handover cases only ', url_for(params: { pom: '1' }),
                        class: %w[govuk-link govuk-link--no-visited-state] %>
          <% end %>
        <% end %>
      </p>
    </div>

    <% if @pom_view %>
      <div class="govuk-grid-column-one-third">
        <%= render '/handovers/more_on_handovers' %>
      </div>
    <% end %>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class='moj-sub-navigation__list'>
          <% [
               ['upcoming', "Upcoming handovers (#{@handover_cases.upcoming.count})"],
               ['in_progress', "Handovers in progress (#{@handover_cases.in_progress.count})"],
               ['overdue_tasks', "Overdue tasks (#{@handover_cases.overdue_tasks.count})"],
               ['com_allocation_overdue', "COM allocation overdue (#{@handover_cases.com_allocation_overdue.count})"],
             ].each do |action, title|
          %>
            <li class="moj-sub-navigation__item">
              <%= handover_tab_navigation_link action, title, @pom_view %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <%= render 'layouts/notice', notice: flash[:handover_success_notice] %>

  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>
