<% content_for :main_content do %>
  <% content_for :switcher do %>
    <%= render '/layouts/prison_switcher' %>
  <% end %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Your handover cases
      </h1>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= render '/handovers/more_on_handovers' %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav class="moj-sub-navigation" aria-label="Sub navigation">
        <ul class='moj-sub-navigation__list'>
          <% [
               ['upcoming', "Upcoming handovers (#{@handover_cases.upcoming.count})", upcoming_prison_handovers_path(@prison_id)],
               ['in_progress', "Handovers in progress (#{@handover_cases.in_progress.count})", in_progress_prison_handovers_path(@prison_id)],
               ['overdue_tasks', 'Overdue tasks (_)', '#'],
               ['com_allocation_overdue', 'COM allocation overdue (_)', '#'],
             ].each do |action, title, path|
          %>
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link govuk-link--no-visited-state"
                 <% if controller.action_name == action -%>aria-current="page"<% end -%>
                 href="<%= path %>">
                <%= title %>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <% if flash[:handover_success_notice].present? %>
    <div class="moj-banner moj-banner--success">
      <svg class="moj-banner__icon" fill="currentColor" role="img" focusable="false"
           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path>
      </svg>

      <div class="moj-banner__message">
        <span class="moj-banner__assistive">Success</span>
        <%= flash[:handover_success_notice] %>
      </div>
    </div>
  <% end %>

  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>
