<td class="govuk-table__cell handover-progress">
  <% if USE_APR_2023_HANDOVER_POLICY_CHANGES %>
    <strong><%= service_provider_label(offender.case_allocation) %> handover</strong>
  <% end %>
  <ul class="govuk-list govuk-body-s task-summary-checklist">
    <% offender.handover_progress_task_completion_data.each do |name, complete| %>
      <li class="none">
        <% if complete %>
          <img src="<%= image_path('check.png') %>" alt="task complete">
        <% else %>
          <img src="<%= image_path('cross.png') %>" alt="task not started">
        <% end %>
        <%= translate "handovers.progress.short_description.#{name}" %>
      </li>
    <% end %>
  </ul>
  <% if @pom_view %>
    <p><%= handover_record_progress_link(prison_id, offender.offender_no) %></p>
  <% end %>
</td>
